In [12]:
import pandas as pd

In [13]:
import urllib.request 
import os.path

data_dir = 'http://gawron.sdsu.edu/python_for_ss/course_core/data/'
target_url1 = os.path.join(data_dir,'style-notebook.css')
target_url2 = os.path.join(data_dir,'style-table.css')

with urllib.request.urlopen(target_url1) as fh1:
    css1 = fh1.read().decode('utf8')
with urllib.request.urlopen(target_url2) as fh2:
    css2 = fh2.read().decode('utf8')
css = css1 + css2

In [14]:
from IPython.core.display import HTML
HTML('<style>{}</style>'.format(css))

In [16]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                           title  year
0                 The Patriarchs  2009
1            Angels in the Attic  1998
2                    The Rapture  1991
3  Star na si Van Damme Stallone  2016
4                     Sweet Talk  2004

In [17]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [18]:
# How many movies are listed in the titles dataframe?

len(titles)

226013

In [22]:
# What are the earliest two films listed in the titles dataframe?

titles.sort_values('year').head(2)

                    title  year
82467          Miss Jerry  1894
31347  The Startled Lover  1898

In [23]:
# How many movies have the title "Hamlet"?

len(titles[titles.title == 'Hamlet'])

20

In [21]:
# How many movies are titled "North by Northwest"?

len(titles[titles.title == 'North by Northwest'])

1

In [9]:
# When was the first movie titled "Hamlet" made?

titles[titles.title == 'Hamlet'].sort_values('year').head(1)

         title  year
119520  Hamlet  1910

In [10]:
# List all of the "Treasure Island" movies from earliest to most recent.

titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
89106   Treasure Island  1918
196051  Treasure Island  1920
154459  Treasure Island  1934
174074  Treasure Island  1950
72215   Treasure Island  1972
66550   Treasure Island  1973
18201   Treasure Island  1985
80930   Treasure Island  1999

In [24]:
# How many movies were made in the year 1950?

len(titles[titles.year == 1950])

1109

In [25]:
# How many movies were made in the year 1960?

len(titles[titles.year == 1960])

1496

In [26]:
# How many movies were made from 1950 through 1959?

t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

12664

In [27]:
len(t[t.year // 10 == 195])

12664

In [28]:
# In what years has a movie titled "Batman" been released?

t = titles
t[t.title == 'Batman']

        title  year
59853  Batman  1943
79855  Batman  1989

In [29]:
# How many roles were there in the movie "Inception"?

c = cast
len(c[c.title == 'Inception'])

78

In [30]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

27

In [31]:
# But how many roles in the movie "Inception" did receive an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

In [32]:
# Display the cast of "North by Northwest" in their correct "n"-value order,
# ignoring roles that did not earn a numeric "n" value.

c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort_values('n')
c

,title,year,name,type,character,n
797150,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3201980,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1333732,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2878461,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
326415,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2780220,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1551491,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1167105,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2239203,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1657968,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
609229,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2100440,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
425645,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1379980,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
189719,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1267109,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [20]:
# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort_values('n')
c

,title,year,name,type,character,n
1482373,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
282327,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
323726,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1273111,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2356004,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1258789,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

In [21]:
# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort_values('n')
c

          title  year                 name     type          character   n
282328   Sleuth  2007        Michael Caine    actor             Andrew   1
1123295  Sleuth  2007             Jude Law    actor               Milo   2
1569094  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
223724   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
323727   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2356003  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
2895151  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

In [22]:
# How many roles were credited in the silent 1921 version of Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [23]:
# How many roles were credited in Branaghâ€™s 1996 Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

55

In [24]:
# How many "Hamlet" roles have been listed in all film credits through history?

c = cast
c = c[c.character == 'Hamlet']
len(c)

81

In [25]:
# How many people have played an "Ophelia"?

c = cast
c = c[c.character == 'Ophelia']
len(c)

# That was my original answer.
# But 9peppe on GitHub points out I am wrong! Instead:

len(cast[cast.character == "Ophelia"].name.unique())

# Can you work out why the two answers are different?

93

In [26]:
# How many people have played a role called "The Dude"?

c = cast
c = c[c.character == 'The Dude'].name.unique()
len(c)

16

In [27]:
# How many people have played a role called "The Stranger"?

c = cast
len(c[c.character == 'The Stranger'].name.unique())

186

In [28]:
# How many roles has Sidney Poitier played throughout his career?

c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

In [29]:
# How many roles has Judi Dench played?

c = cast
c = c[c.name == 'Judi Dench']
len(c)

51

In [30]:
# List the supporting roles (having n=2) played by Cary Grant in the 1940s,
# in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort_values('year')
c

                   title  year        name   type    character  n
757362  My Favorite Wife  1940  Cary Grant  actor         Nick  2
757372    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

In [31]:
# List the leading roles that Cary Grant played in the 1940s in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1 ]
c = c.sort_values('year')
c

,title,year,name,type,character,n
757387,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
757344,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
757389,The Philadelphia Story,1940,Cary Grant,actor,C.K. Dexter Haven,1
757377,Suspicion,1941,Cary Grant,actor,Johnnie,1
757391,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
757368,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
757335,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
757360,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
757361,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
757369,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
757327,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
757364,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
757363,Night and Day,1946,Cary Grant,actor,Cole Porter,1
757366,Notorious,1946,Cary Grant,actor,Devlin,1
757383,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1
757384,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
757359,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
757339,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
757348,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

In [32]:
# How many roles were available for actors in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

146164

In [33]:
# How many roles were available for actresses in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

53430

In [34]:
# How many leading roles (n=1) were available
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

61005

In [35]:
# How many non-leading roles were available through
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1037396

In [36]:
# How many roles through 1980 were minor enough
# that they did not warrant a numeric "n" rank?

c = casta
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

409437