# Python Types Assignment 2023 Solution

For the problems in this assignment, assume all the definitions in the next cell, and check your answers by evaluating the next cell and verifying that your answers give the required results.

In [1]:
# Note: the interpretation we will work with for city distances is that it is a weighted graph representing 
# city distances.  The weights represent the distance between the cities. 
city_distances = {'New York': {'Chicago': 790, 'Boston': 215, 'St. Louis': 953, 'Baltimore':188},
                   'Chicago': {'Denver': 1_002, 'Omaha': 467, 'Salt Lake City':1_397},
                   'Denver': {'Phoenix': 865, 'Salt Lake City': 528, },
                   'Phoenix': { 'Albuquerque': 419,  'Reno': 739, 'San Diego': 355},
                   'Dallas' : {'Houston': 241}
                  }
capitals = [ ('France', 'Paris'), ('Italy', 'Rome'), ('Germany', 'Berlin'),  ('England', 'London'),
                          ('Sweden', 'Stockholm'), ('Norway', 'Oslo'), ('Poland', 'Warsaw')]
country2capital = dict(capitals)
dwarves = ('Sneezy', 'Doc', 'Sleepy','Happy','Dopey','Grumpy', 'Bashful')
secret_word = "sesame bagel"
historical_records = [{'name':'Fred Flinstone',
                     'spouse': 'Wilma',
                       'favorite_tv_shows': ['The Honeymooners', 'The Jetsons'],
                      'town of residence': 'Bedrock'},
                    {'name':'Barney Rubble',
                     'spouse': 'Elizabeth',
                     'favorite_tv_shows': ['The Crown', 'Bridgerton'],
                      'town of residence': 'Bedrock'},
                  ]

## Part One

## Exercise One

In the next cell, write expression that accesses `dwarves` and returns the value `"Bashful"`.

Container

In [95]:
dwarves

('Sneezy', 'Doc', 'Sleepy', 'Happy', 'Dopey', 'Grumpy', 'Bashful')

Solution

In [3]:
dwarves[-1]

'Bashful'

## Exercise Two

In the next cell, write an expression that accesses `secret_word` and returns the value `"m"`.
`.

Container

In [96]:
secret_word

'sesame bagel'

Solution

In [5]:
secret_word[4]

'm'

## Exercise Three

In the next cell, write an expression that accesses `dwarves` and produces an `IndexError`.  Try to make the index you use to access `dwarves` as small as possible.

Container

In [3]:
dwarves

('Sneezy', 'Doc', 'Sleepy', 'Happy', 'Dopey', 'Grumpy', 'Bashful')

Solution:

In [4]:
dwarves[7]

IndexError: tuple index out of range

**Note**: What we label the solution for a problem is always a full-credit answer; what we label as Comment is always discussion that may be helpful to understanding the purpose of the problem or the reasoning behind a solution, but is not required for a full-credit answer.

**Comment**: A `tuple` is a **Sequence**. The maximum legal index for any
sequence `seq` is `seq[len(seq) - 1]`.  Therefore the smallest index
that will raise an error is `len(seq)`.  For `dwarves` we have:

In [98]:
len(dwarves)

7

So this is equivalent to the full-credit answer above.

In [97]:
dwarves[len(dwarves)]

IndexError: tuple index out of range

To demonstrate, the the index 1 less than `len(dwarves)` is valid.

In [99]:
dwarves[len(dwarves)-1]

'Bashful'

## Exercise Four

In the next cell, write an expression that accesses `dwarves` and returns `"ope"`.  There is more than one answer.  See if you can find two.

Container

In [100]:
dwarves

('Sneezy', 'Doc', 'Sleepy', 'Happy', 'Dopey', 'Grumpy', 'Bashful')

Solution One:

In [102]:
dwarves[4][1:4]

'ope'

Solution Two:

In [103]:
dwarves[-3][1:4]

'ope'

 ## Exercise Five
 
 In the next cell, write **a single Python expression** that accesses `secret_word` and returns
 
 ```
 ['sesame','bagel']
 ```
 
 You will need to use a string **method**, that is, a function called with the syntax `secret_word.function(...)`.

Container:

In [107]:
secret_word

'sesame bagel'

Solution:

In [13]:
secret_word.split()

['sesame', 'bagel']

Comment: The `.split()` method is one of tho most common ways to go from
string to list.  It allows you some flexibility in how you **chunk** your string by letting you choose the "split" character.

In [105]:
secret_word.split('m')

['sesa', 'e bagel']

## Exercise Six

Explain what happens  when the following expression is evaluated.  Edit it to be an expression that returns `"h"`.

In [82]:
dwarves[6]['h']

TypeError: string indices must be integers

Solution:

(Explain what happens when the ... expression is evaluated.)

`dwarves[6]` denotes the string `Bashful`.  Strings are Python sequences and must be accessed by **positional indices** (integers specifying the position of a character in the string). Using anything other than an integer raises a `TypeError`.

Solution:

(Edit it to be an expression that returns "h".)

In [84]:
dwarves[6][3]

'h'

Comment.  

Demonstrating that `dwarves[6]` denotes `"Bashful"`.

In [109]:
dwarves[6]

'Bashful'

Comment.

Demonstrating that accessing a string with an non-integer index raises a `TypeError`.

In [83]:
"Bashful"['h']

TypeError: string indices must be integers

## Exercise Seven

In the next cell, write an expression that accesses `dwarves[2]` and returns `True`. 

You will need to perform a Boolean test.

Solution One:

In [17]:
dwarves[2]  == 'Sleepy'

True

Solution Two:

In [2]:
'Sleep' in dwarves[2]

True

Comment

This problem calls for a `Boolean` test that returns `True`.  A **Boolean
test** is a test that returns either `True` or `False` when applied. Some other examples of Boolean tests that work on strings.

In [92]:
print('Sleepy'.isupper())
print('Sleepy'.istitle())
print('Sleepy'.islower())
print('Sleepy' < 'Zooey')

False
True
False
True

The `<` operator is always used as a Boolean test.  When applied to strings it checks that the string on the left comes before the string on the right in alphabetical order.  When applied to numbers it just checks that the number on the left is smaller.

In [91]:
print(2<3)
print(3<2)
print(2<2)

True
False
False

 ## Exercise Eight A

In the next cell, write an expression that accesses `capitals` and raises
a `TypeError`.

In [ ]:
Container:

In [3]:
capitals

[('France', 'Paris'),
 ('Italy', 'Rome'),
 ('Germany', 'Berlin'),
 ('England', 'London'),
 ('Sweden', 'Stockholm'),
 ('Norway', 'Oslo'),
 ('Poland', 'Warsaw')]

Solution One:

In [4]:
capitals + 'X'

TypeError: can only concatenate list (not "str") to list

Solution Two:

In [5]:
capitals['France']

TypeError: list indices must be integers or slices, not str

## Exercise Eight B

In the next cell, write an expression that accesses `capitals` and raises
an `IndexError`.  If this can't be done, explain why.

Solution:

In [6]:
capitals[len(capitals)]

IndexError: list index out of range

Comment:

`capitals` is a list, which a sequence(list, tuple, string),  Accessing  a list with an numerical index that's too large will raise an `IndexError`.

## Exercise Eight C

In the next cell, write an expression that accesses `capitals` and raises
a `KeyError`.  If this can't be done, explain why.

Solution one:

Only dictionaries and sets can raise `KeyError`s.  Since `capitals` is a list, it can't be done.

In [97]:
capitals

[('France', 'Paris'),
 ('Italy', 'Rome'),
 ('Germany', 'Berlin'),
 ('England', 'London'),
 ('Sweden', 'Stockholm'),
 ('Norway', 'Oslo'),
 ('Poland', 'Warsaw')]

Solution Two:

Since only dictionaries and sets can raise `KeyError`s,
the only way to do it is to change the list to a set or a dictionary.

In [117]:
print(capitals)
print(dict(capitals))
dict(capitals)['Jerome']

[('France', 'Paris'), ('Italy', 'Rome'), ('Germany', 'Berlin'), ('England', 'London'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo'), ('Poland', 'Warsaw')]
{'France': 'Paris', 'Italy': 'Rome', 'Germany': 'Berlin', 'England': 'London', 'Sweden': 'Stockholm', 'Norway': 'Oslo', 'Poland': 'Warsaw'}

KeyError: 'Jerome'

Or using `.remove(X)` with a set.  Reviewing how `.remove()` works first:

In [119]:
print(capitals)
S = set(capitals)
print(S)
S.remove(('France','Paris'))
print(S)

[('France', 'Paris'), ('Italy', 'Rome'), ('Germany', 'Berlin'), ('England', 'London'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo'), ('Poland', 'Warsaw')]
{('France', 'Paris'), ('Poland', 'Warsaw'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo'), ('Italy', 'Rome'), ('Germany', 'Berlin'), ('England', 'London')}
{('Poland', 'Warsaw'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo'), ('Italy', 'Rome'), ('Germany', 'Berlin'), ('England', 'London')}

But trying to remove something that is not  a member of the set raises
a `KeyError`.

In [100]:
S.remove('Jerome')

KeyError: 'Jerome'

## Exercise Nine 

In the next cell, write an expression that accesses `city_distances` and returns `419`.

Container:

In [121]:
city_distances

{'New York': {'Chicago': 790,
  'Boston': 215,
  'St. Louis': 953,
  'Baltimore': 188},
 'Chicago': {'Denver': 1002, 'Omaha': 467, 'Salt Lake City': 1397},
 'Denver': {'Phoenix': 865, 'Salt Lake City': 528},
 'Phoenix': {'Albuquerque': 419, 'Reno': 739, 'San Diego': 355},
 'Dallas': {'Houston': 241}}

Solution:

In [102]:
city_distances['Phoenix']['Albuquerque']

419

Comment:

Using the key `'Phoenix'` we get a dictionary that has
419 as a value (for the key `'Albuquerque'`).

In [101]:
city_distances['Phoenix']

{'Albuquerque': 419, 'Reno': 739, 'San Diego': 355}

So we use `'Albuquerque'` as a second key:

In [123]:
city_distances['Phoenix']['Albuquerque']

419

## Exercise Ten A

In the next cell, write an expression that accesses `capitals` and returns `"Stockholm"`.

Container:

In [124]:
capitals

[('France', 'Paris'),
 ('Italy', 'Rome'),
 ('Germany', 'Berlin'),
 ('England', 'London'),
 ('Sweden', 'Stockholm'),
 ('Norway', 'Oslo'),
 ('Poland', 'Warsaw')]

Solution:

Second (index = 1) member of the fifth (index= 4) tuple.

In [126]:
capitals[4][1]

'Stockholm'

## Exercise Ten B

In the next cell, write an expression that accesses `country2capital` and returns `"Stockholm"`.

Container:

In [127]:
country2capital

{'France': 'Paris',
 'Italy': 'Rome',
 'Germany': 'Berlin',
 'England': 'London',
 'Sweden': 'Stockholm',
 'Norway': 'Oslo',
 'Poland': 'Warsaw'}

Solution:

In [128]:
country2capital['Sweden']

'Stockholm'

## Exercise Eleven

In the next cell, write an expression that accesses `historical_records` and returns `Jetsons`. 
(There's more than one way to do this. The easy way uses the `.split(...)` method on strings.)

Container:

In [103]:
historical_records

[{'name': 'Fred Flinstone',
  'spouse': 'Wilma',
  'favorite_tv_shows': ['The Honeymooners', 'The Jetsons'],
  'town of residence': 'Bedrock'},
 {'name': 'Barney Rubble',
  'spouse': 'Elizabeth',
  'favorite_tv_shows': ['The Crown', 'Bridgerton'],
  'town of residence': 'Bedrock'}]

Solution One (use `.split()`):

In [135]:
historical_records[0]['favorite_tv_shows'][1].split()[1]

'Jetsons'

Solution Two (use a slice):

In [137]:
historical_records[0]['favorite_tv_shows'][1][4:]

'Jetsons'

Comment:

This is Russian dolls, containers inside containers.

Working our way down, one container at a time, we have:

In [105]:
historical_records[0]

{'name': 'Fred Flinstone',
 'spouse': 'Wilma',
 'favorite_tv_shows': ['The Honeymooners', 'The Jetsons'],
 'town of residence': 'Bedrock'}

In [106]:
historical_records[0]['favorite_tv_shows']

['The Honeymooners', 'The Jetsons']

In [132]:
historical_records[0]['favorite_tv_shows'][1]

'The Jetsons'

And now it's a string and we choose one of two ways to get to substring 
`Jetsons`.

 (a) Use `.split()`, an easy way to get from a string to a list containing
 the substring as an element.

In [109]:
historical_records[0]['favorite_tv_shows'][1].split()

['The', 'Jetsons']

In [108]:
historical_records[0]['favorite_tv_shows'][1].split()[1]

'Jetsons'

(b) use a slice

In [111]:
historical_records[0]['favorite_tv_shows'][1][4:]

'Jetsons'

## Exercise Twelve

In the next cell, write an expression that accesses `historical_records` and returns `"roc"`.

Solution One:

In [ ]:
historical_records[0]['town of residence'][-4:-1]

Solution Two:

In [114]:
historical_records[0]['town of residence'][3:6]

'roc'

Comment:

The last part is a slice of a string, which can be done multiple ways:

In [139]:
historical_records[0]['town of residence']

'Bedrock'

In [40]:
'Bedrock'[-4:-1]

'roc'

In [116]:
'Bedrock'[3:6]

'roc'

## Exercise Thirteen

Can you write an expression that sets the first element of `dwarves` to be `"Thorin"`.  If not, why not?

You may use the next cell to illustrate your answer.

Solution One:

This can't be done, because `dwarves` is a `tuple` and `tuple`s are immutable.

In [140]:
dwarves

('Sneezy', 'Doc', 'Sleepy', 'Happy', 'Dopey', 'Grumpy', 'Bashful')

Illustrating:

In [41]:
dwarves[0] = 'Thorin'

TypeError: 'tuple' object does not support item assignment

Solution Two:

In order to do this, we would have to change the type of `dwarves`, for
example, turning into a list which could be updated, then (possibly)
converting it back.

In [120]:
L = list(dwarves)
L[0] = 'Thorin'
L

['Thorin', 'Doc', 'Sleepy', 'Happy', 'Dopey', 'Grumpy', 'Bashful']

In [43]:
tuple(L)

('Thorin', 'Doc', 'Sleepy', 'Happy', 'Dopey', 'Grumpy', 'Bashful')

## Exercise Fourteen

In the next cell, write an expression that accesses `capitals[-2]` and returns `True`.

Container:

In [141]:
capitals[-2]

('Norway', 'Oslo')

Solution (three of many):

In [124]:
len(capitals[-2]) == 2

True

In [122]:
capitals[-2]  == ('Norway', 'Oslo')

True

In [123]:
capitals[-2][1]  == 'Oslo'

True

## Exercise Fifteen

In the next cell, write an expression that accesses `city_distances` and returns 
a dictionary with three keys. Would your answer be any different if you were asked to
return a dictionary of length 3?  If you say yes, produce a different answer; if
you say no, demonstrate that your answer to the first question is also an answer to
the second.  You will need to create a new cell below the code cell below this one
for your second answer.

Container:

In [125]:
city_distances

{'New York': {'Chicago': 790,
  'Boston': 215,
  'St. Louis': 953,
  'Baltimore': 188},
 'Chicago': {'Denver': 1002, 'Omaha': 467, 'Salt Lake City': 1397},
 'Denver': {'Phoenix': 865, 'Salt Lake City': 528},
 'Phoenix': {'Albuquerque': 419, 'Reno': 739, 'San Diego': 355},
 'Dallas': {'Houston': 241}}

Solution:

In [48]:
city_distances['Chicago']

{'Denver': 1002, 'Omaha': 467, 'Salt Lake City': 1397}

A dictionary with three keys is by definition a dictionary of length 3.

In [49]:
len(city_distances['Chicago'])

3

## Exercise Sixteen

In the next cell update `historical_records` so that Barney Rubble's spouse 
changes from `"Elizabeth"`  to "`Betty"`.

Container:

In [126]:
historical_records[1]

{'name': 'Barney Rubble',
 'spouse': 'Elizabeth',
 'favorite_tv_shows': ['The Crown', 'Bridgerton'],
 'town of residence': 'Bedrock'}

Content to be updated:

In [143]:
historical_records[1]['spouse']

'Elizabeth'

Solution:

In [52]:
historical_records[1]['spouse'] = 'Betty'

In [54]:
historical_records[1]

{'name': 'Barney Rubble',
 'spouse': 'Betty',
 'favorite_tv_shows': ['The Crown', 'Bridgerton'],
 'town of residence': 'Bedrock'}

## Exercise Seventeen

The next cell raises a `TypeError`.  Explain why. Be sure to say what string is causing the rror.

In [144]:
historical_records[0]['spouse'][0]  = 'V'

TypeError: 'str' object does not support item assignment

Solution:

This is a type error because strings are **immutable**.

The string causing the error is 'Wilma' as we demonstrate.

In [145]:
s = historical_records[0]['spouse']
s

'Wilma'

In [57]:
s[0] = 'V'

TypeError: 'str' object does not support item assignment

Comment:

This `TypeError` is the same
kind of error as in Exercise 13, which asks about updating the tuple `dwarves`.

Strings are also immutable.  Here's a summary of the mutability facts.

$$
\begin{array}[t]{c}
\text{Python Container Types}\\
\begin{array}[t]{lll}
\text{Type} & \text{Mutable?}& \text{SuperType}\\
\hline
\text{list} & \text{Yes} &\text{Sequence}\\
\text{tuple} & \text{No}&\text{Sequence}\\
\text{str}  &  \text{No} & \text{Sequence}\\
\text{dict} & \text{Yes}&\text{Mapping}\\
\text{set} & \text{Yes}& \text{Set}\\
\text{frozenset} & \text{No}& \text{Set} \\
\end{array}
\end{array}
$$

So the one basic container type that doesn't have a mutable version is
strings.  Well, strings are different in other ways too.  They can't contain
anything but other strings (they're "flat").  This allows a certain simplicity.  The strings "cat" and "bat" don't contain references to the memory locations where "a" and "t" are kept; they are just sequences of length 3 containing different copies of the unicode code points for "a" and "t".

Most importantly, if there were mutable strings, they couldn't be keys in a dictionary.  If we need updatable sequences of characters, we can use lists (or dip into something we haven't talked about yet, `bytearray`s).  Strings have signficant limitations, but they are perfectly suited to the jobs they do.

## Exercise Eighteen

In this problem, your task is to write an assignment statement that changes the distance from
Chicago to New York in `city_distances` from 790 to 789.

Put your answer, which should be an assignment, in the next cell.

Be sure to check your answer as well by accessing the updated data value.

Solution:

Doing the update

In [148]:
city_distances['New York']['Chicago'] = 789

Checking thgat it worked

In [149]:
city_distances['New York']['Chicago']

789

##       Part Two

Write down expressions to retrieve the given values from the given variables.

1) `'pp'` from `dwarves`

In [150]:
dwarves

('Sneezy', 'Doc', 'Sleepy', 'Happy', 'Dopey', 'Grumpy', 'Bashful')

In [60]:
dwarves[3][2:4]

'pp'

2) `'rsa'` from `country2capital`

In [151]:
country2capital

{'France': 'Paris',
 'Italy': 'Rome',
 'Germany': 'Berlin',
 'England': 'London',
 'Sweden': 'Stockholm',
 'Norway': 'Oslo',
 'Poland': 'Warsaw'}

In [153]:
country2capital['Poland'][2:5]

'rsa'

3) `'rma'` from `capitals`

In [155]:
capitals

[('France', 'Paris'),
 ('Italy', 'Rome'),
 ('Germany', 'Berlin'),
 ('England', 'London'),
 ('Sweden', 'Stockholm'),
 ('Norway', 'Oslo'),
 ('Poland', 'Warsaw')]

In [158]:
capitals[2][0][2:5]

'rma'

4) `'rma'` from `country2capital` (Hint:  You will need to use a method appropriate for the container
this substring is in)

In [159]:
country2capital

{'France': 'Paris',
 'Italy': 'Rome',
 'Germany': 'Berlin',
 'England': 'London',
 'Sweden': 'Stockholm',
 'Norway': 'Oslo',
 'Poland': 'Warsaw'}

In [162]:
country2capital.keys()

dict_keys(['France', 'Italy', 'Germany', 'England', 'Sweden', 'Norway', 'Poland'])

In [ ]:
list(country2capital.keys())[2][2:5]

## Part Three

The `city_distances` dictionary provides information about distances between U. S. city pairs.  It does not cover all U.S. city pairs; in fact it only covers  13 city pairs.  Besides its incompleteness, there is a significant problem with how the information is represented.  In this problem you will reoorganize the data and represent it in a way
that fixes this problem.

Here is a hint as to what the problem is. Even though `city_distances` contains information about the distance between Chicago and New York, the following is an error:

In [2]:
city_distances['Chicago']['New York']

KeyError: 'New York'

Notice it's not that the data is being looked up in a way inconsistent with the dictionary's design.  The following is fine:

In [13]:
city_distances['Phoenix']['Albuquerque']

419

Imagine that the typical user can't look at the definition of the dictionary.  They know how to use it
and they know the city pairs that it covers. Explain the problem and why this puts an undue burden on the user. Hint: How **do** you look up the distance between Chicago and New York? Come up with a different way of representing the same data that solves this problem. Note:  Your solution should not introduce redundancy into the representation.  Don't store the same piece of information twice.  Your solution  should give the user one fairly natural way of looking up any of the 13 distances available in the data.  And it should not require the user to know any arbitrary facts about how any indvidual city distance is stored. 

This problem is about designing a a good way to represent some information. You can illustrate your 
design idea without typing in all 13 city pairs.  How about just doing three, one of which should
be Chicago and New York?

Solution One

One way of re-representing the data that solves the problem is to
represent the distances in a dictionary that has unordered
pairs as its keys.  Sets can be unordered pairs,
but they cannot serve as dictionary keys because they
are mutable.  But we could use `frozenset`s.

The original data

In [70]:
city_distances

{'New York': {'Chicago': 790,
  'Boston': 215,
  'St. Louis': 953,
  'Baltimore': 188},
 'Chicago': {'Denver': 1002, 'Omaha': 467, 'Salt Lake City': 1397},
 'Denver': {'Phoenix': 865, 'Salt Lake City': 528},
 'Phoenix': {'Albuquerque': 419, 'Reno': 739, 'San Diego': 355},
 'Dallas': {'Houston': 241}}

In [92]:
def fz (cntnr):
    return frozenset(cntnr)

city_distances = {
                  fz(['New York','Chicago']): 790, 
                  fz(['New York','Boston']): 215, 
                  fz(['New York','St. Louis']): 953, 
                  fz(['New York','Baltimore']):188,
                  fz(['Chicago','Denver']): 1_002,
                  fz(['Chicago','Omaha']): 467,
                  fz(['Chicago','Salt Lake City']):1_397,
                  fz(['Denver', 'Phoenix']): 865,
                  fz(['Denver', 'Salt Lake City']): 528, 
                  fz(['Phoenix', 'Albuquerque']): 419, 
                  fz(['Phoenix', 'Reno']): 739, 
                  fz(['Phoenix', 'San Diego']): 355,
                  fz(['Dallas' 'Houston']): 241
                  }

In [76]:
city_distances[fz(['New York','Chicago'])]

790

In [77]:
city_distances[fz(['Chicago','New York'])]

790

In [93]:
city_distances

{frozenset({'Chicago', 'New York'}): 790,
 frozenset({'Boston', 'New York'}): 215,
 frozenset({'New York', 'St. Louis'}): 953,
 frozenset({'Baltimore', 'New York'}): 188,
 frozenset({'Chicago', 'Denver'}): 1002,
 frozenset({'Chicago', 'Omaha'}): 467,
 frozenset({'Chicago', 'Salt Lake City'}): 1397,
 frozenset({'Denver', 'Phoenix'}): 865,
 frozenset({'Denver', 'Salt Lake City'}): 528,
 frozenset({'Albuquerque', 'Phoenix'}): 419,
 frozenset({'Phoenix', 'Reno'}): 739,
 frozenset({'Phoenix', 'San Diego'}): 355,
 frozenset({'DallasHouston'}): 241}

Solution Two

An alternative idea is to store every city 
pair as a tuple but to enforce the convention that
cities in the tuple come in alphabetical order.

Users could fairly be asked to remember this or we could
write a function that would remember it for them.

In [85]:
city_distances = {
                  ('Chicago','New York'): 790, 
                  ('Boston','New York'): 215, 
                  ('New York','St. Louis'): 953, 
                  ('Baltimore','New York'):188,
                  ('Chicago','Denver'): 1_002,
                  ('Chicago','Omaha'): 467,
                  ('Chicago','Salt Lake City'):1_397,
                  ('Denver', 'Phoenix'): 865,
                  ('Denver', 'Salt Lake City'): 528, 
                  ('Albuquerque','Phoenix'): 419, 
                  ('Phoenix', 'Reno'): 739, 
                  ('Phoenix', 'San Diego'): 355,
                  ('Dallas' 'Houston'): 241
                  }

Here's how we might write the function to enforce alphabetical order.

The Python builtin function `sorted` will sort any sequence, but it always returns a list.

In [169]:
# sort a tuple
sorted(('c','e','b','a','d'))

['a', 'b', 'c', 'd', 'e']

In [168]:
# sort a string
sorted('New York')

[' ', 'N', 'Y', 'e', 'k', 'o', 'r', 'w']

Or for our problem:

In [78]:
sorted(('New York','Chicago'))

['Chicago', 'New York']

We need a tuple because our dictionary contains tuples as keys:

In [90]:
tuple(sorted(('New York','Chicago')))

('Chicago', 'New York')

In [87]:
def look_up_city_distance(pair):
    return city_distances[tuple(sorted(pair))]

In [88]:
look_up_city_distance(('New York','Chicago'))

790

In [89]:
look_up_city_distance(('Chicago','New York'))

790

Known Bug.  Case errors will lead to unexpected sortings.

To be dealt with in version 0.01.

In [171]:
sorted(('New York','chicago'))

['New York', 'chicago']