# Python Types Assignment 2023

Name/RedID:

General Directions.  First double click on the cell above labeled `Name/RedID` and enter that information.  Then complete the assignment below, answering the questions by writing Python expressions in the code cells provided.  In all cases, check your answers by executing the code cell to verify that the output is appropriate.  In some cases you may have to create code or text (**markup**) cells of your own to provide an answer.  Please be sure you know how to do this (read the [Jupyter Notebook](https://www.dataquest.io/blog/jupyter-notebook-tutorial/) or [Google Colab](https://colab.research.google.com/notebooks/basic_features_overview.ipynb) docs) as it will be a regular part of assignments and exams.

After you have completed the assignment to your satisfaction, you can download the notebook to your machine as a Notebook file (extension `.ipynb`) **and** as a Python file (extension `.py`).  The notebook file is for your own use
for review and revision.  The Python file is what you will submit on Canvas to receive credit for this assignment. You should keep copies of both and update both if needed.  Despite the weird extension, the Python (.py) file is just a text file and you can look at it using any text editor or viewer and you should do that to verify it contains all your work. Do not edit the file using a text editor (especially Word).  If you find a problem and you want to change something, restart your notebook and  edit that and re-execute any relevant code cells and re-save both the notebook and Python versions.  Submit **only** the Python (.py) file.  Notebook (.ipynb) files will not be opened.

When running Google Colab, an alternative to downloading your notebook file to your local machine is to
save it to your Google Drive (Menu path: `File > Save a Copy in Drive`).  You can then run it directly
from your Google Drive.  My notebook files all appear in a folder on my Google Drive named `Colab Notebooks`.
Note that Google executes the `Save a Copy` command by creating a copy with a name containing the prefix `Copy of` (for example,`Copy of python_types_assignment_2023`).  From now on, when you save the notebook, just use the `File > Save`  command, or your Google Drive will contain a chain of copies with ever lengthening names like `Copy of Copy of ....`.

It is **highly recommended** that you install an Anaconda Python distribution on your home machine (the latest
version is 688 MB and provides Python 3.9) since it has all the basics for the this course and since it allows
you to run assignment notebooks on your own machine as Jupyter notebooks (even if you first completed
the assignment in Google Colab).  Even if you do not install Python, you can run a saved Notebook in 
Google Colab as follows:

>Go to [https://colab.research.google.com/](https://colab.research.google.com/) and login with your google account. You can choose to import your notebook either from Google drive, a local file, or Github. After you have the notebook open go to the top right and click connect. (Thanks to [Jessica Green at medium.com](https://medium.com/@jessica0greene/running-your-notebooks-in-the-cloud-with-google-colab-4387529bfad4#:~:text=Go%20to%20https%3A%2F%2Fcolab,top%20right%20and%20click%20connect.) for this).

## Part One

For the problems in Part One, assume all the definitions in the next cell, and check your answers by evaluating the next cell and verifying that your answers give the required results.

In [1]:
# Note: the interpretation we will work with for city distances is that it is a weighted graph representing 
# city distances.  The weights represent the distance between the cities. 
city_distances = {'New York': {'Chicago': 790, 'Boston': 215, 'St. Louis': 953, 'Baltimore':188},
                   'Chicago': {'Denver': 1_002, 'Omaha': 467, 'Salt Lake City':1_397},
                   'Denver': {'Phoenix': 865, 'Salt Lake City': 528, },
                   'Phoenix': { 'Albuquerque': 419,  'Reno': 739, 'San Diego': 355},
                   'Dallas' : {'Houston': 241}
                  }
capitals = [ ('France', 'Paris'), ('Italy', 'Rome'), ('Germany', 'Berlin'),  ('England', 'London'),
                          ('Sweden', 'Stockholm'), ('Norway', 'Oslo'), ('Poland', 'Warsaw')]
country2capital = dict(capitals)
dwarves = ('Sneezy', 'Doc', 'Sleepy','Happy','Dopey','Grumpy', 'Bashful')
secret_word = "sesame bagel"
historical_records = [{'name':'Fred Flinstone',
                     'spouse': 'Wilma',
                       'favorite_tv_shows': ['The Honeymooners', 'The Jetsons'],
                      'town of residence': 'Bedrock'},
                    {'name':'Barney Rubble',
                     'spouse': 'Elizabeth',
                     'favorite_tv_shows': ['The Crown', 'Bridgerton'],
                      'town of residence': 'Bedrock'},
                  ]

In the problems below,  when you are asked to write an expression that "accesses". a particular name, that means your answer should **use** that name.  For example, if asked:


   Write an expression that accesses `dwarves` and returns the value `'Grumpy'`.


You might answer:

```
dwarves[-2]
```

because that is an expression that uses the name `dwarves` and returns the value
`"Grumpy"`, as illustrated in the next cell.

In [3]:
dwarves[-2]

'Grumpy'

## Exercise One

In the next cell, write expression that accesses `dwarves` and returns the value `"Bashful"`.

## Exercise Two

In the next cell, write an expression that accesses `secret_word` and returns the value `"m"`.
`.

'm'

## Exercise Three

In the next cell, write an expression that accesses `dwarves` and produces an `IndexError`.  Try to make the index you use to access `dwarves` as small as possible.

IndexError: tuple index out of range

## Exercise Four

In the next cell, write an expression that accesses `dwarves` and returns `"ope"`.  There is more than one answer.  See if you can find two.

 ## Exercise Five
 
 In the next cell, write **a single Python expression** that accesses `secret_word` and returns
 
 ```
 ['sesame','bagel']
 ```
 
 You will need to use a string **method**, that is, a function called with the syntax `secret_word.function(...)`.

## Exercise Six

Explain what happens  when the following expression is evaluated.  Edit it to be an expression that returns `"h"`.

In [ ]:
dwarves[6]['h']

TypeError: string indices must be integers

[Your explanation goes here].  Double click on this cell to begin editing.  Type [Shift-Return]  when you're finished writing.

In [1]:
# Edited version of the Python expression above

## Exercise Seven

In the next cell, write an expression that accesses `dwarves[2]` and returns `True`. 

You will need to perform a Boolean test.

 ## Exercise Eight A

In the next cell, write an expression that accesses `capitals` and raises
a `TypeError`.

## Exercise Eight B

In the next cell, write an expression that accesses `capitals` and raises
an `IndexError`.  If this can't be done, explain why.

## Exercise Eight C

In the next cell, write an expression that accesses `capitals` and raises
a `KeyError`.  If this can't be done, explain why.

## Exercise Nine 

In the next cell, write an expression that accesses `city_distances` and returns `419`.

## Exercise Ten A

In the next cell, write an expression that accesses `capitals` and returns `"Stockholm"`.

## Exercise Ten B

In the next cell, write an expression that accesses `country2capital` and returns `"Stockholm"`.

## Exercise Eleven

In the next cell, write an expression that accesses `historical_records` and returns `Jetsons`. 
(There's more than one way to do this. The easy way uses the `.split(...)` method on strings.)

## Exercise Twelve

In the next cell, write an expression that accesses `historical_records` and returns `"roc"`.

## Exercise Thirteen

Can you write an expression that sets the first element of `dwarves` to be `"Thorin"`.  If not, why not?

You may use the next cell to illustrate your answer.

## Exercise Fourteen

In the next cell, write an expression that accesses `capitals[-2]` and returns `True`.

## Exercise Fifteen

In the next cell, write an expression that accesses `city_distances` and returns 
a dictionary with three keys. Would your answer be any different if you were asked to
return a dictionary of length 3?  If you say yes, produce a different answer; if
you say no, demonstrate that your answer to the first question is also an answer to
the second.  You will need to create a new cell below the code cell below this one
for your second answer.

## Exercise Sixteen

In the next cell update `historical_records` so that Barney Rubble's spouse 
changes from `"Elizabeth"`  to "`Betty"`.

## Exercise Seventeen

The next cell raises a `TypeError`.  Explain why. Be sure to say what string is causing the rror.

In [8]:
historical_records[0]['spouse'][0]  = 'V'

TypeError: 'str' object does not support item assignment

## Exercise Eighteen

In this problem, your task is to write an assignment statement that changes the distance from
Chicago to New York in `city_distances` from 790 to 789.

Put your answer, which should be an assignment, in the next cell.

Be sure to check your answer as well by accessing the updated data value.

##       Part Two

Write down expressions to retrieve the given values from the given variables.

1) `'pp'` from `dwarves`

2) `'rsa'` from `country2capital`

3) `'rma'` from `capitals`

4) `'rma'` from `country2capital` (Hint:  You will need to use a method appropriate for the container
this substring is in)

## Part Three

The `city_distances` dictionary provides information about distances between U. S. city pairs.  It does not cover all U.S. city pairs; in fact it only covers  13 city pairs.  Besides its incompleteness, there is a significant problem with how the information is represented.  In this problem you will reoorganize the data and represent it in a way
that fixes this problem.

Here is a hint as to what the problem is. Even though `city_distances` contains information about the distance between Chicago and New York, the following is an error:

In [2]:
city_distances['Chicago']['New York']

KeyError: 'New York'

Notice it's not that the data is being looked up in a way inconsistent with the dictionary's design.  The following is fine:

In [13]:
city_distances['Phoenix']['Albuquerque']

419

Imagine that the typical user can't look at the definition of the dictionary.  They know how to use it
and they know the city pairs that it covers. Explain the problem and why this puts an undue burden on the user. Hint: How **do** you look up the distance between Chicago and New York? Come up with a different way of representing the same data that solves this problem. Note:  Your solution should not introduce redundancy into the representation.  Don't store the same piece of information twice.  Your solution  should give the user one fairly natural way of looking up any of the 13 distances available in the data.  And it should not require the user to know any arbitrary facts about how any indvidual city distance is stored. 

This problem is about designing a a good way to represent some information. You can illustrate your 
design idea without typing in all 13 city pairs.  How about just doing three, one of which should
be Chicago and New York?