In [2]:
def remainder_one (dividend, divisor=3):
    if dividend % divisor == 1: return dividend % divisor == 1

In [9]:
print(remainder_one(14,3))  # False
print(remainder_one(14))  #False
print(remainder_one(16,3))  #True
print(remainder_one(16)) # True
print(remainder_one(16.0))  #True
print(remainder_one(16,2)) #False
print(remainder_one(16.0)) # True
print(remainder_one(16,2)) # False
print(remainder_one(16.1))  # None

False
False
True
True
None
False
None
False
None

In [4]:
def remainder_one(dividend, divisor = 3):
  if dividend % divisor == 1:
    return True
  elif type(dividend) != int or type(divisor) != int:
    return
  else:
    return False

In [8]:
def remainder_one (dividend, divisor = 3):
  if not isinstance(dividend, int) or not isinstance(divisor, int):
    return None
  try:
    return dividend % divisor == 1
  except TypeError:
    print("False")

In [10]:

def fahrenheit_to_celsius_diff(f1, f2=None):
    # Put the entire function definition here.
    if f2 is None:
      cesius = (f1-32)*5/9
      return cesius
    else:
      diff_in_fahrenheit = f1-f2
      diff_in_cesius = diff_in_fahrenheit *5/9
      return diff_in_cesius

In [13]:
fahrenheit_to_celsius_diff(-40,212)

-140.0

In [17]:
vowels = 'aeiou'
def find_consonants(string):
  new_string = ''
  for s in string:
    if s.lower() not in vowels:
     new_string += s
  return new_string

In [18]:
find_consonants('mississippi is the place for me')

'msssspp s th plc fr m'

In [19]:
def remainder_one (dividend, divisor=3):
  remain = dividend % divisor
  if (remain == 1):
     return True
  else:
    return False

True

In [20]:
def remainder_one (dividend, divisor=3):
    return (dividend % divisor == 1)

In [21]:
boys = 'Huey Fred Jason Ed Albert Louie'.split()
girls = 'Susan Paula Barbara Felicia'.split()
neither = 'Lee Sam Kim'.split()

people = boys + girls + neither

dancers = [(x,y) for x in people for y in people if x < y ]
len(dancers)

78

In [22]:
XX = ['bad good sad happy']
s = str(XX)
s = s.replace(' ', ', ')
[len(x)== 3 for x in s]

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [23]:
neither = 'Lee Sam Kim'.split()
z = zip(boys, girls)
for (i, x) in enumerate(z):
  print(i, x)

0 ('Huey', 'Susan')
1 ('Fred', 'Paula')
2 ('Jason', 'Barbara')
3 ('Ed', 'Felicia')

In [80]:
pairs = []
newlist = people
for i in newlist: #iterate through the newly created list
  for j in newlist: #iterate a second time through the list
    if i != j: #if i doesn't equal j
      pairs.append((i,j)) #put the pair in the list
len(pairs)

156

In [54]:
('Huey', 'Jason') in pairs

True

In [53]:
('Jason','Huey') in pairs

False

In [52]:
pairs.remove(('Jason','Huey'))

In [81]:
ctr = 0
for (i,j) in pairs: #iterate through the pairs in the pairs list
  ctr += 1
  if (i,j) == (i,j): #if one pair equals the other pair
    pairs.remove((i,j)) #remove it from the list
len(pairs),ctr

(78, 78)

In [82]:
seen = []
dups = []
for (x,y)  in pairs:
    if (y,x) in seen:
        dups.append((x,y))
    else:
        seen.append((x,y))

In [85]:
('Jason', 'Fred') in pairs

True

In [86]:
('Fred','Jason') in pairs

True

In [84]:
dups

[('Jason', 'Fred'),
 ('Albert', 'Fred'),
 ('Albert', 'Ed'),
 ('Susan', 'Fred'),
 ('Susan', 'Ed'),
 ('Susan', 'Louie'),
 ('Barbara', 'Fred'),
 ('Barbara', 'Ed'),
 ('Barbara', 'Louie'),
 ('Barbara', 'Paula'),
 ('Lee', 'Fred'),
 ('Lee', 'Ed'),
 ('Lee', 'Louie'),
 ('Lee', 'Paula'),
 ('Lee', 'Felicia'),
 ('Kim', 'Fred'),
 ('Kim', 'Ed'),
 ('Kim', 'Louie'),
 ('Kim', 'Paula'),
 ('Kim', 'Felicia'),
 ('Kim', 'Sam')]

In [83]:
seen

[('Huey', 'Jason'),
 ('Huey', 'Albert'),
 ('Huey', 'Susan'),
 ('Huey', 'Barbara'),
 ('Huey', 'Lee'),
 ('Huey', 'Kim'),
 ('Fred', 'Jason'),
 ('Fred', 'Albert'),
 ('Fred', 'Susan'),
 ('Fred', 'Barbara'),
 ('Fred', 'Lee'),
 ('Fred', 'Kim'),
 ('Jason', 'Albert'),
 ('Jason', 'Susan'),
 ('Jason', 'Barbara'),
 ('Jason', 'Lee'),
 ('Jason', 'Kim'),
 ('Ed', 'Fred'),
 ('Ed', 'Albert'),
 ('Ed', 'Susan'),
 ('Ed', 'Barbara'),
 ('Ed', 'Lee'),
 ('Ed', 'Kim'),
 ('Albert', 'Susan'),
 ('Albert', 'Barbara'),
 ('Albert', 'Lee'),
 ('Albert', 'Kim'),
 ('Louie', 'Fred'),
 ('Louie', 'Ed'),
 ('Louie', 'Susan'),
 ('Louie', 'Barbara'),
 ('Louie', 'Lee'),
 ('Louie', 'Kim'),
 ('Susan', 'Barbara'),
 ('Susan', 'Lee'),
 ('Susan', 'Kim'),
 ('Paula', 'Fred'),
 ('Paula', 'Ed'),
 ('Paula', 'Louie'),
 ('Paula', 'Barbara'),
 ('Paula', 'Lee'),
 ('Paula', 'Kim'),
 ('Barbara', 'Lee'),
 ('Barbara', 'Kim'),
 ('Felicia', 'Fred'),
 ('Felicia', 'Ed'),
 ('Felicia', 'Louie'),
 ('Felicia', 'Paula'),
 ('Felicia', 'Lee'),
 ('Felicia', 'Kim'),
 ('Lee', 'Kim'),
 ('Sam', 'Fred'),
 ('Sam', 'Ed'),
 ('Sam', 'Louie'),
 ('Sam', 'Paula'),
 ('Sam', 'Felicia'),
 ('Sam', 'Kim')]

In [71]:
f_dancers = {frozenset(p) for p in dancers}
f_pairs = {frozenset(p) for p in pairs}
f_pairs == f_dancers

False

In [75]:
len(f_dancers),len(f_pairs)

(78, 57)

In [78]:
('Huey','Louie') in pairs

False

In [79]:
('Louie','Huey') in pairs

False

In [77]:
('Huey','Louie') in dancers

True

In [74]:
f_dancers - f_pairs

{frozenset({'Huey', 'Louie'}),
 frozenset({'Barbara', 'Felicia'}),
 frozenset({'Sam', 'Susan'}),
 frozenset({'Felicia', 'Huey'}),
 frozenset({'Paula', 'Susan'}),
 frozenset({'Lee', 'Sam'}),
 frozenset({'Huey', 'Paula'}),
 frozenset({'Jason', 'Sam'}),
 frozenset({'Albert', 'Paula'}),
 frozenset({'Huey', 'Sam'}),
 frozenset({'Albert', 'Louie'}),
 frozenset({'Ed', 'Jason'}),
 frozenset({'Barbara', 'Sam'}),
 frozenset({'Felicia', 'Susan'}),
 frozenset({'Felicia', 'Jason'}),
 frozenset({'Ed', 'Huey'}),
 frozenset({'Fred', 'Huey'}),
 frozenset({'Albert', 'Felicia'}),
 frozenset({'Jason', 'Louie'}),
 frozenset({'Jason', 'Paula'}),
 frozenset({'Albert', 'Sam'})}

In [73]:
set(f_pairs) - set(f_dancers)

set()

In [87]:
def remainder_one (dividend, divisor = 3):
  if not isinstance(dividend, int) or not isinstance(divisor, int):
    return None
  try:
    return dividend % divisor == 1
  except TypeError:
    print(False)

In [96]:
print(remainder_one(14,3))
print(remainder_one(14))
print(remainder_one(16,3))
print(remainder_one(16))
print(remainder_one(16.0)) ##Answers above show this as needing to be true?
print(remainder_one(16,2))
print(remainder_one(16.1))

False
False
True
True
True
False
None

In [95]:

def remainder_one (dividend, divisor=3):
   remainder = dividend % divisor
   result = "None" if remainder % 1 != 0 else remainder == 1
   return result

In [90]:
def remainder_one (dividend, divisor=3):
   if len(remainder_one)==1:
     print('True')
     return remainder_one
   else: 
     return (remainder_one)

In [93]:
def remainder_one (dividend, divisor=3):
    if dividend.is_integer():
      if dividend % divisor == 1: return 'True'
      else: return 'False'
    else: return 'None'
print(remainder_one(16.1))

None

In [92]:
XX = 'bad good sad happy' 
# Your code here
def toBool(given):
  words = given.split(' ')
  for x in words:
      if x == 'bad': output = 'True'
      if x == 'sad': output = 'True'
      if x == 'good': output = 'False'
      if x == 'happy': output = 'False'
  print(output)
toBool(XX)

False

In [98]:
farenheit = 32
def fahrenheit_to_celsius_diff(f1,f=32):
        return ((f1 - 32) * 5//9)

In [97]:
fahrenheit_to_celsius_diff(-40, 212)

-140.0

In [99]:
fahrenheit_to_celsius_diff(-40, 212)

-40

In [101]:
fahrenheit_to_celsius_diff(212, 0)

100

In [102]:

fahrenheit_to_celsius_diff(-40, 212)

-40

In [103]:
zip(1,2)

TypeError: 'int' object is not iterable

In [105]:
list(zip('aa','jj'))

[('a', 'j'), ('a', 'j')]

In [106]:
isinstance(16.0%3, int)

False

In [107]:
def remainder_one (dividend, divisor=3):
   if dividend % divisor == 1:
     x = True
   elif dividend % divisor != 1 and isinstance (dividend % divisor, int) == True:
     x = False
   else:
     x = None
   return x

In [108]:
print(remainder_one(16.0))

True

In [110]:
try:
  3%0
except TypeError:
    print("OK")

ZeroDivisionError: integer division or modulo by zero

In [111]:
"Shoe"%"lace"

TypeError: not all arguments converted during string formatting