# Functions, types, loops assignment

## Review of accessing operations

### Exercise 1

Add a line of code that will generate the give output::
 
     In [ ]: a_list = [2,7,8, 19]
             Your code
     Out [ ]: 2
     
NOTE: The idea of this kind of exercise is to write a line of code
that will produce the given output, 2 in this case.  Your
answer goes in the next cell, which is a code cell.  It should this be an
expression that operates on `a_list`.  A simple correct answer is:

     In [ ]: a_list = [2,7,8, 19]
             a_list[0]
     Out [ ]: 2
     
Don't forget to evaluate the cell after you've written in your answer to generate Python's output and check your answer!

In [ ]:
a_list = [2,7,8, 19]

2

### Exercise 2

  Write a line of code that produces the given output::
   
    In [ ]: a_list = ['sid','nancy','paul','ringo']
             YOUR CODE HERE
    Out [ ]: 'paul'

In [ ]:
a_list = ['sid','nancy','paul','ringo']

'paul'

### Exercise 3

 Write a line of code that produces the given output: 
   
     In [ ]: a_list = ['sid','nancy','paul','ringo']
           YOUR CODE HERE
     Out [ ]: ['nancy','paul']

In [ ]:
a_list = ['sid','nancy','paul','ringo']
#Write your answer below thi

['nancy', 'paul']

## Loops

### Exercise 4:  Mapping title case

Write a line of code that produces the given output: 

```
In [ ]: a_list = ['sid','nancy','paul','ringo']
        YOUR CODE HERE
Out [ ]: ['Sid','Nancy','Paul','Ringo']
```

Here are some hints.  It's easy to capitalize a string.

In [8]:
'sid'.title(), 'the rain in spain falls mainly on the plain'.title()

('Sid', 'The Rain In Spain Falls Mainly On The Plain')

But `.title()` is a method on strings, and it won't work on lists:

In [ ]:
a_list = ['sid','nancy','paul','ringo']
a_list.title()

AttributeError: ignored

Nevertheless, each element of the list `a_list` is a `string` and `.title()` will do exactly what we want if it is applied to each element in the list.  So you need a **loop** that will apply `.title()` to each element in the list and collect the results.

If you're not using a list comprehension as your loop, try an answer with this format.  Insert a `for`-loop where it says "#Your code below here"

In [ ]:
a_list = ['sid','nancy','paul','ringo']
new_list = []
# Your code below here
new_list

['Sid', 'Nancy', 'Paul', 'Ringo']

If you are using a list comprehension, your answer will have this format.

In [5]:
a_list = ['sid','nancy','paul','ringo']
#Your list comprehension code below here inside the square brackets
new_list = [...   for x in ...]
new_list

### Exercise 5:  Reversing a list

Write a line of code that produces the given output: 

```
In [ ]: a_list = ['sid','nancy','paul','ringo']
        YOUR CODE HERE
Out [ ]: ['Ringo', 'Paul', 'Nancy', 'Sid']
```
    
Hint: Try combining a list comprehension with a list reversal

In [6]:
Y = a_list.reverse()
a_list

['ringo', 'paul', 'nancy', 'sid']

In [2]:
X = 'abcdefghijklmnopqrstuvwxyz'
X[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [3]:
a_list = ['sid','nancy','paul','ringo']
new_list = []
# Your code her
new_list

['Ringo', 'Paul', 'Nancy', 'Sid']

## Boolean tests

### Exercise 6:  Conditional branches

Write a line of code that will return True when applied to X:

    In [ ]: X = 'ringo'
            YOUR CODE GOES HERE
    Out [ ]: True

Write a line of code that will return False when applied to X:

    In [ ]: X = 'ringo'
            YOUR CODE GOES HERE
    Out [ ]: False

In [1]:
X = 'ringo'
# Your code below here.

### Exercise 7: Conditional branches continued

In [16]:
X = 4
if X < 3:
    print('Wow')
elif X == 3:
    print('equal')
else:
    print('more')

more

Write an `if` statement (4 lines of code) that will print "Branch 1" for the first value of X; and "branch2" for the second value of X::
    
    In [ ]:  X = 'ringo'
             YOUR IF-ELSE STATEMENT GOES HERE IT SHOULD PRINT BRANCH1
             X = 'paul'
             COPY & PASTE THE SAME IF-ELSE STATEMENT HERE  IT SHOULD PRINT BRANCH2
    # Hence the output from executing the cell above is just the two things that were printed
    Out [ ]: Branch 1
             Branch 2
             
Note there's more than one way to get this right.  Bear that in mind when you get to the next problem,
which will use the code you've written in this section.

It may be that you'll have to re think how you did this problem when you get to the next one.

In [17]:
X = 'ringo'
# Your code HERE
if  X == 'ringo':
    print('Branch 1')
else:
    print('Branch 2')
X = 'paul'
# Exactly the SAME code here
if  X == 'ringo':
    print('Branch 1')
else:
    print('Branch 2')

Branch 1
Branch 2

In the previous cell you wrote some code.  In this cell you package it into a function definition.

Write a **function** called `find_branch` that prints `Branch 1` when applied to `Ringo` and `Branch 2` when applied to `Paul`.  For any other input it should print nothing.  To get this behavior, you may be able to use the same conditional you used above, or you may have to modify it.

Create a new cell and **test** your function in the new cell.

In [34]:
#Your function definition goes here.  Dont forget to execute this cell after entering the definition
def find_branch (X):
    if  X == 'ringo':
        print('Branch 1')
        return 'Branch 1'
    elif X == 'paul':
        print('Branch 2')
        return 'Branch 2'

In [24]:
X

'paul'

In [23]:
find_branch()

Branch 2

In [35]:
# Here are your tests.  The desired output is shown below this cell.
print('Example 1')
v1= find_branch('paul')
print()
print('Example 2')
v2 = find_branch('ringo')
print()
print('Example 3')
v3 = find_branch('Paul')
print()
print('Example 4')
v4 = find_branch('george')
(v1,v2,v3,v4)

Example 1
Branch 2

Example 2
Branch 1

Example 3

Example 4

('Branch 2', 'Branch 1', None, None)

You should get the following output:

```
Example 1
Branch 2

Example 2
Branch 1

Example 3

Example 4
```

### Exercise 8:  Mapping Boolean tests

 Write a line of code that produces the given output: 
   
     In [ ]: a_list = ['john','paul','nancy','sid']
           YOUR CODE HERE
     Out [ ]: [True, True, False, False]
  
 [Hint:  Try a list comprehension that collects
  a list of the results of a Boolean test]

In [43]:
type(True)

bool

In [37]:
a_list = ['john','paul','nancy','sid']
new_list = []
# Your code here
for nm in a_list:
    new_list.append(len(nm) == 4)
new_list

[True, True, False, False]

In [44]:
# Your list comprehension code below, inside the square brackets
new_list =  [len(nm) == 4 for nm in a_list]
new_list

[True, True, False, False]

In [9]:
list(range(10))
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
sum(x for x in range(10))

45

###  Exercise 9:  Filtering a list

Write a `for` loop that collects all the numbers in `test_list`
that are between 3 and 6 inclusive and places them
in a list named `result`.

In the cell below you are given a list  to work on and an initial value for the list `result`,
which you can update in a `for` loop.  The cell also evaluates `result` after the
loop to check that the value is right::

    In [ ]: test_list = [2, 7, 9, 4, 8, 3, 2, 6, 3, 5, 9, 18, 0, 5]
            result = []
            YOUR CODE GOES HERE
            result
     Out [ ]: [4,3,6,3,5,5]
                         
For updating the `for`-loop one element at a time the following may be of help.  The way to add `x` onto
the end of a list `result` is:

```
    result.append(x)
```

Note:  Instead of updating the list `result` one element at a time in
a `for-`loop, you can also do this with a list comprehensio.

In [53]:
test_list = [2, 7, 9, 4, 8, 3, 2, 6, 3, 5, 9, 18, 0, 5]
result = []
for i in test_list:
    if 3 <= i <= 6:
        result.append(i)
result

[4, 3, 6, 3, 5, 5]

In [56]:
test_list = [2, 7, 9, 4, 8, 3, 2, 6, 3, 5, 9, 18, 0, 5]
result = [i for i in test_list if 3 <= i <= 6]
result

[4, 3, 6, 3, 5, 5]

### Exercise 10:  Counting

Now, using the same definition of `test_list`
as in exercise 6, write a `for` loop that **counts**
the number of integers in `test_list` that are between 3 and 6 inclusive
and  places the result in a variable named `tweeners`.
You can do this by just taking the length
of the list you computed in exercise 6, but try to do
it without building that list.  Just start with `tweeners`
set to 0 and increment its value by one each time you see an appropriate number.  
The value of the variable `tweeners` after the loop is exited should be 6.

Note the assignment statement that updates the value of `tweeners` by 1 is :

```
tweeners = tweeners + 1
```

or the slightly shorter but equivalent

```
tweeners += 1
```

In [14]:
test_list = [2, 7, 9, 4, 8, 3, 2, 6, 3, 5, 9, 18, 0, 5]

tweeners = 0
# Your loop here, it's been started for
for num in test_list:
   # you update tweeners when appropriate here.
   if 3 <= num <= 6:
       tweeners = tweeners + 1
tweeners

6

In [17]:
sum(3 <= num <= 6 for num in test_list)

6

### Exercise 11

Now, write a loop that computes the frequencies of the letters in `"abracadabra"`.  The frequencies should be
kept in a dictionary that has letters as keys and integers as values. After the counting code is executed,
the dictionary should look like this:

```
{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}
```
Do not use the `Counter` class from the Python `collections` module to solve this problem, even
though though that makes it easier.  The goal here is to get you writing loops.

Hint One:  Your  answer will use a loop and will contain this line (or something
equivalent) to upodate the dictionary count.

```
counter_dict[letter] = counter_dict[letter] + 1
```

The problem is that the dictionary needs to start out empty; the expression on the right hand
hand side of the `=` will raise a `KeyError` on an an empty dictionary, so this can't be what
you always do.

Inside the loop, you need to structure your code something like this:

```
    if [test to see if letter is not a key in the dictionary]:
       # Start letter off with count 1
       counter_dict[letter] = 1
     else:
       # the usual counting code
```

**Only read Hint Two in the next cell if you're stuck after trying hint One.**

Hint two:

Note: the test to see if `counter_dict` already contains `letter` as a key is:

```
letter in counter_dict
```

In [20]:
test_str = 'abracadabra'

# Start with an empty dictionary
counter_dict = dict()

for letter in test_str:
    if letter in counter_dict:
        counter_dict[letter] = counter_dict[letter] + 1
    else:
        counter_dict[letter] = 1
counter_dict

{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}

## Exercise 9

Filter  any items which occur
less than 2 times in a sequence of items. The sequence can be a
string, or tuple, or list.  You can use the following sequence
as an example:

```
   X = 'abracadabra'
```
Hint: Solve this problem in two parts.  First get all the needed counts and place them in a dictionary
using the code from the previous exercise. (Or you can if you like use a `Counter`, in which case 
it will be helpful to review our discussion of Counters in [the book draft section on dictionaries](http://gawron.sdsu.edu/python_for_ss/course_core/book_draft/Python_introduction/dictionaries.html#python-collections-module). 

You can then use counter dictionary you compute
to filter the letters in `"abracadabra"` with counts below 2.

In [21]:
from collections import Counter
X = 'abracadabra'
# Your code here
res = []
counter_dict = dict( )

for letter in X:
    if letter in counter_dict:
        counter_dict[letter] = counter_dict[letter] + 1
    else:
        counter_dict[letter] = 1

In [23]:
counter_dict['a']

5

Equivalent:

In [31]:
res = []
for x in X:
    if counter_dict[x] >= 2:
        res.append(x)
''.join(res)

'abraaabra'

In [30]:
res = ''
for x in X:
    if counter_dict[x] >= 2:
        res = res +x
res

'abraaabra'

### Exercise 12  Writing a simple retrieval function.

Write a function that returns the first element of any sequence.  It is fine if it is an error to pass in a dictionary or a set.  These are not sequences.  Here are some examples of how it should work:

```
>>> first('william')
'w'
>>> first(['X', [0,1], ('a','b')])
'X'
>>> Z = first(['X', [0,1], ('a','b')])
>>> Z
'X'
```

Hint:  If you're having trouble getting this behavior, maybe you forgot
about `return`?.

Hint two:

The cell below starts your function definition for you.

```
def first(seq):
    # Your code here
```

The indented code that goes under `#Your code here`
shoukd perform a retrieval operation that uses the name `seq`.

In [32]:
def bad_first(seq):
  # Your code here
  print(seq[0])

In [33]:
bad_first('william')

w

In [36]:
Z = bad_first(['X', [0,1], ('a','b')])

X

In [40]:
Z + 'x'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
bad_first('cumin') + bad_first('artwork') + bad_first('thrill')

In [41]:
def first(seq):
  # Your code here
  return seq[0]

Test your code by executing the next cell.

In [42]:
print(first('william'))
Z = first(['X', [0,1], ('a','b')])
Z

w

'X'

### Exercise 13:  Warning messages and returning a value in a corner case

Your most likely solution to the previous problem behaves like this:

```
>>> Z = first('')
IndexError                                Traceback (most recent call last)
...
IndexError: string index out of range
>>> Z
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-3-b4379bcb7951> in <module>
----> 1 Z

NameError: name 'Z' is not defined

```
The call to `first` on an empty sequence raises an `IndexError` and the variable
`Z` never gets assigned a value, so attempting to use it causes a
`NameError`.

Fix your function so that it behaves likes this (you will have to write the
`print` command issuing the warning yourself)

```
>>> Z = first('')
***Warning***: Empty sequence passed to first
>>> Z
''
```

In [8]:
## Put code here

### Exercise 14:  A palindrome function, reversing sequences

Write a function that creates a palindrome from any sequence.  Here is how it should  work:

```
    In [ ]: x = palindrome('abcd')
    Out [ ]:
    In [ ] x
    'abcddcba'
```

Hint:  You can reverse any sequence `Seq` with `Seq[::-1]`.

In [ ]:

# Your code here

Hint:  This should ben be done using `+`.

### Exercise 15: Using an optional argument

Modify the palindrome function of Exercise 11 so that it has an optional middle string which
is used as the center of the palindrome. Here are examples of how it should behave:

```
# Same as before, but we are checking for the optionality of the new arg
In [ ]: palindrome('ohno')     
Out [ ]: 'ohnoonho' 

In [ ]: palindrome('madam', 'i')
Out [ ]: 'madamimadam'

In [ ]: palindrome('mada', 'mim')     
Out [ ]: 'madamimadam'

In [ ]: palindrome(L0 ='mada', center ='mim')     
Out [ ]: 'madamimadam'

In [ ]: palindrome(center ='mim', L0 ='mada')     
Out [ ]: 'madamimadam'
```

Hint:  For help with optional arguments and default values (which is what you need to worry about here), see [VanderPlas Whirlwind Tour of Python, Chap 8.](https://github.com/jakevdp/WhirlwindTourOfPython/blob/master/Index.ipynb)

Hint:  this problem can be solved by writing the function
with a conditional branch (check to see
if `center` has been supplied and do one thing if it has,
and another if it hasn't), but you actually don't need a conditional
branch, if you use the right default value for `center`.

In [30]:
# Your code here

Test your function using the following test suite.

The desired outputs have been been given in the cell below.  In order not
tio lose sight of thiose outputs, you can use the cell following.

In [37]:
print(palindrome('madam','i'))
print(palindrome('ohno'))    
print(palindrome('madam', 'i'))
print(palindrome('mada', 'mim'))    
print(palindrome(L0 ='mada', center ='mim'))    
print(palindrome(center ='mim', L0 ='mada'))

madamimadam
ohnoonho
madamimadam
madamimadam
madamimadam
madamimadam

In [ ]:
print(palindrome('madam','i'))
print(palindrome('ohno'))    
print(palindrome('madam', 'i'))
print(palindrome('mada', 'mim'))    
print(palindrome(L0 ='mada', center ='mim'))    
print(palindrome(center ='mim', L0 ='mada'))

### Exercise 16: Computing with coordinated sequences

The problem here is to coordinate the information from two coordinated lists.  Suppose we have coordinated lists of books and authors such that `authors[4]` is the author of `books[4]` and in fact for any apprpriate index `i`,  `authors[i]` is the author of `books[i]`.

We will write a function which, given an item located at position `i` in list A produces the corresponding item located at position `i` in list B.  There are two ways of doing this.  You should do **both**.

1.  Using Python's `enumerate` iterator to keep track of the current index, loop through `books` to find the `War and Peace`, then use the index of `War and Peace` to find
the corresponding author in `authors`.  Note: although you could do this with the `.index()` method on lists, the point here is to illustrate `enumerate`.  Here is how `enumerate` works:

```
>>> for x in 'abcdefg':
       print(x)
a
b
c
d
e
f
g

>>> for (i, x) in enumerate('abcdefg'):
        print(i, x)
0 a
1 b
2 c
3 d
4 e
5 f
6 g
# Keeps track of the index of the current value of loop var.
```

2. Zip the two lists together to make a list a of pairs, turn that into a dictionary, and look up the author of `War and Peace` in the new dictionary.  The cells following this one
demonstrates how `zip` works.

For either solution, your function should work as follows::

```
>>> authors = ['William Faulkner', 'Charles Dickens', 'Leo Tolstoy', 'William Golding']
>>> books = ['The Sound and the Fury', 'Our Mutual Friend', 'War and Peace', 
              'Lord of the Flies']
>>> find_related_item_soln_one('Leo Tolstoy', authors, books)
'War and Peace'
>>> find_related_item_soln_two('Leo Tolstoy', authors, books)
'War and Peace'
```

Example code to help with solution one:

In [10]:
lets = 'abcdefg'
codes = '9870234'
for (i, x) in enumerate(lets):
        print(x, codes[i])

a 9
b 8
c 7
d 0
e 2
f 3
g 4

Example code to help with solution two.

In [16]:
#We start by definingh two sequences with linked information
#The second contains the code numbers for the first.
lets = 'abcdefg'
codes = '9870234'
Z = zip(lets, codes)
##  Let's look at zip objects to help understand them
##  Not a part of the necessary code for the loop below.
# Plain zip object: Not much to look at
print('Zip object', Z)
# Cast it into a list, not print it out
print('Zip object => list', list(Z))
# Make a fresh zip object to iterate through (each zip object, like a stream, can
# be iterated through only once)
Z = zip(lets, codes)
for (x,y) in Z:
    print(x,y)

Zip object <zip object at 0x7fd6286e4500>
Zip object => list [('a', '9'), ('b', '8'), ('c', '7'), ('d', '0'), ('e', '2'), ('f', '3'), ('g', '4')]
a 9
b 8
c 7
d 0
e 2
f 3
g 4

**Put your two solutions in the two cells below!**

In [5]:

authors = ['William Faulkner', 'Charles Dickens', 'Leo Tolstoy', 'William Golding']
books = ['The Sound and the Fury', 'Our Mutual Friend', 'War and Peace', 'Lord of the Flies']
# Soln #1  
def find_related_item_soln_one(item, seq1, seq2):
    #  your code here replacinf pass
    pass

In [13]:
# Soln #2
# Soln #1  
def find_related_item_soln_two(item, seq1, seq2):
    #  your code here replacinf pass
    pass

### Exercise 17:  Indexing and double loops

In the next square write a list comprehension that constructs a list of pairs which pairs every letter in the alphabet with every letter that follows it.  Assign your list of
pairs the name `result`. Your code should look either like this. 

```
result = [let1 + let1 for ... in ... ]
```

or like this

```
result = [ascii_lowercase[i] + ascii_lower_case[j] for ... in ... ]
```

Your code will involve a double loop.  If your code is correct, `result` will be a list of length 325.  To help out, `ascii_lowercase` has been imported into the cell below.

```
>>> from string import ascii_lowercase
>>> ascii_lowercase
'abcdefghijklmnopqrstuvwxyz'
```

Hint: One way to do this is to use `enumerate` and a double loop. By keeping track of what the index of the current letter is; then you know what part of the alphabet you need to pair the current letter with.   Another way is to loop through position indices
using `range(len(ascii_lowercase))`.

If you print out the length and contents of `result`, it should look like  something this:

```
>>> len(result)
325
>>> for pair in result:
      print(pair)
ab
ac
ad

...

az
bc
bd
be

...

bz
cd

...
...

wx
wy
wz
xy
xz
yz
```

## Optional Sudoku problem: A small programming challenge

This problem is **optional**.  Nevertheless it is good idea to tackle this
problem at some time during the class.

One idea is to leave until after we have done the programming nitebook in class,
which includes some programs of intermediate difficulty.

Just execute the code cell below.  We need it for the discussion and exercises that follow.  This code is an extract from a larger program for solving Sudoku puzzles and was written by Peter Norvig (Google "Norvig Sudoku"), who currently works for  Google.

In [2]:
def cross(A, B):
    "Cross product of elements in A and elements in B."
    return [a+b for a in A for b in B]


digits   = '123456789'
rows     = 'ABCDEFGHI'
cols     = digits
squares  = cross(rows, cols)
unitlist = ([cross(rows, c) for c in cols] +
            [cross(r, cols) for r in rows] +
            [cross(rs, cs) for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')])

# Assign to each square s A set of sets of squares
units = dict((s, [u for u in unitlist if s in u])
             for s in squares)
## Assign to each square s a set of squares, namely those that cant have the same value as s.
peers = dict((s, set(sum(units[s],[]))-set([s]))
             for s in squares)

# Turn a puzzle string into a dictionary.
def grid_values(grid):
    "Convert grid into a dict of {square: char} with '0' or '.' for empties."
    chars = [c for c in grid if c in digits or c in '0.']
    assert len(chars) == 81
    return dict(list(zip(squares, chars)))

def simple_grid_values (grid):
    "Convert grid into a dict of {square: char} with no restriction on contents"
    assert len(grid) == 81
    return dict(list(zip(squares, grid)))
  
################ Display as 2-D grid ################

def display(values):
    "Display these values as a 2-D grid."
    for s in squares:
        if values[s] == '0':
            values[s] = '.'
    width = 1+max(len(values[s]) for s in squares)
    line = '+'.join(['-'*(width*3)]*3)
    for r in rows:
        print(''.join(values[r+c].center(width)+('|' if c in '36' else '')
                      for c in cols))
        if r in 'CF': print(line)
    print()


grid1  = '003020600900305001001806400008102900700000008006708200002609500800203009005010300'
grid1_soln = '483921657967345821251876493548132976729564138136798245372689514814253769695417382'
grid2  = '003020600900305001001806400008102900700000008006708200002689500800203009005010300'
# Some illegal grids.
grid3  = '003020600900305001001806400008102900700000008006708200002609500800203089005010300'
grid4  = '003020609900305001001806400008102900700000008006708200002609500800203009005010300'
grid5  = '003020600900305061001806400008102900700000008006708200002609500800203009005010300'
g5_peers = peers['G5']
sgv = simple_grid_values(squares)
for s in g5_peers:
    sgv[s] = '__'

First some preliminaries, introducing the idea of a sudoku puzzle, for those who've never tried one.  According to Norvig:

A Sudoku puzzle is a grid of 81 squares; the majority of enthusiasts label the columns 1-9, the rows A-I [as in the grid below].

The grid below introduces **names** for the 81 squares in a grid.

In [3]:
display(simple_grid_values(squares))

 A1 A2 A3| A4 A5 A6| A7 A8 A9
 B1 B2 B3| B4 B5 B6| B7 B8 B9
 C1 C2 C3| C4 C5 C6| C7 C8 C9
---------+---------+---------
 D1 D2 D3| D4 D5 D6| D7 D8 D9
 E1 E2 E3| E4 E5 E6| E7 E8 E9
 F1 F2 F3| F4 F5 F6| F7 F8 F9
---------+---------+---------
 G1 G2 G3| G4 G5 G6| G7 G8 G9
 H1 H2 H3| H4 H5 H6| H7 H8 H9
 I1 I2 I3| I4 I5 I6| I7 I8 I9

Next have a look at the 81 members of the list `squares`, which is noithing but a flat list if the 81 square names.   We will think about the code (above)
that constructs it.

In [ ]:
squares

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'B1',
 'B2',
 'B3',
 'B4',
 'B5',
 'B6',
 'B7',
 'B8',
 'B9',
 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'D6',
 'D7',
 'D8',
 'D9',
 'E1',
 'E2',
 'E3',
 'E4',
 'E5',
 'E6',
 'E7',
 'E8',
 'E9',
 'F1',
 'F2',
 'F3',
 'F4',
 'F5',
 'F6',
 'F7',
 'F8',
 'F9',
 'G1',
 'G2',
 'G3',
 'G4',
 'G5',
 'G6',
 'G7',
 'G8',
 'G9',
 'H1',
 'H2',
 'H3',
 'H4',
 'H5',
 'H6',
 'H7',
 'H8',
 'H9',
 'I1',
 'I2',
 'I3',
 'I4',
 'I5',
 'I6',
 'I7',
 'I8',
 'I9']

Let's take a step by step approach to understanding Norvig's code
for constructing this list.

The code above defines the row labels in a Sudoku puzzle  in a variable `rows`. Write a `for`-loop that prints out the row labels in a Sudoku puzzle, one to a line.

In [ ]:
[your code here]

The code above defines the columns labels in a Sudoku puzzle  in a variable `cols`. Write a `for`-loop that prints out the column labels in a Sudoku puzzle.

In [ ]:
[your code here]

Here is  a loop that pairs `A` with every row number

In [40]:
r = 'A'
[r + c for c in cols]

['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9']

It's easy enough to embed the code above in a list comprehension to get a list
of the rows:

In [41]:
[[r + c for c in cols] for r in cols]

[['11', '12', '13', '14', '15', '16', '17', '18', '19'],
 ['21', '22', '23', '24', '25', '26', '27', '28', '29'],
 ['31', '32', '33', '34', '35', '36', '37', '38', '39'],
 ['41', '42', '43', '44', '45', '46', '47', '48', '49'],
 ['51', '52', '53', '54', '55', '56', '57', '58', '59'],
 ['61', '62', '63', '64', '65', '66', '67', '68', '69'],
 ['71', '72', '73', '74', '75', '76', '77', '78', '79'],
 ['81', '82', '83', '84', '85', '86', '87', '88', '89'],
 ['91', '92', '93', '94', '95', '96', '97', '98', '99']]

But this isn't what we want in order to construct squares.  We want a list comprehension that returns a flat list of the 81 square names. Therfore, we want a list comprehension
that starts

```
[r + c for ....]
```

Try to think through how to produce a list
of squares. If you get stuck, you may want to try modifying the code
in the cell above that produces a list of rows. Or you may want to look back at Norvig's code to see how he produces the list `squares`.  In any case you will need a double loop.
Write one double loop that produces the list of squares without calling
a function to help.

Now let's think about what a puzzle is.  Also according to Norvig

>A collection of nine squares (column, row, or box) is called a **unit** and the squares that share a unit the **peers**. A puzzle leaves some squares blank and fills others with digits, and the whole idea is: A puzzle is solved if the squares in each unit are filled with a permutation of the digits 1 to 9.

Thus in each unit of a solved puzzle, all the 
digits must appear, and no duplications are allowed. 
The next square shows `grid1` a puzzle for which we were given both the  partially filled grid and its unique solution.

In [ ]:
display(grid_values(grid1))
print('     ... => ...')
print()
display(grid_values(grid1_soln))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. . 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

     ... => ...

4 8 3 |9 2 1 |6 5 7
9 6 7 |3 4 5 |8 2 1
2 5 1 |8 7 6 |4 9 3
------+------+------
5 4 8 |1 3 2 |9 7 6
7 2 9 |5 6 4 |1 3 8
1 3 6 |7 9 8 |2 4 5
------+------+------
3 7 2 |6 8 9 |5 1 4
8 1 4 |2 5 3 |7 6 9
6 9 5 |4 1 7 |3 8 2

Let's illustrate the idea of a peer.  Every cell belongs to three units, its
row, its column, and its box.  The cells in those units are its peers.

In [ ]:
display(sgv)

 A1 A2 A3| A4 __ A6| A7 A8 A9
 B1 B2 B3| B4 __ B6| B7 B8 B9
 C1 C2 C3| C4 __ C6| C7 C8 C9
---------+---------+---------
 D1 D2 D3| D4 __ D6| D7 D8 D9
 E1 E2 E3| E4 __ E6| E7 E8 E9
 F1 F2 F3| F4 __ F6| F7 F8 F9
---------+---------+---------
 __ __ __| __ G5 __| __ __ __
 H1 H2 H3| __ __ __| H7 H8 H9
 I1 I2 I3| __ __ __| I7 I8 I9

The peers of any cell are the squares which cannot have the same value as the cell.  The peers of `G5` are shown above.  There are 20 distinct peers.  The cells in row 'G', the cells in column '5' and the cells in the same box
as 'G5'.

The `peers` dictionary has been defined so that the key is a square and the value is the set of the 20 peers of that square.

In [18]:
print(peers['G5'])

{'G9', 'G3', 'A5', 'G1', 'H6', 'I6', 'I4', 'C5', 'E5', 'B5', 'D5', 'H4', 'F5', 'G7', 'G4', 'I5', 'H5', 'G2', 'G8', 'G6'}

Let's return to the sudoku puzzle grid we called `grid1`; `grid1` is a legal grid, as we can check visually by redisplaying it.

In [42]:
display(grid_values(grid1))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. . 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

Here are some more grids displayed.

In [43]:
display(grid_values(grid3))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. . 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. 8 9
. . 5 |. 1 . |3 . .

In [44]:
display(grid_values(grid4))

. . 3 |. 2 . |6 . 9
9 . . |3 . 5 |. . 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

If you look carefully at `grid5` you will see it differs from `grid1` in an important way.

In [ ]:
display(grid_values(grid5))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. 6 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

The grid `grid5` is not a legal Sudoku grid.  Can you see the problem?    There are two cells in the same box with same value.

To make this easy to get at in code, we will represent the grid in a dictionary so we can easily look up the values of particular squares in `grid5`.

`grid5` is a string.

```
003020600900305061001806400008102900700000008006708200002609500800203009005010300
```
Norvig's code provides us with a function `grid_values` which turns that string into a dictionary; the dictionary will be a lot
more convenient to work with for this problem.

```
>>> grid_dict5 = grid_values(grid5)
```

We demonstrate in the next cell

In [5]:
grid_dict5 = grid_values(grid5)  #. Change the string `grid5` into a dictionary
print(grid5)
print(grid_dict5)
print(grid_dict5['A7'])

003020600900305061001806400008102900700000008006708200002609500800203009005010300
{'A1': '0', 'A2': '0', 'A3': '3', 'A4': '0', 'A5': '2', 'A6': '0', 'A7': '6', 'A8': '0', 'A9': '0', 'B1': '9', 'B2': '0', 'B3': '0', 'B4': '3', 'B5': '0', 'B6': '5', 'B7': '0', 'B8': '6', 'B9': '1', 'C1': '0', 'C2': '0', 'C3': '1', 'C4': '8', 'C5': '0', 'C6': '6', 'C7': '4', 'C8': '0', 'C9': '0', 'D1': '0', 'D2': '0', 'D3': '8', 'D4': '1', 'D5': '0', 'D6': '2', 'D7': '9', 'D8': '0', 'D9': '0', 'E1': '7', 'E2': '0', 'E3': '0', 'E4': '0', 'E5': '0', 'E6': '0', 'E7': '0', 'E8': '0', 'E9': '8', 'F1': '0', 'F2': '0', 'F3': '6', 'F4': '7', 'F5': '0', 'F6': '8', 'F7': '2', 'F8': '0', 'F9': '0', 'G1': '0', 'G2': '0', 'G3': '2', 'G4': '6', 'G5': '0', 'G6': '9', 'G7': '5', 'G8': '0', 'G9': '0', 'H1': '8', 'H2': '0', 'H3': '0', 'H4': '2', 'H5': '0', 'H6': '3', 'H7': '0', 'H8': '0', 'H9': '9', 'I1': '0', 'I2': '0', 'I3': '5', 'I4': '0', 'I5': '1', 'I6': '0', 'I7': '3', 'I8': '0', 'I9': '0'}
6

So here are  the facts that make `grid5` illegal.

In [15]:
print(peers['A7'])
print(f"B8 is a a peer of A7: {'B8' in peers['A7']}")
print(f"grid_dict5['A7']: {grid_dict5['A7']}   grid_dict5['B8']: {grid_dict5['B8']}"\
       f"   Equal? {grid_dict5['A7'] == grid_dict5['B8']}")

{'A5', 'E7', 'F7', 'C9', 'A2', 'A6', 'C8', 'A1', 'A3', 'B7', 'A8', 'B8', 'B9', 'A9', 'G7', 'A4', 'C7', 'D7', 'H7', 'I7'}
B8 is a a peer of A7: True
grid_dict5['A7']: 6   grid_dict5['B8']: 6   Equal? True

Now look at `grid2` and `grid3`.  Are they legal?

Your assignment is to write a function that will print out `Invalid` if the grid that is
passed in as an argument is illegal and will print out `Valid` if the grid is legal.  Your function, named `test`, should take the dictionary representation of a grid as an argument (apply `grid_values` to the grid before passing it to `test`) and it  should work as follows:

```
def test(grid):
     Your code goes here

test(grid_values(grid1))
test(grid_values(grid2))
test(grid_values(grid3))
test(grid_values(grid4))
test(grid_values(grid5))
```

When you finish your code and execute the lines above, the following should print out:

```
   Valid!
   Valid!
   Invalid!
   Invalid!
   Invalid!
```

One thing to think about is what test you will use to find out that a square is valid/invalid. Another thing to think about is
where in your code the two distinct `print` statements will go. You can't print 'Valid!' when you've seen one valid square.  You have to wait until all the squares have been proven valid.  Does it work exactly the same for 'Invalid!'? You can't print 'Invalid!'  when you've only seen one invalid square?

**Warning One**. It follows from the definition of invalidity that for any grid if squares B8 and A7 have the same value, then the grid is invalid.  Yet the following bit of Python is not a test for invalidity:

```
'B8'  == 'A7'
```

Can you see why not?

We want:

In [45]:
grid_dict5 = grid_values(grid5)
grid_dict5['B8']  == grid_dict5['A7']  #Dictionary rep provides easy lookup of grid values!

True

So we want in effect to check all the pairs of squares that aren;t allowed to contain the same value.   How can we do that?

Well you've been givien a very convenient data structure in the code above.
It's called `unitlist`.  It is a list of lists.  Each inner list contains the squares in what Norvig calls a "unit", a row, or a column, or a box.

In [17]:
print(len(unitlist))
print(unitlist[0]))  # Row 1
print(unitlist[20])  # THe box in the Upper Righthand Corner

27
['A1', 'B1', 'C1', 'D1', 'E1', 'F1', 'G1', 'H1', 'I1']
['A7', 'A8', 'A9', 'B7', 'B8', 'B9', 'C7', 'C8', 'C9']

So the path grows clearer.  Check each unit to see if any squares in that unit have duplicate values.

The basic sketch for the `test` function is:

1.  Word on the dictionary interpretation.
2.  Look at all the units.  
3.  For each unit check whether there are any duplicates.
4.  If you find a duplicate, print 'Invalid! and return
5.  If you don't find a duplicate.  Print 'Valid!' and return.

In the next square write an expression that finds all the values in the squares of `unitlist[20]` in grid5.

In [18]:
grid_dict5 = grid_values(grid5)
# Your code here.  It will use grid_dict5 and unitlist[20]

In the next square write an expression that finds all the values in the **filled** squares of `unitlist[20]` in grid5 (exclude squares with value `'0'`.)

In the next square loop through all units in unitlist and for **each** unit, set the variable `filled_squares` to the values of the filled squares in the unit, and then print the unit (the 9 square names in the current unit) and the value of `filled_squares`.