# Python Types Assignment Solution 2022

Name/RedID:

## Part One

For the problems in Part One, assume all the definitions in the next cell, and check your answers by evaluating the next cell and verifying that your answers give the required results.

In [1]:
friends_network = {'susan': {'alex': 8, 'louis': 5, 'plato': 1, 'giuseppe':3},
                   'alex': {'louis': 5, 'susan': 3, 'giuseppe':3},
                   'louis': {'alex': 4, 'plato': 4, },
                   'plato': { 'louis': 8,  'giuseppe':2, 'susan': 2},
                   'giuseppe' : {}
                  }
language_decade_pairs = [ ('50s', 'fortran'), ('60s', 'pascal'), ('70s', 'C'),  ('80s', 'C++'),
                          ('90s', 'java'), ('00s', 'perl'), ('10s', 'python')]
dominant_computer_languages = dict(language_decade_pairs)
awards = ('grammy', 'emmy', 'pulitzer','hugo','baseball_mvp','edgar', 'nobel_prize','oscar')
secret_word = "White House"
personnel_files = [{'name':'Fred Flinstone',
                     'spouse': 'Wilma',
                      'town of residence': 'Bedrock'},
                    {'name':'Barney Rubble',
                     'spouse': 'Betty',
                      'town of residence': 'Bedrock'},
                  ]

In the problems below,  when you are asked to write an expression that "accesses". a particular name, that means your answer should **use** that name.  For if asked:


   Write an expression that accesses `awards` and return the value `'baseball_mvp'`.


You might answer:

```
awards[4]
```

because that is an expression that uses the name `awards` and returns the value
`"baseball_mvp"`, as illustrated in the next cell.

In [ ]:
awards[4]

'baseball_mvp'

In the next cell, write expression that accesses `awards` and returns the value `"pulitzer"`.

In [3]:
awards[2]

'pulitzer'

In the next cell, write an expression that accesses `secret_words` and returns the value `"H"
`.

In [5]:
secret_word[6]

'H'

In the next cell, write an expression that accesses `awards` and produces an `IndexError`.  Try to make the index you use to access `awards` as small as possible.

In [5]:
awards[len(awards)]

IndexError: tuple index out of range

In the next cell, write an expression that accesses `awards` and returns `"oscar"`.  There is more than one answer.  See if you can find two.

In [6]:
awards[-1],awards[7]

('oscar', 'oscar')

 In the next cell, write an expression that accesses `awards` and returns `"s"`.

In [8]:
awards[-1][1]

's'

Explain what happens  when the following expression is evaluated.  Edit it to be an expression that returns `"n"`.

In [12]:
# Type Error: string indexes must be integers.
awards[6]['n']

TypeError: string indices must be integers

In [13]:
# Edited version
awards[6][0]

'n'

In the next cell, write an expression that accesses `awards[2]` and returns `True`.

In [9]:
awards[2][0]  == 'p'

True

In the next cell, write an expression that accesses `language_decade_pairs` and raises
a `TypeError`.

In [11]:
language_decade_pairs['10s']

TypeError: list indices must be integers or slices, not str

In the next cell, write an expression that accesses `friends_network` and returns `8`.

In [22]:
friends_network['susan']['alex']

8

In the next cell, write an expression that accesses `friends_network` and returns `4`.

In [15]:
friends_network['louis']['plato']

4

In the next cell, write an expression that accesses `personnel_files` and returns `Barney Rubble`.

In [24]:
personnel_files[1]['name']

'Barney Rubble'

In the next cell, write an expression that accesses `personnel_files` and returns `"roc"`.

In [19]:
personnel_files[1]['town of residence'][3:-1]

'roc'

Can you write an expression that sets the first element of `awards` to be `"national_book_award"`.  If not, why not?

You may use the next cell to illustrate your answer.

In [20]:
# Type Error since tuple are immutable
awards[0]  = "national_book_award"

TypeError: 'tuple' object does not support item assignment

In the next cell, write an expression that accesses `awards[-2]` and returns `True`.

In [32]:
awards[-2]

'nobel_prize'

In [23]:
'_' in awards[-2]

True

In the next cell, write an expression that accesses `friends_n etwork` and returns 
a dictionary with three keys.

In [33]:
print(friends_network['alex'])
len(friends_network['alex'].keys())

{'louis': 5, 'susan': 3, 'giuseppe': 3}

3

##       Part Two

Write down expressions to retrieve the given values from the given variables.

1) `'mm'` from `awards`

In [28]:
awards[1][1:3]

'mm'

2) `'yth'` from `dominant_computer_languages`

In [38]:
dominant_computer_languages['10s'][1:4]

'yth'

3) `'yth'` from `language_decade_pairs`

In [42]:
language_decade_pairs[-1][1][1:4]

'yth'

4) `'mvp'` from `awards`

In [44]:
awards[4][-3:]

'mvp'

5) `'edr'` from `personnel_files`

In [41]:
personnel_files[0]['town of residence'][1:4]

'edr'