**Prerequisites**

1.  You know what a type is in the context of a computer language.
2.  You know what a Python container is.
3.  You know what the Python builtin container types are and have some familiarity with their differences:
    a.  List
    b.  Tuple
    c.  String
    d.  Dictionary
    e.  Set
    
One way you might have picked up these odd bits of knowledge is to have read [Chapter 3 of the online text.](https://gawron.sdsu.edu/python_for_ss/course_core/book_draft/Python_introduction/Python_introduction.html)
It is also probably of use in focusing the ideas of particular importance in this notebook to have had a look at
[the Python Types Slides I](https://gawron.sdsu.edu/python_for_ss/course_core/lectures/python_types_slides_one.pdf) and
[the Python Types Slides Ii](https://gawron.sdsu.edu/python_for_ss/course_core/lectures/python_types_slides_two.pdf).

In following along with this lecture, it is best to have [the notebook we are using](https://colab.research.google.com/github/gawron/python-for-social-science/blob/master/intro/programming_nb.ipynb) open in a separate tab.

This notebook/lecture is particularly "Socratic" in its teaching style.  The notebook supplies you with small bits of information or data and then asks to to learn by answering questions that take you beyond what youy've been given.  The answers to the questions all require you to supply a snippet of code.   Feel free to pause the lecture at any time, so you can switch over to the notebook tab and try out an answer of your own.  If you do this, you should do your best to **verify your answers answers yourself** by evaluating the code cell you've written your answer in.  More hints on this as we go. 

In any case, the lecture video will take you through the set up for each question, then tell you what a good time to try out your answer is.  It will then provide an answer.  That is why the title of the notebook at the top of the page is **python_types_nb-Copy1**.

<font size=7> <b> Python types </b></font>

## Tuples

To start using this notebook, recall the directions you were given in the `running_python` video about how to use a notebook.  Execute the next cell.  That is, in Jupyter, position your cursor in the next cell and hit the `[Enter]` key while holding down the shift key, which we will henceforth write as `[Shift]`-`[Enter]`.  Nothing visible will happen.  But you will have defined the variable T to be a tuple with four members.  In Google Colab, just hit the small triangle (or `Play` button) to the left of the cell.

In [2]:
#Variable assignment. T is now a tuple.
T = tuple('abcd')
T

('a', 'b', 'c', 'd')

The next cell retrieves the third element of `T` by using the positional index 2 (0 is first position):

In [3]:
T[2]

'c'

The next cell retrieves the third from the last element of T by using the positional index -3 (-1 is last position):

In [4]:
T[-3]

'b'

Consider a new tuple, defined from a string using the type name `tuple` as a creator
or factory function.

In [5]:
S = 'abcdefg'
A = tuple(S)
print(A)
B = (S[0:3],S[1:4],S[2:5],S[3:6],S[4:7])
print(B)

('a', 'b', 'c', 'd', 'e', 'f', 'g')
('abc', 'bcd', 'cde', 'def', 'efg')

Recall how **splices** work.

In [ ]:
# elements from position 1 up to but not including position 4
# elements at positions 1,2, and 3
A[1:4]

#### Retrieve `('c','d')` from `A`

#### Retrieve `'cde'` from `B`

#### Retrieve `('cde', 'def')`  from B

The next cell repeats the original definition of `T` from
above and assigns the **string** `"1"` to be the value at the second position.

The raises an **Exception**. To see what the `Exception` is, position your cursor in the cell and type `[Shift]`-`[Enter]`. Explain what the error is in the cell 2 cells down (labeled `Enter your answer here`). (It is not a `NameError`; if you get a `NameError`, that's because you haven't executed the cell that defines the variable `T` first.)

In [ ]:
T = tuple('abcd')
##  Attempted assignment
T[1] = '1'

In the next cell your task is to illustrate that you understand the source of the problem
with the **assignment statement** `T[1] = '1'`.

To do that, use the cell below to define `T` differently so that the assignment is not an error.

Here are some guidelines:

1.  The new `T` must still be a sequence  (or `T[1]` won't work).
2.  Try to have the new `T` contain the same elements as the old `T`.

In [ ]:
#T =  tuple('abcd') # Assignment raises Exception
T =  list(T)              # Assignment in next line is valid   
T[1] = '1'
T

Takeaways:

1.  Tuples are sequences.  data is accessed by **positional indexing**, with the first element at index 0.  This is called 0-based indexing.
2.  A splice from any sequence is always a sequence of the same type.
3.  The length of a splice `start:stop` is always  `stop - start`.
4.  Tuples can't be updated.  That is, they don't support **assignment**.  You can't change the value of an element at a particular position.
5.  Lists do support assignment.  To create a sequence you can update, just turn a tuple into a list.

# Lists (& Containers as compound data)

In [ ]:
T = tuple('abcde')
print(T)
L = list('ab1de')
print(L)

In [ ]:
L[1]

In [ ]:
L[-2]

In [ ]:
print(T)
print(L)

In [ ]:
'1' in L

In [ ]:
'c' in L

In [ ]:
len(L)

In [ ]:
print('c' in T)
print(len(T))

In [ ]:
'1' in T

Assignments of new values to positions are possible:

In [ ]:
L[1]  = ('1','2')
L

Note that we can assign to splice locations just as we assign to index
locations.

In [ ]:
L = list('ab1de')
print(L)
L[1:3]  = ['b','f']
print(L)

In the next cell,  use a splice assignment to replace the last two elements of 
`L` with a single element `"x"`.

In [ ]:
print(L)
# Your splice assignment goes here

print(L)

A second answer.

In [ ]:
L = list('ab1de')
L[1:3]  = ['b','f']
print(L)

print(L)

We introduce a new list, which is a list of **tuples**.  That is, it is a **compound container**, a container
which contains other containers inside of it.

In [ ]:
Mothers = [('George Clooney', 'Rosemary Clooney'), 
           ('Jimmy Carter',  'Lillian Carter'), 
           ('George H. W. Bush','Dorothy Walker Bush'), 
           ('George W. Bush', 'Barbara Bush'),
           ('Liza Minnelli', 'Judy Garland')]

In [ ]:
# 10 strings inside Mothers but the length of Mothers is not 10
len(Mothers)

In [ ]:
len(Mothers[0])

In [ ]:
Mothers[0]

**Retrieving data from compound data structures**

In the next cell, write a single expression that retrieves the value `"Judy Garland"` from `Mothers`.  Test your answer by typing `[Shift]`-`[Enter]` to see what you get.  If you get `NameError`, it's because you didn't first execute the expression in the cell above to define the variable `Mothers`.

In [ ]:
Mothers

In [ ]:
#Answer should begin Mothers[...
Mothers[4][1]

**Retrieving data from compound data structures: Going deeper**

In the next cell, type a single expression that retrieves the value `z` from `Mothers` and sets  a variable to that value.  This answer will be of the  form `Variable = Mothers[...`.  

Note:  There are mutliple valid answers

In [ ]:
Mothers

In [ ]:
Mothers[-1][0][2]

Takeaways

1.  Lists are sequences just like tuples.  Indexing by position works and it works just the same way.
2.  All containers `C` have lengths and elements; that is, `len(C)` and the `x in C`  Boolean test always works.
3.  Containers are always compound. They are data structures composed of some other smaller, usually differently typed, data. 
4.  Indexing container `C` by position retrieves an element of `C`; if that element is itself a container, you can index again.  That is, expressions of the form `C[idx1][idx2]`  will work.

# Strings

The cell below defines a string.  Execute that definition. (This is another way of saying, "Place your cursor in the cell and type `[Shift]`-`[Enter]`)".  Notice that when you evaluate this cell, Python doesn't seem to do anything.  Nevertheless it has changed its state to reflect the fact that the variable `Example_str` has been defined to denote a particular string.

In [16]:
Example_str = "program"

Strings are sequence containers just as lists and tuples are.  Because they are containers, `len` and `in` work.  Because they are sequences (they are ordered), that means indexing by position works.

In [17]:
len(Example_str)

7

In [18]:
'r' in Example_str

True

And you know enough to check out indexing by position yourself:

In the next cell, write and execute an expression that retrieves the value `"r"` from `Example_str`.  There are two *r*'s in the string, so there are at least two possible answers.

In [22]:
Example_str[-3]

'r'

The string `program` has the nice property that at least one of its substrings is an English word.  In the cell below write a single Python expression that retrieves the word 'pro' from `Example_str`. You might need to review the textbook material on [string slices](http://www-rohan.sdsu.edu/~gawron/python_for_ss/course_core/book_draft/Python_introduction/strings.html).  Evaluate it with `[Shift]`-`[Enter]` to check your answer.

In [25]:
Example_str[:3]

'pro'

Help with splice indices.  Think of the indices as pointing
to positions between the elements, with the first index (`0`)
pointing to the very beginning of the string. Then in the string `"Python"` the splice `1:4`
covers the span `'yth'` as in the following picture:

```
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1   
```

In [26]:
'Python'[1:4]

'yth'

In [27]:
P = 'Python'
print(P[1])
print(P[1:4])
print(P[-6])
print(P[-5:-2])

y
yth
P
yth

In the  cell below, add a splice
that retrieves the English word 'ram'
from `Example_str`.

In [28]:
Example_str = "program"
Example_str[-3:]

'ram'

 In the  cell below, write an expression that retrieves the English word  'rog'. 
 
Remember that when there's more than one line in the cell, Python 
executes them all but only prints out the value of of the last line.
So you need to make your additions the last lines in
in order to see the effect of what myou've done.

In [29]:
Example_str = "program"
Example_str[1:4]

'rog'

# Dictionaries

We begin discussing dictionaries with an observation about our last example, `Mothers`, a list of pairs.  Suppose what we want to do is to look up the mother of one of the celebrities.

In [31]:
Mothers = [('George Clooney', 'Rosemary Clooney'), ('Jimmy Carter', 'Lillian Carter'),
           ('George H. W. Bush', 'Dorothy Walker Bush'), ('George W. Bush', 'Barbara Bush'),
           ('Liza Minnelli', 'Judy Garland')]

In [32]:
# Look up George Bush's mother
Mothers[2]

('George H. W. Bush', 'Dorothy Walker Bush')

This is fine if you know that the information about George W. is in 4th position.  Then
to get an expression that returns George W.'s mother, you could do:

In [33]:
Mothers[2][1]

'Dorothy Walker Bush'

But what if you knew that `Mothers` contains information about celebrity mothers
but you didn't know that the information about George W. was in 4th position.

For example, suppose the information is being updated all the time and nothing
keeps track of how many updates have occurred.  The information you want
would still be in the string, but you would have to **search** for it.

By which I mean something like this:

In [34]:
for (c,m) in Mothers:
    if c == 'George W. Bush':
        break
m

'Barbara Bush'

Loop through the string until you find the tuple beginning with George W.

At that point stop the loop.  The value of `m` will be the mother you you want.

This is both inefficient and a nuisance.  What we want is something where we plug in the child and it outputs the mother.

And the next cell shows us what does that:  a **Dictionary** made out of the list of pairs.

In [35]:
ddm = dict(Mothers)

This transforms a list of pairs with the first member of each pair as a key and the second member as its value.  So `ddm` is now a dictionary with individuals as keys, and their mothers as values.

In [36]:
ddm

{'George Clooney': 'Rosemary Clooney',
 'Jimmy Carter': 'Lillian Carter',
 'George H. W. Bush': 'Dorothy Walker Bush',
 'George W. Bush': 'Barbara Bush',
 'Liza Minnelli': 'Judy Garland'}

With dictionaries we move from **positional indexing** (each index is an integer specifying the position
of an item), to **keyword indexing** (each index is an keyword defining the **key** for a **value**).

In [37]:
ddm['George W. Bush']

'Barbara Bush'

Often if we want **functional information** for entities we will store it in a dictionary.

A function on a set is an assignment of unique values to each of the entities in a set.
The **mother** relation is a function on people because people have unique mothers,
so it would be quite natural to store information aboiut people's mothers
in a dictionary.  Other typically functional relations on people 
are father, address, social security number, congressional district, and place of birth.

Non-functional relations are sibling, cousin, child, and friend.  A person
can often have more than one sibling, cousin, child, or friend.

Place of employment used to be a fairly natural example of a functional
relation, but it is probably less of a natural example in our current *gig* economy,
where people often work multiple jobs.

In the next cell is another Python expression.  Before evaluating the cell, examine it carefully and try to predict what the result of evaluating it will be.  Then in the cell below that, explain the result that you got.

In [38]:
Mothers['George W. Bush']

TypeError: list indices must be integers or slices, not str

Mothers is a list.  Positional indexing won't work.

In [39]:
ddm['George Clooney']

'Rosemary Clooney'

So now you know how to transform a list of pairs into a dictionary, so that the first member of each pair becomes a key for the dictionary and the second member becomes its value.

There are two other ways to define dictionaries which are both worth knowing.  We start with the easiest to type.

In [40]:
dd = dict(name = 'Guido van Rossum',
          job_title = 'Benevolent Dictator for Life',
          native_language = "Dutch",
          favorite_non_native_language = 'English',
          favorite_computer_language = "Perl")

In [41]:
dd

{'name': 'Guido van Rossum',
 'job_title': 'Benevolent Dictator for Life',
 'native_language': 'Dutch',
 'favorite_non_native_language': 'English',
 'favorite_computer_language': 'Perl'}

In [42]:
dd['favorite_computer_language']

'Perl'

In the next cell down, write a single expression to retrieve the value `"Benevolent Dictator for Life"` from `dd`.

In [43]:
dd['job_title']

'Benevolent Dictator for Life'

What happens when we try to look up a key that isn't in the dictionary?

In [44]:
dd['favorite_pizza_topping']

KeyError: 'favorite_pizza_topping'

In [45]:
print('favorite_computer_language'in dd)
print('favorite_pizza_topping' in dd)

True
False

In the next cell down write an expression that *adds* information to `dd`.  Specifically add the *key* `favorite_tv_show` and set its value to be `"Monty Python's Flying Circus"`.  Note that strings can have spaces in them and still be valid strings.

You should not be satisfied that you have found the correct answer until you have done the following:

1.  Evaluated your answer in a code cell to make sure it is syntactically correct (does not raise a `SyntaxError`).
2.  Evaluated `dd` **after** the update to check by inspection that the new information you wanted
    has been added to `dd`.
3.  Tried to retrieve the information you added in the usual way, by asking the dictionary for the
    value associated with the new key:
     
    ```
    dd['favorite_tv_show']
    "Monty Python's Flying Circus"
    ```

In [46]:
dd['favorite_tv_show'] = "Monty Python's Flying Circus"
dd

{'name': 'Guido van Rossum',
 'job_title': 'Benevolent Dictator for Life',
 'native_language': 'Dutch',
 'favorite_non_native_language': 'English',
 'favorite_computer_language': 'Perl',
 'favorite_tv_show': "Monty Python's Flying Circus"}

In [47]:
dd['favorite_tv_show']

"Monty Python's Flying Circus"

Note: There are several possible answers to this question.  One is quite simple, and uses the syntax that is parallel to what we did for mutable sequences (for example, lists).

For list L we did something like

```
L[1] = 'abracadabra'

```

which changed the  second element of `L` to be the string `'abracadabra'`.  For a dictionary `dd` we can do:

```
dd[key] = value
```

To make `dd`'s value for the key be `value`.

A second idea is to use the dictionary's `update` method, which allows a very simple syntax:

```
dd.update(key = value)
```

In [48]:

dd.update(favorite_tv_show =  "Monty Python's Flying Circus")
dd

{'name': 'Guido van Rossum',
 'job_title': 'Benevolent Dictator for Life',
 'native_language': 'Dutch',
 'favorite_non_native_language': 'English',
 'favorite_computer_language': 'Perl',
 'favorite_tv_show': "Monty Python's Flying Circus"}

In the next cell correct an error in our data.  Guido van Rossum's favorite computer
language is not Perl.  It is Python.  

**Write an assignment that corrects the error.**

In [49]:
dd

{'name': 'Guido van Rossum',
 'job_title': 'Benevolent Dictator for Life',
 'native_language': 'Dutch',
 'favorite_non_native_language': 'English',
 'favorite_computer_language': 'Perl',
 'favorite_tv_show': "Monty Python's Flying Circus"}

In [50]:
dd['favorite_computer_language'] = 'Python'
dd

{'name': 'Guido van Rossum',
 'job_title': 'Benevolent Dictator for Life',
 'native_language': 'Dutch',
 'favorite_non_native_language': 'English',
 'favorite_computer_language': 'Python',
 'favorite_tv_show': "Monty Python's Flying Circus"}

If you've done everything according to specs, here is what `dd` should look like
when you evaluate it in a code cell:

```
{'name': 'Guido van Rossum',
 'job_title': 'Benevolent Dictator for Life',
 'native_language': 'Dutch',
 'favorite_non_native_language': 'English',
 'favorite_computer_language': 'Python',
 'favorite_tv_show': "Monty Python's Flying Circus",
 }
 ```

In [51]:
dd

{'name': 'Guido van Rossum',
 'job_title': 'Benevolent Dictator for Life',
 'native_language': 'Dutch',
 'favorite_non_native_language': 'English',
 'favorite_computer_language': 'Python',
 'favorite_tv_show': "Monty Python's Flying Circus"}

In the next cell we define a new dictionary using **curly-braces** syntax.

In [58]:
mystery_sentence_letter_counts = {' ': 9, 'e': 5, 'o': 5, 'l': 3, 'd': 2,
                                  'h': 2, 'r': 2, 'u': 2, 'w': 2, 'y': 2, '.': 1, 
                                  'a': 1, 'c': 1, 'b': 1, 'g': 1, 'f': 1, 
                                  'i': 1, 'k': 1, 'j': 1, 'm': 1, 'n': 1, 'q': 1, 
                                  'p': 1, 't': 2, 'v': 1, 'x': 1, 'z': 1}


Note the differences with what we did above with `dict`:

```
dd = dict(name = 'Guido van Rossum',
          job_title = 'Benevolent Dictator for Life',
          native_language = "Dutch",
          favorite_non_native_language = 'English',
          favorite_computer_language = "Perl")
```

Above we are using the type name `dict` as a function to create a dictionary instance
(it is a Python convention that type/class names also serve as factory,
or creator, functions).

The keyword argumnents to the function are being interpreted as key/value pairs,
so no quotes are necessary around the keywords; keys and values are separated by
equal-signs; all business as usual for function keywords.

The curly brace syntax for creating a dictionary, on the other hand, 
is completely analagous to the square bracket syntax for creating lists.
No function is called.  It is just a syntactic convention for entering
a dictionary: Within curly braces, enter the key-value pairs with key separated from
value by `:` and the pairs separated from each other by `,`.

**Using the same syntax as is used in defining `mystery_sentence_letter_counts` (curly braces and colons),
write another definition of `dd` in the next cell.**  Your answer should define exactly the same dictionary,
but using a different syntax.  Here's how your definition might might start:

In [52]:
dd

{'name': 'Guido van Rossum',
 'job_title': 'Benevolent Dictator for Life',
 'native_language': 'Dutch',
 'favorite_non_native_language': 'English',
 'favorite_computer_language': 'Python',
 'favorite_tv_show': "Monty Python's Flying Circus"}

In [53]:
dd = {'name': 'Guido van Rossum',
 'job_title': 'Benevolent Dictator for Life',
 'native_language': 'Dutch',
 'favorite_non_native_language': 'English',
 'favorite_computer_language': 'Python',
 'favorite_tv_show': "Monty Python's Flying Circus"}

In [54]:
dd

{'name': 'Guido van Rossum',
 'job_title': 'Benevolent Dictator for Life',
 'native_language': 'Dutch',
 'favorite_non_native_language': 'English',
 'favorite_computer_language': 'Python',
 'favorite_tv_show': "Monty Python's Flying Circus"}

Let's return to `mystery_letter_counts`

```
mystery_sentence_letter_counts = {' ': 9, 'e': 5, 'o': 5, 'l': 3, 'd': 2,
                                  'h': 2, 'r': 2, 'u': 2, 'w': 2, 'y': 2, '.': 1, 
                                  'a': 1, 'c': 1, 'b': 1, 'g': 1, 'f': 1, 
                                  'i': 1, 'k': 1, 'j': 1, 'm': 1, 'n': 1, 'q': 1, 
                                  'p': 1, 't': 2, 'v': 1, 'x': 1, 'z': 1}
```
The  dictionary `mystery_letter_counts` stores the number of times each of 28 characters occurs in a particular sentence of English.  We will show you this sentence shortly.  In the meantime, you are welcome to guess what the mystery sentence is; it is obviously a sentence that includes all 26 letters of the alphabet.

In the cell below, write an expression that retrieves the value `9` from `mystery_sentence_letter_counts`.

In [60]:
mystery_sentence_letter_counts[' ']

9

How might we get a dictionary like `mystery_letter_counts` defined?   Yes, typing it in is one option. But there are ways that might arise more naturally in the context of analyzing some data.  Suppose we had a sentence and we simply wanted to count the number of times each character occurs in it (acquiring accurate English letter frequencies is sometimes important, for example if you're a cryptographer.

We'd probably write a piece of code like this (using a loop, which is something
you haven't yet been introduced to).

In [61]:

# The mystery sentence
Sentence = 'the quick brown fox jumped over the lazy yellow dog.'
# Cook up an empty dictionary
letter_freqs = dict()
# Write a loop to count the letters in `Sentence`
for letter in Sentence:
    if letter in letter_freqs:
        letter_freqs[letter] += 1
    else:
        letter_freqs[letter] = 1

This dictionary named `letter_freqs` is defined in line 3 and filled with information in a `for` loop that begin on line 4 and ends on line 5.  The variable `Sentence` is defined to be a string (line 2) and the `for` loop steps through each character of that string and adds 1 to its count in the dictionary (line 5).  Looking
at `letter_freqs` you see that the keys and counts in the dictionary `letter_freqs` are the same as those in the dictionary `letter_counts`, defined in one of the cells above.

In [62]:
letter_freqs

{'t': 2,
 'h': 2,
 'e': 5,
 ' ': 9,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 1,
 'r': 2,
 'o': 5,
 'w': 2,
 'n': 1,
 'f': 1,
 'x': 1,
 'j': 1,
 'm': 1,
 'p': 1,
 'd': 2,
 'v': 1,
 'l': 3,
 'a': 1,
 'z': 1,
 'y': 2,
 'g': 1,
 '.': 1}

Finally here's a very simple way to do what we just did in the `for` loop.  `Python` has many specialized kinds of dictionaries you can `import`, thus adding them to what you get in your builtin `Python`.   One of these is called a `Counter`.  

You use a `Counter` to count the kinds of things contained in a container.  Here's how to count the number of times each character occurs in a string.

In [65]:
import collections
mslc = collections.Counter('i have checked out on many queer lax days with flying bats jumping through hoops.')

In [66]:
mslc

Counter({'i': 4,
         ' ': 14,
         'h': 6,
         'a': 5,
         'v': 1,
         'e': 5,
         'c': 2,
         'k': 1,
         'd': 2,
         'o': 5,
         'u': 4,
         't': 4,
         'n': 4,
         'm': 2,
         'y': 3,
         'q': 1,
         'r': 2,
         'l': 2,
         'x': 1,
         's': 3,
         'w': 1,
         'f': 1,
         'g': 3,
         'b': 1,
         'j': 1,
         'p': 2,
         '.': 1})

In the cell below write an expression that retrieves the number of times the letter `e` occurred in the mystery sentence from `mslc`.

In [67]:
mslc['e']

5

In the cell below, define the same dictionary we called `letter_freqs2` above, using the string `Sentence` and a `Counter`.  The minimal answer add justs one line of code to the cell below.

Check your answer.

In [ ]:
import collections

# Filling a Dictionary with information

Now let's look at a more practical example of defining a dictionary.

In [68]:
from IPython.display import Image
Image(url = "https://gawron.sdsu.edu/python_for_ss/course_core/book_draft/_static/example_toy_graph.png",
      width= 600)

The graph pictured above represents victories in a sports tournament.  A link from team A to team B means A defeated B are in the playoffs.  Notice that a team can be at the tail of multiple arrows (look at Houston or Golden State, for example), but it can be at the head of only one arrow.  What fact about the structure of the tournament does this capture?

Ponder your answer for a moment.

A team can be at the tail of multiple arrows (look at Houston or Golden State, for example).  That means during the course of the tournament Houston and Golden State defeated several teams. The fact no team is at the head of more than one arrow means that a team can only be defeated once during the tournament.  That must mean this is a single elimination tournament.

Using the example of the Enron email graph discussed in the online text as your model, represent the above graph as a **dictionary**.  You will have to tyoe the dictionary in by hand.

There are 8 teams in the graph.  Your dictionary should have exactly 8 keys. If `dd` is your dictionary, the `dd['Houston']` should return the teams Houston defeated in the tournament.

There's more than one correct answer.  You may use containers not yet discussed in the notebook.

In [69]:
dd = {'Golden State': {'Houston','New Orleans', 'Memphis'},
      'Houston': {'Dallas','Los Angeles'},
      'Los Angeles':{'San Antonio'},
      'Memphis': {'Portland'},
      'Dallas': {},
      'San Antonio': {},
      'Portland':{},
      'New Orleans': {}}

In [71]:
len(dd['Golden State'])

3

In [74]:
len('Houston Memphis New Orleans'.split())

4

## Sets

In [75]:
S = {'a','b','c', ('d','e')}
T = {'d','a','f'}

In [76]:
T

{'a', 'd', 'f'}

In [77]:
len(S)

4

In [ ]:
len(Mothers)

In [78]:
'd' in T

True

In [79]:
len(dd)

8

In [80]:
Mothers

[('George Clooney', 'Rosemary Clooney'),
 ('Jimmy Carter', 'Lillian Carter'),
 ('George H. W. Bush', 'Dorothy Walker Bush'),
 ('George W. Bush', 'Barbara Bush'),
 ('Liza Minnelli', 'Judy Garland')]

In [81]:
('George Clooney', 'Rosemary Clooney') in Mothers

True

In [82]:
'George Clooney' in Mothers

False

In [83]:
'a' in S

True

In [84]:
'd' in T

True

In [86]:
('d','e') in S

True

In dictionaries it's the **keys** that count as the elements **in** the dictionary.

They uniquely define an item of information in the dictionary, a key-value association.

In [87]:
print(dd)
'name' in dd

{'Golden State': {'Memphis', 'Houston', 'New Orleans'}, 'Houston': {'Dallas', 'Los Angeles'}, 'Los Angeles': {'San Antonio'}, 'Memphis': {'Portland'}, 'Dallas': {}, 'San Antonio': {}, 'Portland': {}, 'New Orleans': {}}

False

In [88]:
S = {'a','b','c'}
T = {'b','a','c'}
U = {'a','b','c','b','b'}
STup = ('a','b','c')
TTup =  ('b','a','c')
UTup = ('a','b','c','b','b')

In [89]:
S == T

True

In [90]:
S == U

True

In [91]:
S

{'a', 'b', 'c'}

In [92]:
U

{'a', 'b', 'c'}

In [93]:
STup == TTup

False

In [94]:
STup == UTup

False

#### Retrieve the element 'a' from `S`?

In [95]:
print(S)
print('a' in S)

{'c', 'b', 'a'}
True

There isn't any way to **retrieve** `'a'` from `S` because there isn't any additional piece of
information it's hooked onto (a position, or a key).  

It's just in `S` (or it's not).

What we can do is **remove** the element `'a'` from S.

In [96]:
print(S)
S.remove('a')
print(S)

{'c', 'b', 'a'}
{'c', 'b'}

It's a `KeyError` to try to remove  something that isn't a member.

In [97]:
S.remove('w')

KeyError: 'w'

Sets

1.  Sets are **not** sequences.  Order doesn't matter.
2.  Sets are not indexable.  They support neither positional indexing (like sequences) nor keyword indexing (like dictionaries).  The question they answer about any object `x` is whether `x` is in **in** or **out**; that is, they serve to identify collections of objects that have some property. 
2.  There are no duplicates.
3.  Sets may contain other containers (hierarchical structure), although there are limitations we'll
    discuss elsewhere.
4.  Sets are like dictionaries in several ways. Neither is a sequence.   They both raise `KeyErrors`
    when you try to perform a retrieval or update operation on a non-member.

# Data structure key: the elements of a container

There are several things we want to be able to do with a sequence.  
   1.  We want to be able store and retrieve elements in a particular position.
   2.  We want to be able to efficiently list all the elements of the sequence in order and perhaps do some thing
       with them.
The `for`  loop we used in the previous section lets us efficiently step through all the elements of a sequence
and do some uniform thing to all of them.  For example, the next `for` loop just prints all the elements of Sentence2.
Evaluate it and make sure you understand why it works the way it does.

In [98]:
Sentence2 = 'The quick brown fox jumped over the lazy yellow dog.'
for letter in Sentence2:
    print (letter)

T
h
e

q
u
i
c
k

b
r
o
w
n

f
o
x

j
u
m
p
e
d

o
v
e
r

t
h
e

l
a
z
y

y
e
l
l
o
w

d
o
g
.

Now suppose we wanted to print all the **words** in `Sentence2`, each on a line all its own.

 

Well we can't do that with a simple  `for` loop with a string like `Sentence2`.  This is because the words in `Sentence2` are all different lengths and therefore they turn out to be different-sized splices. The next cell prints out the first
three words using splices. Evaluate it and make sure you understand why the splices work the way they do.

In [99]:
# First we need a splice 3 characters long starting at the beginning of the string.
Sentence2 = 'The quick brown fox jumped over the lazy yellow dog.'
print(Sentence2[0:3]) # Now skip the space
print(Sentence2[4:9]) # Now skip the space
print(Sentence2[10:16])

The
quick
brown

## An easier way

Fortunately there's a much easier way to print out the words.  We turn the string into a list, each of whose elements is a word in the string.  Then we use a simple `for` loop.

In [100]:
Sentence2 = 'The quick brown fox jumped over the lazy yellow dog.'
word_list = Sentence2.split()
for word in word_list:
    print(word)

The
quick
brown
fox
jumped
over
the
lazy
yellow
dog.

The next cell shows what `split` does.  It creates a list of strings by breaking the original string up at the spaces.

In [101]:
Sentence2 = 'The quick brown fox jumped over the lazy yellow dog.'
Sentence2.split()

['The',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'yellow',
 'dog.']

 Notice the spaces themselves are not included. When we split "on" some element of a string, that element is regarded as a *separator character* and the things of interest are the things between separators.  `split` is actually a much more general function that can split a string on any character and return the substrings separated by that element.  So for example if we split `Sentence2` on `u`, we get three pieces back, because there are two `u`'s.

In [102]:
Sentence2 = 'The quick brown fox jumped over the lazy yellow dog.'
Sentence2.split('u')

['The q', 'ick brown fox j', 'mped over the lazy yellow dog.']

Notice that this time the elements of the list returned by `split` did include spaces.

 
Try to guess what we'll get in the next example before looking at the result in the output cell. We will try to split `Sentence2` on `y`.  How many pieces will there be and what will the second piece be?

In [103]:
Sentence2 = 'The quick brown fox jumped over the lazy yellow dog.'
Sentence2.split('y')

['The quick brown fox jumped over the laz', ' ', 'ellow dog.']

More usefully, data is often stored in files with some special character used as a 'separator'.  For example, if you save an Excel file in `.csv` format, the comma character (",") is used as a separator, and a table of people, their ages, and their phone numbers might look like this:

```
 fred,22,7891234
 alice,28,9070077
 joe,20,8742399
```

The next cell shows what you get you get when you split one of these lines on comma:

In [104]:
'joe,20,8742399'.split(",")

['joe', '20', '8742399']

Notice the numbers are not Python numbers; they are strings of digits, because splitting a string always returns a list of strings.

The `default` character that `split` splits on is actually a set of characters, anything that counts as whitespaces.  That includes space (' '), tab ('\t'), a line return, because turning a string into a list of words is often fairly useful.  This is what we did with `Sentence2` above.

Try to guess what the result of the following split will be:

In [105]:
S = """Rose are red;
       violets are blue.
       Sugar is sweet.
       And so are you.
       """
S.split()

['Rose',
 'are',
 'red;',
 'violets',
 'are',
 'blue.',
 'Sugar',
 'is',
 'sweet.',
 'And',
 'so',
 'are',
 'you.']

So `split` treats line breaks just as another kind of white space.

The moral of this section is that different kinds of sequences can have different kinds of elements.  Strings are probably best thought of as having characters (strings of length 1) as their elements, and that's the only convenient way
to loop through them, one character at a time.  Lists are more flexible.  An element of the list can itself be a sequence, and so we can arrange for a list to have chunks of any size as its elements. We just pick whatever chunks are useful, and in strings of text, the word chunks are useful, and the default version of splitting gives us (approximately) a list of word chunks.

## Counting words

Let's review how we did counting above.

In [106]:
from collections import Counter
Sentence = 'the quick brown fox jumped over the lazy yellow dog.'
word_freqs = Counter(Sentence)
word_freqs

Counter({'t': 2,
         'h': 2,
         'e': 5,
         ' ': 9,
         'q': 1,
         'u': 2,
         'i': 1,
         'c': 1,
         'k': 1,
         'b': 1,
         'r': 2,
         'o': 5,
         'w': 2,
         'n': 1,
         'f': 1,
         'x': 1,
         'j': 1,
         'm': 1,
         'p': 1,
         'd': 2,
         'v': 1,
         'l': 3,
         'a': 1,
         'z': 1,
         'y': 2,
         'g': 1,
         '.': 1})

Bearing in mind that we can initilaize a `Counter` with any kind of sequence, revise the code above so that what is counted is words, not characters.

In [107]:
from collections import Counter
Sentence = 'the quick brown fox jumped over the lazy yellow dog.'
word_freqs = Counter(Sentence.split())
word_freqs

Counter({'the': 2,
         'quick': 1,
         'brown': 1,
         'fox': 1,
         'jumped': 1,
         'over': 1,
         'lazy': 1,
         'yellow': 1,
         'dog.': 1})

# Notebook Takeaways

1. Different types => different constructions for retrieving information
2. All types => defined for `in` and `len`
3. In any container, what the elements are matters for retrieving information, for counting, for looping through the elements
4. All containers except strings are **compound**. Containers may have containers of other types as elements.
5. Python syntax allows for hierarchical structure (`X[y][z]`)

The cells below are not discussed in the video lecture, but useful.

# Embedded Structure

In [ ]:
Higgledypiggledy = [1, ['a','b','c'], (1.4, 'Sam')]

We saw this example above.  Here we emphasize the fact that some container types can contain containers, either of the same type  or of different types. `Higgledypiggledy` is a list that contains a list and a tuple.

In [ ]:
Higgledypiggledy[1]

In [ ]:
Higgledypiggledy[1][2]

What value does executing this cell return?

In [ ]:
Higgledypiggledy[2][0]

What value does executing this cell return?

In [ ]:
Higgledypiggledy[2][1][1]

In [ ]:
dd = dict(name = 'Mark Gawron',
          language = 'Python',
          favorite_tv_show = "Monty Python's Flying Circus",
          favorite_desert = 'Apple pie')
dd['name'].split()[0]

In the next exercise we try to retrieve some data.

In [ ]:
dd = dict(name = 'Mark Gawron',
          language = 'Python',
          favorite_tv_show = "Monty Python's Flying Circus",
          favorite_desert = 'Apple pie')

In the next cell, Write a single expression that retrieves the word `Flying` from `dd`.

<font size = 6> <b> Appendix:  Networks (Dictionaries) [Extra Credit] </b></font>

This section presents a brief preview of `Networkx`, an important Python module that provides a number of
tools for building and analyzing networks. Suppose we return to the example of our high school friendship network,
which we represented above in a dictionary.

In [ ]:
from IPython.display import Image
Image(url = "https://gawron.sdsu.edu/python_for_ss/course_core/book_draft/_static/practice_toy_graph.png",
      width= 300)

Alternatively, suppose we have a file `practice_toy_graph.el` whose contents look like this

```
Sue_Anne  Sam 
Sue_Anne  Hugo
Sue_Anne  Harry
Sam  Billy_Joe
Billy_Joe  Barbara
Harry  Hugo
Barbara  Bobbie_Rae
Sam  Ricky
Barbara  Sue_Anne
```

Here's the ".el" extension signals the file is in "edgelist" format, the simplest way to
represent graph information. Note that this representation looks a little like a 
list of pairs.  We can turn this into a useful graph representation using 
`networkx`,  a Python package for handling
networks; `networkx`  provides a way of reading a file in the above format into
an internal representation of a graph, a little different from the dictionary
representation we used above, but with the same information.

In [ ]:
import networkx as nx

graph_string = """
Sue_Anne  Sam 
Sue_Anne  Hugo
Sue_Anne  Harry
Sam  Billy_Joe
Billy_Joe  Barbara
Harry  Hugo
Barbara  Bobbie_Rae
Sam  Ricky
Barbara  Sue_Anne
"""

edgelist_str = \
[
'Sue_Anne  Sam', 
'Sam  Billy_Joe',
'Billy_Joe  Barbara',
'Harry  Hugo',
'Barbara  Bobbie_Rae',
'Sue_Anne  Hugo',
'Sue_Anne  Harry',
'Sam  Ricky',
'Barbara  Sue_Anne']
G = nx.parse_edgelist(edgelist_str)

G is now a `networkx` graph object:

NB: `Networkx` also allows an edgelist to be read from
a file via a function called `nx.read_edgelist`.
Just like `nx.parse_edgelist` it returns the graph object.

In [ ]:
G

We find a list of pairs-like representation of the edges in our graph if we look at something called `G.edges`.

In [ ]:
G.edges

We will talk more about the `x.y` syntax later when we talk about classes and class instances.  For now, we will just note that **objects** (the graph `G` is an object) have **attributes** (`edges` is an attribute of `G`), and `G.edges` denotes the list-of-pairs like data you see above. Each member of this "list" represents a link in the graph, or a friendship.

The graph `G` has a number of attributes.  Another attribute is `nodes`, which stores a list-like view of the people (nodes) in the friendship network.

In [ ]:
G.nodes

It turns out that even  though `G` is not a dictionary, we can treat it like one, using the nodes in `G.nodes` as its keys:

In [ ]:
for n in G.nodes():
    print('{0} {1}'.format(n, G[n]))
    #print('{0:<15} {1}'.format(n, G[n]))

One of the attractions of using a graph package like `Networkx` instead of "rolling our own" representation of a graph, is that it provides a lot of efficient functions for doing things one would want to do with graphs.  For example, we might want to **draw** them.  Typically there is a lot of complexity in any visualization software, and visualization is a good plac to start letting the pros do it.  In fact `networkx` makes use of still another package to do its drawing, `matplotlib (pylab)`, the same Python package we will use for drawing graphs later.

In [ ]:
nx.draw_networkx(G,node_size=50,node_color='gray')

Let's look at `G[n]` a little more closely:

In [ ]:
for n in G.nodes():
    print('{0:15} {1}'.format(n, G[n]))

Notice that in each case `G[n]` is a dictionary.  The keys of `n` are the friends that `n` is connected to.  That values are empty dictionaries.

This representation is a little different from the dictionary representation of the graph we used above.  Think about two questions.  (a) Does it contain the same information as our dictionary representation above? (b) How is it different?

The advantage of having those empty dictionaries around is that it we can use them to representing attributes of edges, which allows us to build networks with more realistic properties.  For example, suppose we want to associate friendship links with an intensity, as measured by something like the number of different kinds of contexts in which the two friends see one another.  We would then want to be able to associate each edge with a weight.  To build a `Networkx` representation of weighted edges, we could do something like  this:

In [ ]:
edgelist_str1 = \
[
'Sue_Anne  Sam {"weight":8}', 
'Sam  Billy_Joe {"weight":5}',
'Billy_Joe  Barbara {"weight":3}',
'Harry  Hugo {"weight":8}',
'Barbara  Bobbie_Rae {"weight":1}',
'Sue_Anne  Hugo {"weight":9}',
'Sue_Anne  Harry {"weight":7}',
'Sam  Ricky {"weight":8}',
'Barbara  Sue_Anne {"weight":2}']

G1 = nx.parse_edgelist(edgelist_str1)

This means `Sue_Anne` has relatively intense freindships with `Hugo` and `Sam`, and that `Barbara` and `Bobbie Rae` have a relativly casual friendship.

`G1.edges` looks much the same.

In [ ]:
G1.edges

However, if we want to see the edge **weights**, or the **data** we have about each edge, we do this:

In [ ]:
G1.edges(data = True)

The `edges` attribute can be **called**, like a function,  and extra arguments (in the case `data`) can be specified. A function of this sort of is called a **method**  We'll learn more about methods when we talk about classes.

If the designers have been good to us, a method will have documentation, and we can look it up in the notebook environment as follows:

In [ ]:
G1.edges?

We can also take advantage of the fact that we can treat `G1` like a dictionary, and that the value
of `G1['Sue_Anne']` is a dictionary to find the weight of one of `Sue_Anne`'s friendships:

In [ ]:
G1['Sue_Anne']['Sam']

Or even:

In [ ]:
G1['Sue_Anne']['Sam']['weight']

In [ ]:
nx.draw_networkx(G1,node_color='blue',node_size=50)

Let's do the following exercise.  Take the following information.  Make it an edgelist like `edgelist_str` above (no weights).

```
Acme buys parts from D-Line and Excelsior, Inc.
D-Line buys parts from Excelsior, Inc.
Fillmore Lmtd. buys parts from Excelsior Inc. and Bradley Tool & Dye.
Bradley Tool & Dye buys parts from Crossley Maritime.
Bradley Tool & Dye buys parts from D-Line.
Crossley Maritime supplies Acme.
```

In [ ]:
#[your answer goes here; call your edgelist e10]

The next cell creates and draws your network, assuming you have created the edgeliust `e10` containing the above
"buy parts" information.  It creates a **directed graph**.  That is, the links are directional.  We used an undirected graph above because we were talking about friendship; if Sue Anne and Sam are friends, then Sam is Sue Anne's friend and Sue Anne is Sam's friend.  Buying parts doesn't work that way.  One company is the buyer; the other the supplier.

If you've completed this extra credit section (and defined `e10`, you should execute the cell below befor ehanding the notebook.

In [ ]:
G2 = nx.parse_edgelist(e10,create_using=nx.DiGraph())
nx.draw_networkx(G2)