## Part One

1.  are X and Y the same string?

In [ ]:
X = "Fred"
Y = 'Fred'

2.  Are X and Y the same string?

In [2]:
quote = "'You must be the change you wish to see in the world,'"
quote2 = '"You must be the change you wish to see in the world,"'
author = "Gandhi"
X = f"{quote} said {author}"
Y = f"{quote2} said {author}"

3. Are X and Y the same string?

In [7]:
quote = 'You must be the change you wish to see in the world'
author = "Gandhi"
X = f'"{quote}," said {author}'
Y = f"\"{quote},\" said {author}"

## Part Two

These activities are intended to be done after a bit more of a lecture of Python types covering the material in 3.4.1 (Lists) 3.4.2 (strings), 3.4.3 (tuples).

1.  Write a string index expression that returns the space from X:

In [ ]:
X = 'Ronald Reagan'

2.  Write a string index expression that returns the 'x' from X.  Use negative
    indices.

In [ ]:
X = 'luxury'

3.  Write a splice that returns the substring 'cad' from X:

In [ ]:
X = 'abracadabra'

4. What is the value of the second expression?

In [ ]:
X = 'abracadabra'
len(X + X)

5.  What is the value of the second expression

In [12]:
Q = 'The rain in Spain falls mainly on the plain.'
' '.join(Q[1:4])

6.  What is the value of the second expression

In [ ]:
Q = 'The rain in Spain falls mainly on the plain.'
' '.join(Q.split()[1:4])

In [77]:
'x'.join(('lu','ury'))

'luxury'

In [78]:
'i'.join(('m','ss','ss','pp',''))

'mississippi'

In [82]:
disemvoweled = 'mississippi'.split('i')
print(disemvoweled)
print('i'.join(disemvoweled))

['m', 'ss', 'ss', 'pp', '']
mississippi

## Part Three

These activities are intended to be done after still more lecturing on Python types, covering the materialin 3.4.4 (Dictionaroies) 3.4.5 (Sets)

What Python data type would you use to represent each of the following information?  (Note: These questions are not about persistent storage, saving something on a disk so that it'll still be here after you turn the computer off and on).  These questions are about how you should represent the data when it's in the computer's memory and you're preparing to do some processing on it. So the answer is never "in a file".  In fact in this case, the answer is always going to be some kind of Python container type.  In fact, it's possible for a container to contain a conatiner (a list of strings, a dictionary whose values are lists), so after a choosing a container you could make your answer more specific by saying what data type the container contains.

    a.  a phone number

    b.  a list of the emails of the students in a class.

    c.  an anonymized list of phone numbers to be used for cold calls
        on election night.  Each list contains the phone number of a household
        likely to vote for our candidate. The list is prioritized so that the
        households most likely to vote for our candidate come first.  Does
        it change your answer if some of the numbers have extensions?
     
    d.  a list of phone numbers of potential contributors to our campaign.
        A key difference from the last question is that some of these
        contributors are abroad (yes, that;s right in places like Russia!), 
        and the international numbers will have
        different lengths from the others. The list is prioritized so that the
        contributors most likely to contribute the most money come first.
     
    d.  The entire contents of the Constance Garnett tranlation (into English) 
        of Leo Tolstoy's novel *War and Peace*.

    e.  Same as (d) but this time I want to be able to do word counts and answer questions like "How many times does the name Natasha appear in *War and Peace*?

In [83]:
dd1={'Amerigo Vespucci' : '619-765-9765',
     'Mary Ellen Fitzgerald':'619-678-9765'}

In [84]:
dd1

{'Amerigo Vespucci': '619-765-9765', 'Mary Ellen Fitzgerald': '619-678-9765'}

In [85]:
people1 = list(dd1.keys())
people1

['Amerigo Vespucci', 'Mary Ellen Fitzgerald']

Get last names???

### Alternatively

In [86]:
dd2={('Amerigo', 'Vespucci') : '619-765-9765',
    ('Mary Ellen', 'Fitzgerald'):'619-678-9765'}

In [87]:
people2 = list(dd.keys())
people2

[('Amerigo', 'Vespucci'), ('Mary Ellen', 'Fitzgerald')]

Get last names?

Store  distances between pairs of cities.   Use a dictionary.

In [55]:
city_distances1 = {'los angeles': {'chicago':2_000,'new york':3_000},
                  'chicago': {'los angeles':2_000,'new york':1_000}
                 
                 }

# Better?
city_distances2 = {'los angeles': {'chicago':2_000,'new york':3_000},
                  'chicago': {'new york':1_000}
                 
                 }

# Alternative to 2?
city_distances3 = {('chicago','los angeles'): 2_000,
                   ('los angelos','new york'): 3_000,
                   ('chicago','new york'):1_000
                  
                  }

In [52]:
city_distances1

{'los angeles': {'chicago': 2000, 'new york': 3000},
 'chicago': {'los_angeles': 2000, 'new york': 1000}}

In [53]:
city_distances1['los angeles']['chicago']

2000

In [56]:
city_distances1['chicago']['los angeles']

2000

In [57]:
city_distances1['chicago']['new york']

1000

In [70]:
city_distances3 = {({'chicago','los angeles'}): 2_000,
                   ({'los angelos','new york'}): 3_000,
                   ({'chicago','new york'}):1_000
                  
                  }

In [76]:
city_distances2[['chicago','los angeles']]

TypeError: unhashable type: 'list'

In [67]:
S= frozenset({1,2,3})

In [68]:
S

frozenset({1, 2, 3})

In [69]:
S.add(4)

AttributeError: 'frozenset' object has no attribute 'add'

In [66]:
S

{1, 2, 3, 4}