## Millikan electron experiment (Newman Computational Physics, Exc 3.8  p.123 )

The whole source of excitement about the photolectric effect was that it is governed by a very simple equation, whose verification turned out to be very strong evidence that light consists of particles (let's call them photons).


$$
\text{V} = \frac{h}{e} \nu - \Phi
$$

Read this as V (Voltage) = $\frac{h}{e}$ (Planck's Constant divided by the charge of an electron) times
$\nu$ (the frequency of the light) minus $\Phi$ (known as the work function of the surface).
So an electron gets kicked up from the surface by a photon, loses a little energy ($\Phi$)
because it takes some work to pry it loose, and then has energy (V) proportional to the
light's wavelength.

The experimental setup was such that the work function of the surface was constant throughout  the experiment.

Here is Millikan's data, measuring the voltage produced by single photons of light
at various frequencies. He won the Nobel Prize for these results, which confirmed
predictions made in Einstein's 1905 work on the photoelectric effect, for which Einstein also
won the Nobel Prize.

In [4]:
import pandas as pd

e_charge = 1.602e-19
df = pd.read_csv("millikan.txt",header=None,delimiter= " ",names=("Frequency","Voltage"))

In [5]:
df

      Frequency  Voltage
0  5.487400e+14  0.53090
1  6.931000e+14  1.08420
2  7.430700e+14  1.27340
3  8.219300e+14  1.65980
4  9.607400e+14  2.19856
5  1.184000e+15  3.10891

1.  The equation says the Frequency and the voltage should be related by a linear relation. Assuming the data do obey this linear relation, use Scikit learn's linear regression implementation to find $\frac{h}{e}$ and $\Phi$ from these data points.  

2.  Then given that the charge of an electron  is $1.602e^{-19}$, estimate Planck's constant. This is one of the most important constants in Physics.  Look it up to see how good your estimate is.  Compute your percentage of error.

3.  Draw a scatter plot of the 6 data points.  Use the results of your linear regression to plot the  line that is the best fit to these points in the same plot.  You will need to make a fairly arbitrary decision about the aspect of the figure (ratio of height to width), since the x and y axis represent different units with very different orders of magnitude.

4.  What is the value of $\Phi$?  Hint:  It's work.  It shouldn't be negative.

## 1985 Auto Imports Database  Exercise  (Regression)

UCI Data sets

Schlimmer, J. (1985). Automobile Dataset. UCI Machine Learning Repository. https://doi.org/10.24432/C5B01C.

-- Creator/Donor: Jeffrey C. Schlimmer (Jeffrey.Schlimmer@a.gp.cs.cmu.edu)
-- Date: 19 May 1987
-- Sources:

     1) 1985 Model Import Car and Truck Specifications, 1985 Ward's
        Automotive Yearbook.
     2) Personal Auto Manuals, Insurance Services Office, 160 Water
        Street, New York, NY 10038 
     3) Insurance Collision Report, Insurance Institute for Highway
        Safety, Watergate 600, Washington, DC 20037

This exercise involves a technique called **cross-validation**: k-fold cross-validation means
that you do k different train test splits, each time using a different portion of the data for the
test set.  The way this typically works is that by the end of the k splits, each item in the dataset
has had a chance to be in the test set (that's the way the scikit_learn `KFold` function works).
Intuitively this means that if there are items in the data that are particularly hard, the learner will
get a crack at predicting those items without having seen them during training. 

Here is how cross validation on a small dataset of size 7 works if we require there to 
be 7 splits:

In [3]:
import numpy as np
from sklearn.model_selection import KFold
X = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [3, 4], [5, 6],[7,5]])
y = np.array([1, 2, 1, 2, 1, 2, 2])
rs = KFold(n_splits=7)

for i, (train_index, test_index) in enumerate(rs.split(X)):
    print(f"Fold {i}:")
    print(f"  Train: index={train_index}")
    print(f"  Test:  index={test_index}")

Fold 0:
  Train: index=[1 2 3 4 5 6]
  Test:  index=[0]
Fold 1:
  Train: index=[0 2 3 4 5 6]
  Test:  index=[1]
Fold 2:
  Train: index=[0 1 3 4 5 6]
  Test:  index=[2]
Fold 3:
  Train: index=[0 1 2 4 5 6]
  Test:  index=[3]
Fold 4:
  Train: index=[0 1 2 3 5 6]
  Test:  index=[4]
Fold 5:
  Train: index=[0 1 2 3 4 6]
  Test:  index=[5]
Fold 6:
  Train: index=[0 1 2 3 4 5]
  Test:  index=[6]

**General idea of the assignment: Reproduce the regression result from Kibler et al.**

Kibler, D., Aha, D. W., & Albert, M. (1989).  Instance-based prediction of real-valued attributes.  *Computational Intelligence 5* pp.  51--57.
	
**Predicted price of car using all Numeric and Boolean attributes.**

Their Method: an instance-based learning (IBL) algorithm derived from a localized k-nearest neighbor algorithm. You won't build the IBL system.  You will just implement the system they  compared it with: a standard  linear regression model. Note that they discarded all instances with missing attribute values.  You should do the same.  This resulted in a training set of 159 instances.

The Idea: Train 159 models. In each case, train with 158 instances.  Predict the price of  the  159th instance and save that in an array called `predictions`.  Each time you train,. a different row of the data should be held out. to be used as test data; scikit learn's KFold should help.


Results: 

Percent Average Deviation Error, also known as MAPE ("mean absolute percentage error")  of Prediction from Actual

1. 11.84% for the IBL algorithm
2. 14.12% for the resulting linear regression equation

#### Attribute information

 1. symboling:                -3, -2, -1, 0, 1, 2, 3.
2. normalized-losses:        continuous from 65 to 256.
3. make:                     alfa-romero, audi, bmw, chevrolet, dodge, honda,
                           isuzu, jaguar, mazda, mercedes-benz, mercury,
                           mitsubishi, nissan, peugot, plymouth, porsche,
                           renault, saab, subaru, toyota, volkswagen, volvo
4. fuel-type:                diesel, gas.
5. aspiration:               std, turbo.
6. num-of-doors:             four, two.
7. body-style:               hardtop, wagon, sedan, hatchback, convertible.
8. drive-wheels:             4wd, fwd, rwd.
9. engine-location:          front, rear.
10. wheel-base:               continuous from 86.6 120.9.
11. length:                   continuous from 141.1 to 208.1.
12. width:                    continuous from 60.3 to 72.3.
13. height:                   continuous from 47.8 to 59.8.
14. curb-weight:              continuous from 1488 to 4066.
15. engine-type:              dohc, dohcv, l, ohc, ohcf, ohcv, rotor.
16. num-of-cylinders:         eight, five, four, six, three, twelve, two.
17. engine-size:              continuous from 61 to 326.
18. fuel-system:              1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi.
19. bore:                     continuous from 2.54 to 3.94.
20. stroke:                   continuous from 2.07 to 4.17.
21. compression-ratio:        continuous from 7 to 23.
22. horsepower:               continuous from 48 to 288.
23. peak-rpm:                 continuous from 4150 to 6600.
24. city-mpg:                 continuous from 13 to 49.
25. highway-mpg:              continuous from 16 to 54.
26. price:                    continuous from 5118 to 45400.

#### Missing values info

Missing values are denoted by '?'.

#### Loading the data

In [1]:
import pandas as pd


#import os
#print(os.getcwd())



cols = "symboling normalized-losses make fuel-type aspiration num-of-doors body-style" +\
       " drive-wheels engine-location wheel-base length width height curb-weight" +\
       " engine-type num-of-cylinders engine-size fuel-system bore stroke" +\
       " compression-ratio horsepower peak-rpm city-mpg highway-mpg price"
cols = cols.split()

df = pd.read_csv("data/automobile/imports-85.data",sep=",",header=None,names=cols
                )

#### Instructions

Build a regression model predict car price from other numeric and Boolean variables.  Here are some specific things to do:

1.  Select the Numeric and Boolean attributes you will use.  Note that the data types  you get when you read in the data are inferred by pandas and they may not be correct. Think about whether the data types pandas uses for each column are appropriate for the information being represented in that column.  Also note: There are obviously no Boolean data types directly represented in the data, but you can create some Boolean type columns using `.str.get_dummies()`. For example, try executing `df["body-style"].str.get_dummies()`.  This returns a Dataframe with the Boolean columns derived from the categorial `"body_style"` column. You use `pd.merge` to merge these new columns into `df`.
2.  Do any data type conversions you need to do to use the attributes sensibly.  Note:
    One of the best ways to do your type conversions is to do them while
    reading in the data with `read_csv` (called above).  It is recommended that you 
    read the docs for function by googling "pandas read_csv".
3.  Discard instances with missing values. Note that missing values are denoted by 
    '?', not a convention known to pandas.   Again "read_csv" can help.
4.  Build a linear regression model to predict price. Since you are trying to reproduce 
    Kibler at al. you must do the training/test splits the way they do: Use all but one 
    row of data for training on each train-test split, with the held out row
    used as test data. Do N train-test splits where N is the number of rows. A different
    row should be held out each time (so you can't choose the held out row by random
    selection).
5.  Evaluation.  Compute root mean squared error.  Also compute Average 
    Deviation Error of Prediction from Actual (for comparison with Kibler et al.)  You can 
    use scikit_learn's `mean_absolute_percentage_error` for this.  Please pay attention to 
    the right argument order.  Call the 1D array of the predictions you made during your 
    159 train-test splits `predictions`. Conceptually, `predictions` and `df["price"]` are 
    the arguments of `mean_absolute_percentage_error` (MAPE) and 
    `root_mean_squared_error` (RSME).  Note You should be able to build a linear regression
    model that beats the 14.12% MAPE score for a regression model reported by
    Kibler et al.
6.  Try different feature sets. Is it sometimes a good idea to leave a feature out? 
    Yes! Report the results for your best model.  Note: you don't have to and should not
    try all possible subsets of the columns of `df`.  Just try a model with all possible
    numerical and Boolean columns as features and then look at ways to improve it by
    pruning some columns/features.  You don't have to show all your experiments.
    Just your best model. The code that produced it.  And the MAPE and RSME
    scores for 159 predictions you made with that model (one model, two numbers).
7.  For your best model report your most important positive feature (most likely to inflate price) and your
    most important negative feature (most likely to lower price). Find the 5 features that matter the least
    in determining price.
8.  To help you interpret your results, implement and evaluate a baseline model 
    for comparison.  The baseline should always predict
    the mean price of the entire data set.  Find
    the MAPE and RSME for the baseline model.  How does the RSME of this baseline model
    compare with the STD of the price column?
9.  Optionally, try out sklearn's `linear_model.LogisticRegression` on the problem.  
    To do this you   will need to scale the data using sklearn's
    `preprocessing.StandardScaler`. Read [the 
    docs](https://scikit-learn.org/1.5/modules/preprocessing.html) 
    because this is implemented as an sklearn Transformer.  What effect does using 
    Logistic Regression have?

Data types as read in by `read_csv`.  Recall that columns containing strings 
will by default be given the data type `object`.

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-types       205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

A look at the regression variable:

In [313]:
df["price"]

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: object