# Introduction to PUMS Notebook

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/gawron/python-for-social-science/blob/master/pandas/census_data_example.ipynb)

The U.S. Census website  contains numerous kinds of demographic  data about the United States.  In this section we focus on data collected in surveys conducted during the decennial  census, which is distinct from the more frequently collected American Community Survey data.  More especifically, we will  confine our attention to the [Census 2000 PUMS data](https://www.census.gov/data/datasets/2000/dec/microdata.html#:~:text=PUMS%205%2DPercent-,PUMS%20files%20have%20state%2Dlevel%20Census%202000%20data%20containing%20individual,Use%20Microdata%20Areas%20(PUMAs).). PUMS  stands for **Public Use Microdata Samples**.  It is called *Microdata* because the the records contain information about one person or one household.

The discussion below assumes you have visited the PUMS ages on the Census Bureau site and downloaded at least two files, `revisedpums1_alabama.txt` and the data dictionary available in the Excel workbooks, `5%_PUMS_record_layout.xls`.  For more details see the book draft chapter on data, especially the section on PUMS data.  You also need the Python module `read_in_census_data`, which can also be downloaded from a link in the PUMS data section of the book draft.

## Getting and Situating the data

This notebook presents only solution for loading the census data, for code and data you have uploaded on google drive.  For the alternative code for using files on your local machine,
see the `importing_and_loading_files_in_colab`. notebook (intro module).

In this example we will assume you have placed the following three files in a folder named  `census` on your Google Drive.

1. [read_in_census_data.py](https://gawron.sdsu.edu/python_for_ss/course_core/book_draft/_static/read_in_census_data.py)
2. [5%_PUMS_record_layout.xls](https://gawron.sdsu.edu/python_for_ss/course_core/book_draft/_static/5_PUMS_record_layout.xls)
3. [PUMS data for Alabam 1% 2010](https://gawron.sdsu.edu/python_for_ss/course_core/book_draft/_static/revisedpums1_alabama_01.txt)

This link to [pums_example.zip](https://gawron.sdsu.edu/python_for_ss/course_core/book_draft/_static/pums_example.zip) leads to a zipfile containing all three of these files.

## Reading in the data dictionary

First you need to import the `read_in_census_data` module and read in the data dictionary in
the Census web site Excel sheet.

**Attention!**:  This notebook as is will only work on google colab, and for someone who has downloaded the data and code files onto a folder name "census" on their Google Drive.

In [1]:
import importlib.util
import os.path
from google.colab import drive

# Mount google drive to create a filesystem the notebook can use
drive.mount('/content/gdrive') 
# Specify the code dir in the new filesystem.
code_dir ='/content/gdrive/My Drive/census/'

#from read_in_census_data import CensusInfo, DataFrameWrapper

filename = os.path.join(code_dir, 'read_in_census_data.py')
spec = importlib.util.spec_from_file_location("census", filename)
# Name for imported module will be census
census = importlib.util.module_from_spec(spec)
spec.loader.exec_module(census)
data_dir = code_dir
one_percent_data_file = os.path.join(data_dir,
                                     'revisedpums1_alabama_01.txt')
data_dictionary = os.path.join(data_dir,
                               '5_PUMS_record_layout.xls')
ci = census.CensusInfo (data_dictionary)
df = census.DataFrameWrapper(ci)

Mounted at /content/gdrive
Processing 'Housing Unit Record' Sheet

Processing 'Person Record' Sheet

In [2]:
ci.print_var_info('MSACMSA1',ci.record_types[0],ci.file_types[1])

Housing Unit Record MSACMSA1 1% file {'RT': 'H', 'BEG': 32, 'LEN': 4, 'DESCRIPTION': 'Metropolitan Area: MSA/CMSA for SuperPUMA'}

     Metropolitan Area: MSA/CMSA for SuperPUMA
     =========================================
     ('0040', '9360')  FIPS MSA/CMSA Code
     9997  Mixed MSA/CMSA and nonmetropolitan territory
     9998  2 or more partial and/or entire MSAs/PMSAs
     9999  Not in metropolitan area

You can now access information about various variable in the Census data.  You need to supply the variable name (or a legal synonym), the record type (person or household) and the file type (15 or 5%).   Below we look at information for the 'RELATE'
variable, which defines the relationship of a parson to the head of the household.  This is a person record variable (`ci.record_types[1]`) in a 1% file (`ci.file_types[1]`).

In [3]:
ci.print_var_info('RELATE',ci.record_types[1],ci.file_types[1])

Person Record RELATE 1% file {'RT': 'P', 'BEG': 17, 'LEN': 2, 'DESCRIPTION': 'Relationship'}

     Relationship
     ============
     01  Householder
     02  Husband/wife
     03  Natural born son/daughter
     04  Adopted son/daughter
     05  Stepson/Stepdaughter
     06  Brother/sister
     07  Father/mother
     08  Grandchild
     09  Parent-in-law
     10  Son-in-law/daughter-in-law
     11  Other relative
     12  Brother-in-law/sister-in-law
     13  Nephew/niece
     14  Grandparent
     15  Uncle/aunt
     16  Cousin
     17  Roomer/boarder
     18  Housemate/roommate
     19  Unmarried partner
     20  Foster child
     21  Other nonrelative
     22  Institutionalized GQ person
     23  Noninstitutionalized GQ person

In the next code snippet, we get a sample line from the alabama file:

In [ ]:
line = ci.get_sample_record_from_db (one_percent_data_file)

Opening revisedpums1_alabama_01.txt
P00001170100014001000010310010110000010147010100100012099999904200000 000101000000300010     01400  70    9997    9997202020202020220000020011000000020031000010     01400  70    9997    9997010100370010000000108190622     313029-1111201052045004730000000000-01500000000000000000000000000000000000004580000047300501

The next code snippets print info about various variables:

In [ ]:
#To get info about a DB variable, 3 things must be specfied
# file type (1 per cent or 5 per cent), record type (person or household)
# and the variable name (column name)
(var0,record_type, file_type) = ('RELATE',ci.record_types[1],ci.file_types[1])
# To get avilable info about the VALUE of a variable (usually an opaque code)
# Get the val of this variable for this line
val = ci.get_db_val(line, var0, record_type)
var_values_info = ci.variable_values_dictionary[record_type][(var0,file_type)]
    
# Print some of the info just retrieved.
print (var0,  record_type, val, var_values_info[val])

#ci.print_var_info ('EDUC', ci.person_record)
ci.print_var_info ('education', ci.person_record)
#ci.print_var_info ('RACE3', ci.person_record)
ci.print_var_info ('race', ci.person_record)
ci.print_var_info ('income', ci.person_record)

# Common to both household and person records, links them
ci.print_var_info('serial_no',ci.household_record)

ci.print_var_info('serial_no',ci.person_record)
ci.print_var_info('num_persons',ci.household_record)

try:
  ci.print_var_info('num_persons',ci.person_record)
except Exception as e:
  print(e.message)

RELATE Person Record 01 Householder
Person Record education => EDUC 5% file {'RT': 'P', 'BEG': 53, 'LEN': 2, 'DESCRIPTION': 'Educational Attainment'}

     Educational Attainment
     ======================
     00  Not in universe (Under 3 years)
     01  No schooling completed
     02  Nursery school to 4th grade
     03  5th grade or 6th grade
     04  7th grade or 8th grade
     05  9th grade
     06  10th grade
     07  11th grade
     08  12th grade, no diploma
     09  High school graduate
     10  Some college, but less than 1 year
     11  One or more years of college, no degree
     12  Associate degree
     13  Bachelor's degree
     14  Master's degree
     15  Professional degree
     16  Doctorate degree

Person Record race => RACE3 5% file {'RT': 'P', 'BEG': 41, 'LEN': 2, 'DESCRIPTION': 'Race Recode 3'}

     Race Recode 3
     =============
     01  Some other race alone
     02  Other Pacific Islander alone
     03  Other Pacific Islander; Some other race
     04  Samoan alone
     05  Guamanian or Chamorro alone
     06  Native Hawaiian alone
     07  Other Asian alone
     08  Other Asian; Some other race
     09  Other Asian; Other Pacific Islander
     10  Vietnamese alone
     11  Korean alone
     12  Japanese alone
     13  Not used
     14  Not used
     15  Filipino alone
     16  Filipino; Some other race
     17  Filipino; Other Pacific Islander
     18  Filipino; Native Hawaiian
     19  Filipino; Japanese
     20  Chinese alone
     21  Chinese; Some other race
     22  Chinese; Native Hawaiian
     23  Chinese; Other Asian
     24  Chinese; Vietamese
     25  Chinese; Japanese
     26  Chinese; Filipino
     27  Not used
     28  Asian Indian alone
     29  Asian Indian; Some other race
     30  Not used
     31  Asian Indian; Other Asian
     32  American Indian and Alaska Native alone
     33  American Indian and Alaska Native; Some other race
     34  Not used
     35  Not used
     36  American Indian and Alaska Native; Asian Indian
     37  Black or African American alone
     38  Black or African American; Some other race
     39  Black or African American; Other Pacific Islander
     40  Black or African American; Other Asian
     41  Black or African American; Korean
     42  Black or African American; Japanese
     43  Black or African American; Filipino
     44  Black or African American; Chinese
     45  Black or African American; Asian Indian
     46  Black or African American; American Indian and Alaska Native
     47  White alone
     48  White; Some other race
     49  White; Other Pacific Islander
     50  White; Samoan
     51  White; Guamanian or Chamorro
     52  White; Natve Hawaiian
     53  White; Other Asian
     54  Not used
     55  White; Vietnamese
     56  White; Korean
     57  White; Japanese
     58  Not used
     59  White; Filipino
     60  Not used
     61  White; Filipino; Native Hawaiian
     62  White; Chinese
     63  White; Chinese; Native Hawaiian
     64  Not used
     65  White; Asian Indian
     66  White; American Indian and Alaska Native
     67  White; American Indian and Alaska Native; Some other race
     68  White; Black or African American
     69  White; Black or African American; Some other race
     70  White; Black or African American; American Indian and Alaska Native
     71  All other race combinations

Person Record income => INCWS 5% file {'RT': 'P', 'BEG': 244, 'LEN': 6, 'DESCRIPTION': 'Wage/Salary Income in 1999'}

     Wage/Salary Income in 1999
     ==========================
     ('000000', ' ')  No/none
     ('000001', '174999')  $1 to $174,999
     175000  Topcode
     175000+  State mean of topcoded values
      blank  Not in universe (Under 15 years)

Housing Unit Record serial_no => SERIALNO 5% file {'RT': 'H', 'BEG': 2, 'LEN': 7, 'DESCRIPTION': 'Housing/Group Quarters (GQ) Unit Serial Number'}

     Housing/Group Quarters (GQ) Unit Serial Number
     ==============================================
     ('0000001', 9999999.0)  Unique identifier assigned within state

Person Record serial_no => SERIALNO 5% file {'RT': 'P', 'BEG': 2, 'LEN': 7, 'DESCRIPTION': 'Housing/Group Quarters (GQ) Unit Serial Number'}

     Housing/Group Quarters (GQ) Unit Serial Number
     ==============================================
     ('0000001', 9999999.0)  Unique identifier assigned within state

Housing Unit Record num_persons => PERSONS 5% file {'RT': 'H', 'BEG': 106, 'LEN': 2, 'DESCRIPTION': 'Number of person records following this housing record'}

     Number of person records following this housing record
     ======================================================
      0  Vacant unit
      1  Householder living alone or any person in group quarters
     ('2', '97')  Number of persons in household

AttributeError: 'AssertionError' object has no attribute 'message'

## Use the following code to pick out some variables of interest.

In [ ]:
for rt in ci.record_types:
    print(rt)
    print('=' * len(rt))
    print()
    rt_dict = ci.data_dictionary[rt]
    banner = '%-5s %14s  %s' % ('Var', 'Synonym', 'Description')
    print(banner)
    print('=' * len(banner))
    print()
    for var in sorted(rt_dict.keys()):
        syns = ', '.join(ci.backward_syns[var])
        print('%-9s %10s  %s' % (var, syns, rt_dict[var]['DESCRIPTION']))
    print()

Housing Unit Record
===================

Var          Synonym  Description
=================================

ACRES                 Acreage
ACRESA                Acreage Allocation Flag
AGSALES               Sales of Agricultural Products in 1999
AGSALESA              Sales of Agricultural Products in 1999 Allocation Flag
AREATYP1              Metropolitan Area: SuperPUMA Relationship to MA
AREATYP5              Metropolitan Area: PUMA Relationship to MA
BEDRMS                Number of Bedrooms
BEDRMSA               Number of Bedrooms Allocation Flag
BLDGSZ                Size of Building
BLDGSZA               Size of Building Allocation Flag
BUSINES               Commercial Business on Property
BUSINESA              Commercial Business on Property Allocation Flag
CKITCH                Complete Kitchen Facilities
CKITCHA               Complete Kitchen Facilities Allocation Flag
CONDFEE               Condominium Fee (monthly)
CONDFEEA              Condominium Fee (monthly) Allocation Flag
CPLUMB                Complete Plumbing Facilities
CPLUMBA               Complete Plumbing Facilities Allocation Flag
DIVISION              Division Code
ELEC                  Cost of Electricity (annual)
ELECA                 Cost of Electricity (annual) Allocation Flag
EMPSTAT               Family Type and Employment Status
FINC                  Family Total Income in 1999
FINC                  Family Total Income in 1999
FNF                   Farm/Nonfarm Recode
FUEL                  Heating Fuel
FUELA                 Heating Fuel Allocation Flag
GAS                   Cost of Gas (annual)
GASA                  Cost of Gas (annual) Allocation Flag
GRAPI                 Gross Rent as a Percentage of Household Income
GRENT                 Gross Rent
HAUG                  Augmentation Flag
HHL                   Household Language
HHT                   Household/Family Type
HINC                  Household Total Income in 1999
HINC                  Household Total Income in 1999
HSUB                  Substitution Flag
HWEIGHT               Housing unit weight
INSAMT                Property Insurance Amount (annual)
INSAMTA               Property Insurance Amount (annual) Allocation Flag
INSINCL               Property Insurance Status
INSINCLA              Property Insurance Status Allocation Flag
LNDPUMA1              Land Area of SuperPUMA
LNDPUMA5              Land Area of PUMA
LNGI                  Linguistic Isolation
MEALS                 Meals Included in Rent
MEALSA                Meals Included in Rent Allocation Flag
MHCOST                Mobile Home Costs
MHCOSTA               Mobile Home Costs Allocation Flag
MHLOAN                Mobile Home Loan Status
MHLOANA               Mobile Home Loan Status Allocation Flag
MORTG1                Mortgage Status
MORTG1A               Mortgage Status Allocation Flag
MORTG2                Second Mortgage Status
MORTG2A               Second Mortgage Status Allocation Flag
MRT1AMT               Mortgage Payment (monthly amount)
MRT1AMTA              Mortgage Payment (monthly amount) Allocation Flag
MRT2AMT               Second Mortgage Payment (monthly amount)
MRT2AMTA              Second Mortgage Payment (monthly amount) Allocation Flag
MSACMSA1              Metropolitan Area: MSA/CMSA for SuperPUMA
MSACMSA5              Metropolitan Area (MA): MSA/CMSA for PUMA
MSAPMSA1              Metropolitan Area: MSA/PMSA for SuperPUMA
MSAPMSA5              Metropolitan Area: MSA/PMSA for PUMA
NOC                   Number of own children under 18 years in household
NPF                   Number of people in family
NRC                   Number of related children under 18 years in household
OIL                   Cost of Oil, Kerosene, or Wood (annual)
OILA                  Cost of Oil, Kerosene, or Wood (annual) Allocation Flag
P18                   Number of people under 18 years in household
P65                   Number of people 65 years and over in household
PAOC                  Presence and Age of Own Children under 18 years
PARC                  Presence and Age of Related Children under 18 years
PERSONS   num_persons  Number of person records following this housing record
PHONE                 Telephone Availability
PHONEA                Telephone Availability Allocation Flag
PSF                   Presence of Subfamily in Household
PUMA1                 Super Public Use Microdata Area Code (SuperPUMA)
PUMA5                 Public Use Microdata Area Code (PUMA)
RECTYPE               Record Type
REGION                Region  Code
RENT                  Monthly Rent
RENTA                 Monthly Rent Allocation Flag
ROOMS                 Number of Rooms
ROOMSA                Number of Rooms Allocation Flag
SAMPLE                Sample Identifier
SERIALNO   serial_no  Housing/Group Quarters (GQ) Unit Serial Number
SMOC                  Selected Monthly Owner Costs
SMOC                  Selected Monthly Owner Costs
SMOCAPI               Selected Monthly Owner Costs as a Percentage of Household Income
SRNT                  Specified Rent Indicator
STATE                 State Code
SUBSAMPL              Subsample number
SVAL                  Specified Value Indicator
TAXAMT                Property Tax Amount (annual)
TAXAMTA               Property Tax Amount (annual) Allocation Flag
TAXINCL               Property Tax Status
TAXINCLA              Property Tax Status Allocation Flag
TENURE                Home Ownership
TENUREA               Home Ownership Allocation Flag
TOTPUMA1              Total Area of SuperPUMA
TOTPUMA5              Total Area of PUMA
UNITTYPE              Type of unit
VACSTAT               Vacancy Status
VACSTATA              Vacancy Status Allocation Flag
VALUE                 Property Value
VALUEA                Property Value Allocation Flag
VEHICL                Number of Vehicles Available
VEHICLA               Number of Vehicles Available Allocation Flag
WATER                 Cost of Water and Sewer (annual)
WATERA                Cost of Water and Sewer (annual) Allocation Flag
WIF                   Number of workers in family
WORKEXP               Family Type and Work Experience of Householder
YRBUILT               Year Building Built
YRBUILTA              Year Building Built Allocation Flag
YRMOVED               Year Moved In
YRMOVEDA              Year Moved In Allocation Flag

Person Record
=============

Var          Synonym  Description
=================================

ABGO                  Able to Go Out Disability
ABGOA                 Able to Go Out Disability Allocation Flag
ABSENT                Absent from Work
ABWORK                Employment Disability
ABWORKA               Employment Disability Allocation Flag
AGE              age  Age
AGEA                  Age Allocation Flag
AIAN                  American Indian and Alaska Native recode
ANCA                  Ancestry Allocation Flag
ANCFRST1              Ancestry Code 1 for 1% file
ANCFRST5              Ancestry Code 1 for 5% file
ANCR                  Ancestry Recode
ANCSCND1              Ancestry Code 2 for 1% file
ANCSCND5              Ancestry Code 2 for 5% file
ASIAN          asian  Asian recode
BACKWRK               Back to Work
BLACK          black  Black or African American recode
CARPOOL               Vehicle Occupancy
CARPOOLA              Vehicle Occupancy Allocation Flag
CITIZEN      citizen  Citizenship Status
CITIZENA              Citizenship Status Allocation Flag
CLWKR                 Class of Worker
CLWKRA                Class of Worker Allocation Flag
DDP                   Data-defined Person Flag
DISABLE               Disability Recode
EARNS                 Person's Total Earnings in 1999
EDUC       education  Educational Attainment
EDUCA                 Educational Attainment Allocation Flag
ENGABIL   nonnative_speaker  English Ability
ENGABILA              English Ability Allocation Flag
ENROLL                School Enrollment; Attended since February 1, 2000
ENROLLA               School Enrollment: Attended since February 1, 2000 Allocation Flag
ESP                   Employment Status of Parent(s)
ESR                   Employment Status Recode
ESRA                  Employment Status Allocation Flag
FILLER
GRADE                 School Enrollment: Grade Level Attending
GRADEA                School Enrollment: Grade Level Attending Allocation Flag
GRANDC                Presence of Grandchildren under 18 years
GRANDCA               Presence of Grandchildren under 18 years Allocation Flag
HISPAN                Hispanic or Latino Origin
HISPANA               Hispanic or Latino Origin Allocation Flag
HOURS                 Hours per Week in 1999
HOURSA                Hours per Week in 1999 Allocation Flag
HOWLONG               Length of Responsibility for Grandchildren
HOWLONGA              Length of Responsibility for Grandchildren Allocation Flag
INCINT                Interest Income in 1999
INCINTA               Interest Income in 1999 Allocation Flag
INCOTH                Other Income in 1999
INCOTHA               Other Income in 1999 Allocation Flag
INCPA                 Public Assistance Income in 1999
INCPAA                Public Assistance Income in 1999 Allocation Flag
INCRET                Retirement Income in 1999
INCRETA               Retirement Income in 1999 Allocation Flag
INCSE                 Self-Employment Income in 1999
INCSEA                Self-Employment Income in 1999 Allocation Flag
INCSS                 Social Security Income in 1999
INCSSA                Social Security Income in 1999 Allocation Flag
INCSSI                Supplemental Security Income in 1999
INCSSIA               Supplemental Security Income in 1999 Allocation Flag
INCTOT                Person's Total Income in 1999
INCTOTA               Person's Total Income in 1999 Allocation Flag
INCWS         income  Wage/Salary Income in 1999
INCWSA                Wage/Salary Income in 1999 Allocation Flag
INDCEN                Industry (Census)
INDCENA               Industry (Census) Allocation Flag
INDNAICS              Industry (NAICS)
LANG1      language1  Language Spoken for 1% file
LANG5      language5  Language Spoken for 5% file
LANGA                 Language Spoken Allocation Flag
LASTWRK               Year Last Worked
LASTWRKA              Year Last Worked Allocation Flag
LAYOFF                Layoff from Job
LOOKWRK               Looking for Work
LVTIME                Time Leaving for Work
LVTIMEA               Time Leaving for Work Allocation Flag
MARSTAT      married  Marital Status
MARSTATA              Marital Status Allocation Flag
MENTAL                Mental Disability
MENTALA               Mental Disability Allocation Flag
MIGAREA1              Migration SuperPUMA Relationship to MA
MIGAREA5              Migration PUMA Relationship to MA
MIGCMA1               Migration MA: MSA/CMSA for Migration SuperPUMA
MIGCMA5               Migration MA: MSA/CMSA for Migration PUMA
MIGPMA1               Migration MA: MSA/PMSA for Migration SuperPUMA
MIGPMA5               Migration MA: MSA/PMSA for Migration PUMA
MIGPUMA1              Migration SuperPUMA
MIGPUMA5              Migration PUMA
MIGST1                Migration State or Foreign Country Code for 1% file
MIGST5                Migration State or Foreign Country Code for 5% file
MIGSTA                Migration State or Foreign County Code Allocation Flag
MILTARY               Military Service
MILTARYA              Military Service Allocation Flag
MILYRS                Years of Military Service
MILYRSA               Years of Military Service Allocation Flag
MOB                   Residence 5 Years Ago
MOBA                  Residence 5 Years Ago Allocation Flag
MSP                   Married, Spouse Present Recode
NHPI                  Native and Other Pacific Islander recode
NUMRACE               Number of Major Race Groups Marked
OC                    Own Child Indicator
OCCCEN1               Occupation (Census) for 1% file
OCCCEN5               Occupation (Census) for 5% file
OCCCENA               Occupation (Census) Allocation Flag
OCCSOC1               Occupation (SOC) for 1% file
OCCSOC5               Occupation (SOC) for 5% file
OTHER                 Some other race recode
PAOCF                 Presence and Age of Own Children, Females
PAUG                  Augmented Person Flag
PHYSCL                Physical Disability
PHYSCLA               Physical Disability Allocation Flag
PNUM                  Person Sequence Number
POB1                  Place of Birth for 1% file
POB5                  Place of Birth for 5% file
POBA                  Place of Birth Allocation Flag
POVERTY               Person's Poverty Status
POWAREA1              Place of Work SuperPUMA Relationship to MA
POWAREA5              Place of Work PUMA Relationship to MA
POWCMA1               Place of Work MA: MSA/CMSA for Place of Work SuperPUMA
POWCMA5               Place of Work MA: MSA/CMSA for Place of Work PUMA
POWPMA1               Place of Work MA: MSA/PMSA for Place of Work SuperPUMA
POWPMA5               Place of Work MA: MSA/PMSA for Place of Work PUMA
POWPUMA1              Place of Work SuperPUMA
POWPUMA5              Place of Work PUMA
POWST1                Place of Work State or Foreign Country Code for 1% file
POWST5                Place of Work State or Foreign Country Code for 5% file
POWSTA                Place of Work State or Foreign Country Code Allocation Flag
PWEIGHT               Person Weight
RACE1                 Race Recode 1
RACE2                 Race Recode 2
RACE3           race  Race Recode 3
RACEA                 Race Allocation Flag
RC                    Related Child Indicator
RECALL                Return-to-Work Recall
RECTYPE               Record Type
RELATE    relationship  Relationship
RELATEA               Relationship Allocation Flag
RSPNSBL               Responsible for Grandchildren
RSPNSBLA              Responsible for Grandchildren Allocation Flag
SENSORY               Sensory Disability
SENSORYA              Sensory Disability Allocation Flag
SERIALNO   serial_no  Housing/Group Quarters (GQ) Unit Serial Number
SEX           gender  Sex
SEXA                  Sex Allocation Flag
SFN                   Subfamily Number for this person
SFREL                 Subfamily Relationship
SLFCARE               Self-Care Disability
SLFCAREA              Self-Care Disability Allocation Flag
SPEAK                 Non-English Language
SPEAKA                Non-English Language Allocation Flag
TRVMNS                Means of Transportation to Work
TRVMNSA               Means of Transportation to Work Allocation Flag
TRVTIME               Travel Time to Work
TRVTIMEA              Travel Time to Work Allocation Flag
VPS1                  Veteran's Period of Service 1:  On active duty April 1995 or later
VPS2                  Veteran's Period of Service 2:  On active duty August 1990 to March 1995 (including Persian Gulf War)
VPS3                  Veteran's Period of Service 3:  On active duty September 1980 to July 1990
VPS4                  Veteran's Period of Service 4:  On active duty May 1975 to August 1980
VPS5                  Veteran's Period of Service 5: On active duty during the Vietnam Era (August 1964 to April 1975)
VPS6                  Veteran's Period of Service 6:  On active duty February 1955 to July 1964
VPS7                  Veteran's Period of Service 7:  On active duty during the Korean War (June 1950 to January 1955)
VPS8                  Veteran's Period of Service 8:  On active duty during World War II (September 1940 to July 1947)
VPS9                  Veteran's Period of Service 9: On active duty any other time
VPSA                  Veteran's Period of Service Allocation Flag
VPSR                  Veteran's Period of Service Recode
WEEKS                 Weeks Worked in 1999
WEEKSA                Weeks Worked in 1999 Allocation Flag
WHITE          white  White recode
WRKLYR                Worked in 1999
WRKLYRA               Worked in 1999 Allocation Flag
YR2US                 Year of Entry to United States
YR2USA                Year of Entry to United States Allocation Flag

## Learn more about the values of variable of interest with the following code.

But remember you have to get the record type right.  The following fails because "INCWS" (Wage/salaray income) is not
a variable for HOUSHOLD records.

```
ci.print_var_info('INCWS',ci.household_record)
```

In [ ]:
ci.print_var_info('HINC',ci.household_record)

Housing Unit Record HINC 5% file {'RT': 'H', 'BEG': 251, 'LEN': 8, 'DESCRIPTION': 'Household Total Income in 1999'}

     Household Total Income in 1999
     ==============================
     ('-0000001', '-0059998')  Loss of $1 to $59,998
     00000000  Not in universe (vacant, GQ, no income)
     ('00000001', ' ')  $1 or break even
     ('00000002', '99999998')  $2 to $99,999,998
     ('99999999', ' ')  $99,999,999 or more

In [4]:
ci.print_var_info('INCWS',ci.person_record)

Person Record INCWS 5% file {'RT': 'P', 'BEG': 244, 'LEN': 6, 'DESCRIPTION': 'Wage/Salary Income in 1999'}

     Wage/Salary Income in 1999
     ==========================
     ('000000', ' ')  No/none
     ('000001', '174999')  $1 to $174,999
     175000  Topcode
     175000+  State mean of topcoded values
      blank  Not in universe (Under 15 years)

Values at or above topcode are not directly represented.  Instead the mean for values above topcode (for that particular state) are substituted.  You can find out what these means are for topcoded housing and person records [here](http://webapp1.dlib.indiana.edu/virtual_disk_library/index.cgi/5688252/FID3502/Document/Appendix%20H.txt).  In addition, each variable has a **universe**, a set of entities for which it is supposed to represent information.  For the Wage salary income variable INCWS, that universe is persons 15 years of age or over.  Persons under 15 years of age have a blank in that column.  That represents different information than a 0 (which means a person 15 or older earning no salary income).  What is the right thing to do with such records  when computing average salaries?

Let's do gender next.

In [5]:
ci.print_var_info('gender',ci.person_record)

Person Record gender => SEX 5% file {'RT': 'P', 'BEG': 23, 'LEN': 1, 'DESCRIPTION': 'Sex'}

     Sex
     ===
     1  Male
     2  Female

Many variable are just BOOLEAN variables.  They represent whether or not the person or household falls in some category with a 1 or a 2.  The MENTAL (mental disability) variable shown next is an example.  Variables are sometimes accompanied by **allocation** variables, which give information about how the value of that variable for that particular record was arrived at.  For example the MENTAL variable has an accompanying MENTALA allocation variable, which can have the value 1 or 0, with a 1 indicating that the value of the MENTAL variable was missing in the raw data and was inferred by one of a number of allocation methods outlined [here](https://usa.ipums.org/usa/flags.shtml).  Whether or not allocated data should be excluded is a complicated subject having to do with the methods used for allocation and whether a bias may have been introduced.

In [6]:
ci.print_var_info('MENTAL',ci.person_record)

Person Record MENTAL 5% file {'RT': 'P', 'BEG': 123, 'LEN': 1, 'DESCRIPTION': 'Mental Disability'}

     Mental Disability
     =================
     1  Yes
     2  No
     blank  Not in universe (Under 5 years)

In [ ]:
ci.print_var_info('MENTALA',ci.person_record)

Person Record MENTALA 5% file {'RT': 'P', 'BEG': 124, 'LEN': 1, 'DESCRIPTION': 'Mental Disability Allocation Flag'}

     Mental Disability Allocation Flag
     =================================
     0  Not allocated
     1  Allocated

In [ ]:
ci.print_var_info('PHYSCL',ci.person_record)

Person Record PHYSCL 5% file {'RT': 'P', 'BEG': 121, 'LEN': 1, 'DESCRIPTION': 'Physical Disability'}

     Physical Disability
     ===================
     1  Yes
     2  No
     blank  Not in universe (Under 5 years)

In [ ]:
ci.print_var_info('PHYSCLA',ci.person_record)

Person Record PHYSCLA 5% file {'RT': 'P', 'BEG': 122, 'LEN': 1, 'DESCRIPTION': 'Physical Disability Allocation Flag'}

     Physical Disability Allocation Flag
     ===================================
     0  Not allocated
     1  Allocated

More verbose data is printed out for a variable that has a complex value set.

In [7]:
ci.print_var_info('education',ci.person_record)

Person Record education => EDUC 5% file {'RT': 'P', 'BEG': 53, 'LEN': 2, 'DESCRIPTION': 'Educational Attainment'}

     Educational Attainment
     ======================
     00  Not in universe (Under 3 years)
     01  No schooling completed
     02  Nursery school to 4th grade
     03  5th grade or 6th grade
     04  7th grade or 8th grade
     05  9th grade
     06  10th grade
     07  11th grade
     08  12th grade, no diploma
     09  High school graduate
     10  Some college, but less than 1 year
     11  One or more years of college, no degree
     12  Associate degree
     13  Bachelor's degree
     14  Master's degree
     15  Professional degree
     16  Doctorate degree

In some cases information about a code value must be gotten by going back to [the Census 2000 PUMS data](http://www2.census.gov/census_2000/datasets/PUMS/)  and downloading some further documentation.  This is true of two very important types of information, occupation and location.  For example, information about the metropolitan area of a household is coded using FIPS MSA/CMSA codes.  The coding explanations are stored in documents available state by state and named according to a standard convention. The name template is "PUMEQ[filetype]-[StateCode].TXT", where filetype is 1 (for 1%) or 5 (for 5%), and "StateCode" is a standard two-letter state code.

So, for example, the file giving all the location code info for the 1% file for Alabmama is named "PUMEQ1-AL.TXT".  So the geographical meaning of code '0040-9360', the MSA/CMSA codes shown below, will be found there.

In [ ]:
ci.print_var_info('MSACMSA1',ci.household_record)

Housing Unit Record MSACMSA1 5% file {'RT': 'H', 'BEG': 32, 'LEN': 4, 'DESCRIPTION': 'Metropolitan Area: MSA/CMSA for SuperPUMA'}

     Metropolitan Area: MSA/CMSA for SuperPUMA
     =========================================
     ('0040', '9360')  FIPS MSA/CMSA Code
     9997  Mixed MSA/CMSA and nonmetropolitan territory
     9998  2 or more partial and/or entire MSAs/PMSAs
     9999  Not in metropolitan area

On the other hand, although the record below suggests we look in something called Appendix G for the language codes, they actually appear to be stored in a file called 5%_PUMS_language.xls.  The codes are the same for 1% and 5% data, and so a lot of this auxiliaryu documentation is stored only in the 5% portion of the website.

In [ ]:
ci.print_var_info('LANG1',ci.person_record)

Person Record LANG1 5% file {'RT': 'P', 'BEG': 66, 'LEN': 3, 'DESCRIPTION': 'Language Spoken for 1% file'}

     Language Spoken for 1% file
     ===========================

## Selecting a subset of the data

In [8]:
df = census.DataFrameWrapper(ci)
# we select a subset of the columns.
df.fill_frame ([], ci.person_record, one_percent_data_file, ci.one_percent_file, \
                'race','education','income','gender','age','relationship')
df.rows[:5]

[['0000117', '47', '12', '047300', '1', '31', '01'],
 ['0000117', '47', '12', '024300', '2', '25', '02'],
 ['0000117', '47', '00', '      ', '1', '00', '03'],
 ['0000127', '47', '05', '000000', '1', '22', '01'],
 ['0000127', '47', '10', '022000', '2', '35', '02']]

Note that the household serial_no field is included automatically, because this is the column
that let us link this to other records (to other persons in the same household, so that
we can aggregate information about households.

In [17]:
df.header

['serial_no', 'race', 'education', 'income', 'gender', 'age', 'relationship']

Order of the original rows is preserved so the first two person records are about two people in the
same household.

In [18]:
df.rows[:5]

[['0000117', '47', '12', '047300', '1', '31', '01'],
 ['0000117', '47', '12', '024300', '2', '25', '02'],
 ['0000117', '47', '00', '      ', '1', '00', '03'],
 ['0000127', '47', '05', '000000', '1', '22', '01'],
 ['0000127', '47', '10', '022000', '2', '35', '02']]

In [19]:
df.save_frame(os.path.join(data_dir,'alabama_pums_extract.csv'),header=True)

In [20]:
import pandas as pd
import numpy as np
## Note default is to use header line to name cols.
## header argument is for selecting cols or renaming cols
## Specify dat types for all the codes that arent really intended to be treated as numbers
## Let pandas try to figure out income,education, and age.
dt_dict ={'serial_no':object,'race':object,'gender':object,'relationship':object}
p_df = pd.read_csv(os.path.join(data_dir,'alabama_pums_extract.csv'),
                   dtype=dt_dict)

In [21]:
p_df

      serial_no race  education   income gender  age relationship
0       0000117   47         12  47300.0      1   31           01
1       0000117   47         12  24300.0      2   25           02
2       0000117   47          0      NaN      1    0           03
3       0000127   47          5      0.0      1   22           01
4       0000127   47         10  22000.0      2   35           02
...         ...  ...        ...      ...    ...  ...          ...
44482   0999820   37          1      NaN      1    5           08
44483   0999820   37          7      0.0      1   42           13
44484   0999826   37          8      0.0      2   29           01
44485   0999826   37          5      NaN      1   14           03
44486   0999826   37          1      NaN      1    8           03

[44487 rows x 7 columns]

Just for practice, save this file.  The version we're saving is identical
to the one we just read in.

In [14]:
p_df.to_csv('alabama_pums_extract3.csv',index=False)

In [15]:
p_df

      serial_no race  education   income gender  age relationship
0       0000117   47         12  47300.0      1   31           01
1       0000117   47         12  24300.0      2   25           02
2       0000117   47          0      NaN      1    0           03
3       0000127   47          5      0.0      1   22           01
4       0000127   47         10  22000.0      2   35           02
...         ...  ...        ...      ...    ...  ...          ...
44482   0999820   37          1      NaN      1    5           08
44483   0999820   37          7      0.0      1   42           13
44484   0999826   37          8      0.0      2   29           01
44485   0999826   37          5      NaN      1   14           03
44486   0999826   37          1      NaN      1    8           03

[44487 rows x 7 columns]

Let's look at a sample record.  Note the use of `iloc`.  Along with `loc`, this is one of
Panda's two most important indexing methods.  It allows both numerical and name based indexing.
Here we just use a number to look at the 279th row:

In [16]:
p_df.iloc[278]

serial_no       0006874
race                 47
education            11
income            18600
gender                2
age                  31
relationship         01
Name: 278, dtype: object

So this is a 31 year old white male head of household (race code 47 =   white alone, gender 1 = male,
relationship 1 = head of household, with an income of $18,600, who completed
one or more years of college but did not receive a degree.

## Appendix: Data types

In [22]:
p_df.dtypes

serial_no        object
race             object
education         int64
income          float64
gender           object
age               int64
relationship     object
dtype: object

Notice income,education, and age are integers and floats respectively,  That's good because we're going to want to do aggregation operations like mean and sum on income.  We're going to use the numerical values in education to bin education levels.
Below we single out the class of folks with high school diplomas or above (`EDUCATION` >= 9).

Let's look at how to change data types, which we'll need to do below.  First we cook up a
simple example.

In [23]:
df2 = pd.DataFrame([['1','2'],['34','56']],columns= ['h','t'])
              

df2.dtypes

h    object
t    object
dtype: object

In [24]:
df2['h'].astype(int)

0     1
1    34
Name: h, dtype: int64

In [ ]:
df2['h'] = df2['h'].astype(int)

In [ ]:
df2.dtypes

h     int64
t    object
dtype: object

## Aggregation

In [ ]:
p_df

      serial_no race  education   income gender  age relationship
0       0000117   47         12  47300.0      1   31           01
1       0000117   47         12  24300.0      2   25           02
2       0000117   47          0      NaN      1    0           03
3       0000127   47          5      0.0      1   22           01
4       0000127   47         10  22000.0      2   35           02
...         ...  ...        ...      ...    ...  ...          ...
44482   0999820   37          1      NaN      1    5           08
44483   0999820   37          7      0.0      1   42           13
44484   0999826   37          8      0.0      2   29           01
44485   0999826   37          5      NaN      1   14           03
44486   0999826   37          1      NaN      1    8           03

[44487 rows x 7 columns]

In [ ]:
p_df.columns

Index(['serial_no', 'race', 'education', 'income', 'gender', 'age',
       'relationship'],
      dtype='object')

In [ ]:
p_df[p_df['race'] == '47']

      serial_no race  education   income gender  age relationship
0       0000117   47         12  47300.0      1   31           01
1       0000117   47         12  24300.0      2   25           02
2       0000117   47          0      NaN      1    0           03
3       0000127   47          5      0.0      1   22           01
4       0000127   47         10  22000.0      2   35           02
...         ...  ...        ...      ...    ...  ...          ...
44473   0999627   47          5    500.0      1   25           05
44474   0999627   47          0      NaN      1    0           08
44475   0999627   47         10      0.0      2   21           10
44479   0999753   47         10      0.0      2   58           01
44480   0999765   47          9  30000.0      2   46           01

[31798 rows x 7 columns]

We map the values in the `race` column to Booleans using a Boolean test.  We will use resulting Pandas `Series` to create a white/non-white column.

In [ ]:
p_df['race'].map(lambda x: x == '47')

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11       False
12        True
13        True
14        True
15        True
16        True
17        True
18       False
19       False
20       False
21        True
22        True
23        True
24        True
25        True
26       False
27       False
28       False
29       False
         ...
44457    False
44458     True
44459    False
44460    False
44461    False
44462    False
44463     True
44464     True
44465     True
44466     True
44467     True
44468     True
44469     True
44470     True
44471     True
44472     True
44473     True
44474     True
44475     True
44476    False
44477    False
44478    False
44479     True
44480     True
44481    False
44482    False
44483    False
44484    False
44485    False
44486    False
Name: race, Length: 44487, dtype: bool

In [26]:
p_df['white_only'] = p_df['race'].map(lambda x: x == '47')

In [ ]:
p_df

      serial_no race  education  income gender  age relationship white_only
0       0000117   47         12   47300      1   31           01       True
1       0000117   47         12   24300      2   25           02       True
2       0000117   47          0     NaN      1    0           03       True
3       0000127   47          5       0      1   22           01       True
4       0000127   47         10   22000      2   35           02       True
5       0000127   47          5       0      1   19           05       True
6       0000127   47          7    5000      1   18           17       True
7       0000134   47         13   13000      2   23           01       True
8       0000195   47         10       0      1   56           01       True
9       0000195   47          9       0      2   56           02       True
10      0000218   47          9   21800      1   20           01       True
11      0000246   37         14   32000      2   26           01      False
12      0000410   47         13   56000      1   34           01       True
13      0000436   47         13   42000      1   46           01       True
14      0000436   47         14   70000      2   45           02       True
15      0000436   47          2     NaN      1   10           03       True
16      0000483   47          9       0      1   72           01       True
17      0000483   47          9       0      2   73           02       True
18      0000574   37         13   24000      1   48           01      False
19      0000574   37          6       0      2   16           03      False
20      0000574   37          6       0      2   69           07      False
21      0000584   47          9   17000      2   40           01       True
22      0000584   47          8    7000      1   22           03       True
23      0000584   47          6       0      2   17           03       True
24      0000584   47          4       0      1   15           03       True
25      0000584   47          4     NaN      2   14           03       True
26      0000591   37          9       0      1   60           01      False
27      0000591   37          9       0      2   58           02      False
28      0000591   37          9     750      1   22           08      False
29      0000591   37          2     NaN      2   10           08      False
...         ...  ...        ...     ...    ...  ...          ...        ...
44457   0999245   32         13   14000      1   43           01      False
44458   0999379   47         11   45000      1   44           01       True
44459   0999449   37          9   33000      1   40           01      False
44460   0999449   37          9       0      2   34           02      False
44461   0999449   37          4     NaN      2   14           03      False
44462   0999449   37          3     NaN      1   12           03      False
44463   0999498   47          9       0      1   76           01       True
44464   0999498   47          6       0      2   51           02       True
44465   0999498   47          6       0      2   16           03       True
44466   0999581   47         11   30000      1   28           01       True
44467   0999581   47         11   15900      2   25           02       True
44468   0999581   47          0     NaN      1    0           03       True
44469   0999625   47          8   12000      1   44           01       True
44470   0999625   47          3    1400      2   34           02       True
44471   0999627   47          6       0      1   51           01       True
44472   0999627   47          6       0      2   47           02       True
44473   0999627   47          5     500      1   25           05       True
44474   0999627   47          0     NaN      1    0           08       True
44475   0999627   47         10       0      2   21           10       True
44476   0999636   37         10    2000      1   26           01      False
44477   0999657   37          9   12000      2   30           01      False
44478   0999657   37          3     NaN      2   11           03      False
44479   0999753   47         10       0      2   58           01       True
44480   0999765   47          9   30000      2   46           01       True
44481   0999820   37          7     300      2   44           01      False
44482   0999820   37          1     NaN      1    5           08      False
44483   0999820   37          7       0      1   42           13      False
44484   0999826   37          8       0      2   29           01      False
44485   0999826   37          5     NaN      1   14           03      False
44486   0999826   37          1     NaN      1    8           03      False

[44487 rows x 8 columns]

We can now do grouping operations to create a `groupby` series that separates white from non-white households.

In [27]:
grouped0 = p_df['income'].groupby(p_df['white_only'])

In [28]:
grouped0

In [29]:
grouped0.mean()

white_only
False    11294.922766
True     17556.744213
Name: income, dtype: float64

This number seems rather low.  One reason is we're including those people outside the universe
in the calculation (5 year old children, for example), giving them income 0.
We fix this as follows:

In [30]:
grouped2 = p_df[p_df['income']>0]['income'].groupby(p_df['white_only'])

Let's break this apart into pieces.

In [ ]:
p_df[p_df['income']>0]

      serial_no race  education    income gender  age relationship  white_only
0       0000117   47         12   47300.0      1   31           01        True
1       0000117   47         12   24300.0      2   25           02        True
4       0000127   47         10   22000.0      2   35           02        True
6       0000127   47          7    5000.0      1   18           17        True
7       0000134   47         13   13000.0      2   23           01        True
10      0000218   47          9   21800.0      1   20           01        True
11      0000246   37         14   32000.0      2   26           01       False
12      0000410   47         13   56000.0      1   34           01        True
13      0000436   47         13   42000.0      1   46           01        True
14      0000436   47         14   70000.0      2   45           02        True
18      0000574   37         13   24000.0      1   48           01       False
21      0000584   47          9   17000.0      2   40           01        True
22      0000584   47          8    7000.0      1   22           03        True
28      0000591   37          9     750.0      1   22           08       False
30      0000609   47         12  148000.0      1   49           01        True
32      0000609   47          9    1400.0      1   18           03        True
35      0000786   47         11   42000.0      1   52           01        True
36      0000786   47          9   26700.0      2   49           02        True
40      0001033   47          9   31200.0      1   55           01        True
41      0001033   47          9   12400.0      2   56           02        True
44      0001102   47         13   24000.0      2   53           02        True
45      0001102   47          5   17000.0      1   23           03        True
46      0001193   37          8    1200.0      1   35           01       False
47      0001208   37         13   30000.0      2   49           01       False
48      0001208   37          9    6000.0      2   18           03       False
49      0001281   37          6   24000.0      1   44           01       False
50      0001281   37          9   23000.0      2   43           02       False
51      0001281   37          9    1800.0      1   20           03       False
54      0001350   47          9   14000.0      1   65           01        True
56      0001427   47          2    9800.0      1   68           01        True
...         ...  ...        ...       ...    ...  ...          ...         ...
44419   0998525   47         11   28500.0      1   28           01        True
44420   0998525   47         13   65000.0      2   26           02        True
44421   0998553   47         16   21900.0      2   43           01        True
44422   0998553   47          7    3800.0      2   18           03        True
44423   0998553   47         12    8000.0      1   31           19        True
44434   0998736   47         13   50000.0      1   60           01        True
44435   0998736   47         13   27900.0      2   53           02        True
44439   0998803   37          9   15000.0      1   55           01       False
44441   0998803   37          9   23000.0      2   39           06       False
44442   0998803   37          6    3000.0      2   16           13       False
44445   0998844   37          9   23500.0      1   48           01       False
44447   0999036   37          9   21300.0      2   33           01       False
44448   0999036   37          7    1400.0      2   17           03       False
44451   0999036   37          3   24000.0      1   61           07       False
44453   0999232   32          9   41000.0      1   54           01       False
44454   0999232   47         11    7500.0      2   51           02        True
44455   0999243   47          9   29000.0      1   38           01        True
44456   0999243   47          9    6000.0      2   39           02        True
44457   0999245   32         13   14000.0      1   43           01       False
44458   0999379   47         11   45000.0      1   44           01        True
44459   0999449   37          9   33000.0      1   40           01       False
44466   0999581   47         11   30000.0      1   28           01        True
44467   0999581   47         11   15900.0      2   25           02        True
44469   0999625   47          8   12000.0      1   44           01        True
44470   0999625   47          3    1400.0      2   34           02        True
44473   0999627   47          5     500.0      1   25           05        True
44476   0999636   37         10    2000.0      1   26           01       False
44477   0999657   37          9   12000.0      2   30           01       False
44480   0999765   47          9   30000.0      2   46           01        True
44481   0999820   37          7     300.0      2   44           01       False

[20712 rows x 8 columns]

This gives the same 8-column table with records that have no income filtered out, so it's a much shorter table.

In [31]:
p_df[p_df['income']>0]['income']

0        47300.0
1        24300.0
4        22000.0
6         5000.0
7        13000.0
          ...
44473      500.0
44476     2000.0
44477    12000.0
44480    30000.0
44481      300.0
Name: income, Length: 20712, dtype: float64

Now we've got just the income column of that table.  Now we do a `split` step.  For one group 'white_only' = True and for the other,'white_only = False'.

In [32]:
grouped2 = p_df[p_df['income']>0]['income'].groupby(p_df['white_only'])

In [33]:
grouped2.describe()

              count          mean           std  ...      50%      75%       max
white_only                                       ...
False        5229.0  20276.427615  24170.550141  ...  16000.0  26000.0  344000.0
True        15483.0  29245.365239  34740.942975  ...  22400.0  36400.0  344000.0

[2 rows x 8 columns]

The grouping operation is separated from the step where we apply some operation to the groups to get numbers.  For example, let's take mean.

In [34]:
grouped2.mean()

white_only
False    20276.427615
True     29245.365239
Name: income, dtype: float64

And one more time: This time let's sum the incomes in the groups.

In [ ]:
grouped3 = p_df.groupby(['white_only'])

In [ ]:
totals3 = grouped3.income.sum().fillna(0)

In [ ]:
totals3

white_only
False    106025440.0
True     452805990.0
Name: income, dtype: float64

When we created the `groupby` object, we didn't specify a column.  In fact, it contains all the columns, and since all the columns are numerical, we can take the means for all of them:

In [ ]:
totals3 = grouped3.mean().fillna(0)

In [ ]:
totals3

            education        income        age
white_only
False        6.739302  11294.922766  32.321223
True         7.884836  17556.744213  38.566922

A particularly interesting result is that the mean age is higher for the white population.   This might be for a variety of reasons, but it might be worth looking into.

The keys of a `groupby` object are the possible values for the column we grouped by.

In [ ]:
list(totals.keys())

Index([False, True], dtype=object)

In [35]:
grouped2 = p_df[p_df['income']>0]['income'].groupby(p_df['gender'])

In [36]:
grouped2.mean().fillna(0)

gender
1    33706.836926
2    19834.642501
Name: income, dtype: float64

## A more complex example (education)

In [37]:
p_df['white_only'] = p_df['race'].map(lambda x: x == '47')
p_df['high_school'] = p_df['education'].map(lambda x: x >= 9)
p_df2 = p_df.loc[:,['high_school','white_only']]

We make a data frame consisting of just the columns we're interested in using `loc`.

In [38]:
p_df2

       high_school  white_only
0             True        True
1             True        True
2            False        True
3            False        True
4             True        True
...            ...         ...
44482        False       False
44483        False       False
44484        False       False
44485        False       False
44486        False       False

[44487 rows x 2 columns]

We now want counts for the entire data set of each pairing of the high_school diploma
variable with the white_only variable.  This is done with `crosstab`.

In [64]:
xtab = pd.crosstab(p_df2.white_only,p_df2.high_school,margins=True)
xtab

high_school  False   True    All
white_only
False         7059   5630  12689
True         12956  18842  31798
All          20015  24472  44487

Next we'll just divide all the columns of `xtab` by the last:

In [66]:
xtab = xtab.div(xtab['All'],axis=0)
xtab

high_school     False      True  All
white_only
False        0.556309  0.443691  1.0
True         0.407447  0.592553  1.0
All          0.449907  0.550093  1.0

## Levels of education

The next example is very important.  We make a new column defined via a function that computes something based on the value of  one of the existing columns.  The function is called `education`. It sorts education levels into various bins we will use to define a new column called `degrees`.

In [67]:
def education (x):
    
    if 9 <= x <= 11:
        return 'HS'
    elif x == 12:
        return 'AA'
    elif x == 13:
        return 'BA'
    elif x == 14:
        return 'MA'
    elif x > 14:
        return 'HD'
    else:
        return 'ND'
p_df_inc = p_df[p_df['income']>0]
p_df_inc['degrees'] = p_df_inc['education'].map(education)
p_df_inc2 = p_df_inc.loc[:,['degrees','income']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [69]:
p_df_inc2

      degrees   income
0          AA  47300.0
1          AA  24300.0
4          HS  22000.0
6          ND   5000.0
7          BA  13000.0
...       ...      ...
44473      ND    500.0
44476      HS   2000.0
44477      HS  12000.0
44480      HS  30000.0
44481      ND    300.0

[20712 rows x 2 columns]

In [70]:
p_df_inc2.loc[278]

degrees       HS
income     18600
Name: 278, dtype: object

In [71]:
grouped3 = p_df_inc2.groupby(['degrees'])

In [72]:
grouped3.mean()

               income
degrees
AA       29264.865269
BA       42062.469136
HD       84993.113456
HS       23209.507226
MA       44152.826718
ND       17061.500257

What degree adds the least value?

## Assignment

### Find the mean income by gender.

### Using section 1.7 ("A more complex example (education)" as a model, construct a table showing the percentages of those receiving a high school education or better for males and females.

## Potential projects

Here are some ideas for potential projects using the PUMS data.

1) Compare income levels for a variety of levels of education state by state. This can be done
   by creating bins for education level as in the example above.  You may wish to explore different
   bins than the ones used in that example.  For this project you must do at least 10 states, and you must
   choose states that represent some variety in population and urbanization.  You will need to turn in the Python
   notebook, some prose and explaining and justifying what you did (2 pages), and you need to produce some graphs
   plotting education level (x axis) and income levels (y axis).  Make sure you can get the data for
   several states on one plot.  Use different colored lines.  Your intellectual goal is  to decide if differences in
   education level explain the differences in income state by state, or whether there are other major factors. An
   alternative visualization is to use maps like the maps we use for the campaign contribution to represent (state by state)
   percentages of residents with a particular level of education reaching a certain income level. 
   
2) Compare income levels for a variety of levels of education for whites and non-whites.  You can do this in
   several states, optionally but you must do at least one.  You will need to turn in the Python
   notebook, some prose and explaining and justifying what you did (2 pages), and you need to produce some graphs
   plotting education level (x axis) and income levels (y axis).  Make sure you can get the data for
   whites and non-whites on one plot.  Use different colored lines.  Your intellectual goal is  to decide if differences in
   education level explain the differences in income for whites and non whites, or whether there are other major factors.